.button {
   cursor: pointer;
   display: inline-block;
   position: relative;
   top: -2px;
   border: none;
   outline: none;
   padding: 0;
   margin: 0 0 0 4px;
   background-color: transparent;
   height: value('buttonLeft.getHeight', 'px');
}
.button div {
   display: inline-block;
   font-size: 9px !important;
}

@sprite .left {
   gwt-image: 'buttonLeft';
}

@sprite .center {
   gwt-image: 'buttonTile';
}

@sprite .right {
   gwt-image: 'buttonRight';
}
