@CHARSET "UTF-8";
@external rstudio-themes-flat;

.controls {
	padding: 3px;
	border-bottom: 1px solid #d6dadc;
	background-color: #eeeff1;
}

.checkbox {
	float: left;
}

.filter {
	float: right;
}

.rstudio-themes-flat .controls {
   background-color: #f3f4f7;
}