@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

/* DataGrid styling / overrides */

/* Avoid GWT's inset styling for selected cells */
.dataGridKeyboardSelectedRowCell, .dataGridKeyboardSelectedRowCell:active,
.dataGridKeyboardSelectedRowCell:hover, .dataGridKeyboardSelectedRowCell:focus {
	border: 0;
}

.dataGridKeyboardSelectedRowCell:first-child {
	border-left: 2px solid #0AF !important;
}

.dataGridEvenRowCell:first-child, .dataGridOddRowCell:first-child {
	border-left: 2px solid #FFF;
}

.dataGridEvenRowCell, .dataGridOddRowCell {
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.dataGridWidget > div {
	min-height: 18px !important;
}

.dataGridWidget td > div {
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

.dataGridCell {
	font-family: inherit;
	max-width: 100%;
}

.dataGridHeader:active, .dataGridHeader:focus {
	outline: 0;
}

/* Other non-override styling */

.openRowIcon {
	width: 20px !important;
	text-align: center;
	cursor: pointer;
}

.closeRowIcon {
	width: 20px !important;
	text-align: center;
	cursor: pointer;
}

.openRowIcon img, .closeRowIcon img {
	margin-top: 3px;
}

.objectTypeIcon {
	width: 20px !important;
	margin-top: 2px;
}

.valueDesc {
	
}

.cellInnerTable {
	table-layout: fixed;
	width: 100%;
}

.cellInnerTable td {
	padding: 0;
}

.virtual {
	font-style: italic;
}

.verticalAlignHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.clickableIcon {
	text-align: center;
	width: 22px !important;
	height: 20px !important;
}

.clickableIcon img {
	display: inline-block;
	vertical-align: middle;
}

.clickableIcon:hover {
	border-radius: 2px;
	background-color: #efefef;
	cursor: pointer;
}

.clickableIcon:active {
	border-radius: 2px;
	background-color: #e6e6e6;
	cursor: pointer;
}

.moreButton {
	cursor: pointer;
}
