*.tar.bz
*.tar.bz2
*.tar.gz
CEF/
dictionaries/
libclang/
mathjax*/
node-webkit/
overlay/
packrat/
pandoc*/
quarto/
node/
plumber/
profvis/
r2d3/
renv/
rmarkdown/
rsconnect/
rstudioapi/
shinyapps/
yaml-cpp/
