*.tar.bz
*.tar.bz2
*.tar.gz
*.zip
*.zip.1
*.7z
index.html
CEF/
dictionaries/
hunspell-*/
libclang/
mathjax*/
node-webkit/
overlay/
packrat/
pandoc*/
quarto/
copilot-language-server/
node/
plumber/
profvis/
r2d3/
renv/
rmarkdown/
rsconnect/
rstudioapi/
shinyapps/
yaml-cpp/
