dictionaries/
mathjax*/
overlay/
CEF/
node-webkit/
pandoc/
libclang/
packrat/
packrat*.tar.gz
rmarkdown/
rmarkdown*.tar.gz
shinyapps/
shinyapps*.tar.gz
rsconnect/
rsconnect*.tar.gz
profvis/
profvis*.tar.gz
*.tar.bz
*.tar.bz2
