.completionIcon {
	margin-top: -1px;
	margin-bottom: -1px;
	padding-left: 2px;
	padding-right: 6px;
}

.fileIcon {
	margin-top: -1px;
	margin-bottom: -2px;
	padding-left: 2px;
	padding-right: 6px;
}

.completion {
	
}

.packageName {
	padding-right: 8px;
	float: right;
	color: #999;
}
