.completionIcon {
	float: left;
	margin-top: 4px;
	padding-left: 2px;
	padding-right: 6px;
}

.fileIcon {
	float: left;
	margin-top: 2px;
	padding-left: 2px;
	padding-right: 6px;
}

.completion {
	float: left;
}

.packageName {
	float: right;
	padding-right: 8px;
	color: #999;
}
