@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external gwt-Image, gwt-Label;
@external fixedWidthFont;

@external rstudio-themes-dark-menus, rstudio-themes-scrollbars;

.helpPopup {
   color: #000023;
   background-color: #ffffca;
   padding: 1px;
   border: 1px solid #ccc;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   z-index: 9001;
   margin-left: 6px;
   margin-top: -3px;
}

.rstudio-themes-dark-menus .helpPopup {
   color: #eaeaea;
   background: #5e5e4e;
   border: 1px solid #92968e;
}

.helpBodyText p {
   margin-top: 4px;
   margin-bottom: 4px;
}

.helpBodyText a {
   pointer-events: none;
   text-decoration: none;
   color: #000023 !important; 
}

.helpGlimpseText {
   margin: 0;
   padding: 0; 
}

.helpGlimpseText ul {
   padding-inline-start: 0;
}
.helpGlimpseText ul li {
   display: inline-block;
   margin: 2px;  
   padding: 2px;
   border: 1px solid #cfd4d8;
   background-color: #ffffff;
   font-family: fixedWidthFont;
   font-size: 10px;
}

.helpGlimpseText ul li i{
   color: #cfd4d8;
}

.rstudio-themes-dark-menus .helpBodyText a {
   color: #FFF;
}

.rstudio-themes-dark-menus .helpBodyText span {
   color: #bfbfbf !important;
}

.helpTitleText {
   font-weight: bold;
   margin-bottom: 4px;
}

.snippetText {
   font-family: fixedWidthFont;
   white-space: pre-wrap;
}

.roxygenText {
   white-space: pre-wrap;
}

.roxygenText code {
   font-family: fixedWidthFont;
   color: rgb(116, 116, 116);
}

.rstudio-themes-dark-menus .roxygenText code {
   color: #fff4d4;
}

.roxygenTitle {
   font-family: fixedWidthFont;
   color: #2154bf;
   font-weight: bold;
   padding-bottom: 4px;
   width: 100%;
   border-bottom: 1px solid rgba(255, 255, 255, 0.273);
}

.rstudio-themes-dark-menus .roxygenTitle {
   color: #e2eaff;
}

.roxygenSnippet {
   background: rgba(255, 197, 251, 0.53);
}

@if user.agent safari {
.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar {
   background: #FFF;
}

.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar-thumb {
   border: solid 3px rgb(94, 94, 78);
   background: rgb(111, 111, 95);
   -webkit-border-radius: 10px;
}

.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar-track,
.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar-corner { 
   background: rgb(94, 94, 78);
}

.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar-track-piece {
}

.rstudio-themes-dark-menus .rstudio-themes-scrollbars.helpPopup *::-webkit-scrollbar-track {
}
}
