@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external gwt-Image, gwt-Label;
@external fixedWidthFont;

.helpPopup {
   color: #000023;
   background-color: #ffffca;
   padding: 1px;
   border: 1px solid #ccc;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
