

.pm-insert-citation-panel {
  width: 100%;
}

.pm-insert-citation-panel-textbox-container
{
  width: 100%;
}

.pm-insert-citation-panel-textbox {
  width: 100%;
  border: solid 1px;
  margin-right: 10px;
  box-sizing:border-box;
  height: 28px !important;
}

.pm-insert-citation-panel-item {
  display: flex;
  align-items: center;
}

.pm-insert-citation-panel-item-type {
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  position: relative; 
  flex-shrink: 0;
}

.pm-insert-citation-panel-item-right-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.pm-insert-citation-panel-item-right-container-body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  align-items: center;
}

.pm-insert-citation-panel-item-summary {
  
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;

  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  line-height: 20px;
  font-size: 14px;
}

.pm-insert-citation-panel-item-button {
  flex-shrink: 0;
  padding-right: 20px;
  padding-left: 10px;
}

.pm-insert-citation-panel-item-separator {
  border-bottom: solid 1px;
  height: 2px;
}

.pm-insert-citation-panel-item-icon {
  border: solid 1px;
  border-radius: 2px;
  padding: 4px;
  height: 24px;
  width: 24px;
  margin-top: 1px;
  margin-right: 6px;
  filter: opacity(0.8);
}

.pm-insert-citation-panel-item-adorn {
  border: solid 1px;
  border-radius: 2px;
  height: 6px;
  width: 6px;
  padding: 2px;
  position: absolute;
  bottom: -3px;
  right: 1px;
  filter: opacity(1.0) !important;
  z-index: 900;
}

.pm-insert-citation-panel-item-id {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.pm-insert-citation-panel-item-title {
  margin-right: 8px;
  font-weight: 500;
  font-size: 11pt;
  opacity: 0.8;
}

.pm-insert-citation-panel-item-detail {
  font-size: 10pt;
  opacity: 0.6;
}

.pm-insert-citation-panel-item-subtitle-text {
  flex-shrink: 1;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;

  line-height: 18px;
  font-size: 10pt;
  opacity: 0.6;
}