@external gwt-Label, gwt-TextBox;


.dialog {
   width: 350px;
   margin-bottom: 12px;
   position: relative;
}
	   
.dialog label,
.dialog .gwt-Label {
   margin-bottom: 4px;
}

.dialog .infoLabel {
   color: #606060;
   font-size: 0.7rem;
   margin-top: 5px;
}

.dialog .fullWidth{
   width: 98%;
}

.dialog .fullWidth select {
	width: 100%;
}

.spaced {
   margin-bottom: 10px;
}

.dialog .checkBox  input[type="checkbox"] {
   margin-right: 5px; 
}  

.dialog .textArea {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #c3c5c7;
   border-radius: 4px;
   width: 100%;
}

