.pm-symbol-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1px;
}

.pm-symbol-grid-cell {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1px;
}

.pm-symbol-grid {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.pm-symbol-grid-symbol-preview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px;
}

.pm-symbol-grid-symbol-preview-symbol {
  font-size: xx-large;
}

.pm-symbol-grid-symbol-preview-name {
  font-size: xx-small; 
  margin: 4px;
}

.pm-symbol-grid-symbol-preview-codepoint {
  font-size: xx-small; 
}