/* text-overflow: ellipsis; */

.bg {
  border: 8px solid white;
  border-right: 12px solid white;
  border-bottom: 14px solid white;
  -webkit-border-image: url(border.png) 8 12 14 8 round round;
  -moz-border-image: url(border.png) 8 12 14 8 round round;
}

.header {
  font-weight: light;
  font-size: 12pt;
  text-align: center;
  margin-bottom: 0.5em;
}

.header-left {
  font-weight: light;
  font-size: 12pt;
  margin-bottom: 0.5em;
}

.header-main {
  font-weight: light;
  font-size: 18pt;
}

.table {
  width: 100%;
  font-size: 8pt;
  border-spacing: 0px 0px;
  border-collapse: collapse;
}

.table th {
  border-bottom: 1px solid #ccc;
}

.table td {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.table tfoot th {
  border-width: 0px;
}
