@charset "UTF-8";

@external rstudio-themes-light;
@external rstudio-themes-dark;

.labelTabbed {
   margin-left: 4px;
   margin-right: 6px;
   font-size: 9pt;
}

.labelUntabbed {
   display: inline-block;
   margin-right: 6px;
   font-size: 9pt;
}

.rstudio-themes-light .label {
   color: black;
}

.rstudio-themes-dark .label {
   color: white;
}
