/*-- scss:defaults --*/

// Colors
$primary: #4d8dc9; /* rstudio blue */

// Text and Links
$body-color: #404040; /* rstudio dark gray, matches rstudio.com */
$headings-color: #404040; /* rstudio dark gray, matches rstudio.com */
$code-color: #702459; /* constrast ratio: 8.94 */
$link-color: darken($primary, 8%);
$link-hover-color: darken($link-color, 8%);

// Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: #888888;
$navbar-hl: #000000;
$navbar-brand: $body-color;
$navbar-brand-hl: $navbar-brand;

// Customize the sidebar
$sidebar-bg: #ffffff;
$sidebar-fg: #404040;

// Customize the footer color
$footer-fg: lighten(#404040, 30%);

/* workbench variables */
$pro-header: #4d4d4d; /* rstudio logo gray, contrast: 8.45 */
$pro-header-border: lighten($pro-header, 50%);

/*-- scss:rules --*/

/* styling underlined links */
a {
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.15em;
}

/* increase padding around code blocks */
pre.sourceCode.code-with-copy {
  padding: 1rem 25px 1rem 1rem;
}

/* increase title letter spacing to lighten it up */
.navbar-brand {
  letter-spacing: 0.05rem;
}

/* increase padding around navbar links so less squished */
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0rem 1rem;
}

/* increase padding between sidebar nav items */
.sidebar-navigation .sidebar-section.depth1 {
  padding-bottom: 0.2rem; /* double the default */
}

.sidebar nav[role=doc-toc] ul > li a.active {
  color: #295b89 !important;
  font-weight: normal;
  letter-spacing: -0.01em;
}

/* yes this is actually a default selector and needs to be overridden to improve contrast ratio */
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  color: #295b89 !important;
}

/* the PRO header */
.pro-header > h1:after,
.pro-header > h2:after,
.pro-header > h3:after,
.pro-header > h4:after,
header h1 .pro-header {
  content: "pro";
  text-transform: uppercase;
  margin-left: 1em;
  position: relative;
  top: -0.5em;
}

.pro-header > h1:after,
.pro-header > h2:after,
.pro-header > h3:after,
.pro-header > h4:after,
header h1 .pro-header,
div span.pro-feature {
  display: inline-block;
  color: $pro-header;
  border: 1px solid $pro-header-border;
  font-weight: 400;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.pro-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

/* Navbar */

#quarto-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Logo */

.navbar-brand img {
  width: 3rem;
  height: 3rem;
  margin-right: 0rem;
  margin-bottom: 0.3125rem; /* align the logo with text */
}

.sidebar.sidebar-navigation a.active {
  border-left: 3px solid #4c83b6;
  padding-left: 0.5em;
}

/* darken nav page text */
.nav-page .nav-page-text {
  color: $pro-header;
}

/* Code blocks */

p.code-title {
  color: #3c3c3c;
  background-color: rgba(219, 219, 219, 0.8);
  margin: 1em 0 -1.2em;
  padding: 0.1em 1em;
  font-size: 0.9em;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

div.code-title {
  color: #3c3c3c;
  background-color: rgba(219, 219, 219, 0.8);
  margin: 1em 0 -1.2em;
  padding: 0.1em 1em;
  font-size: 0.9em;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

pre .code-noselect {
  color: #aaa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding-right: 6px; */
}

pre code::-webkit-scrollbar-thumb:hover,
.codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #4c83b6 !important;
}
