
@external search;

.codeSearchWidget .search {
   width: 140px;
}

.functionImage {
	position: relative;
	top: 1px;
	margin-right: 5px;
}

.functionName {
   margin-right: 7px;
}

.functionContext {
   color: #888;
}

.codeSearchDialogMainWidget {
	width: 250px;
}

.codeSearchDialogMainWidget .codeSearchWidget .search {
   width: 100%;	
}