
@external search;

.codeSearchWidget .search {
   width: 140px;
}

.itemImage {
	position: relative;
	top: 1px;
	margin-right: 5px;
}

.itemName {
   margin-right: 7px;
}

.itemContext {
   color: #888;
}

.codeSearchDialogMainWidget {
	width: 250px;
}

.codeSearchDialogMainWidget .codeSearchWidget .search {
   width: 100%;	
}