body, html {
  height: 100%;
}
body {
  background: #fff;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  margin: 8px;
  margin-top: 3px;
}

a { 
  color: #000;
}

a:visited {
  color: #000; 
}

.gwt-DialogBox {
  background-color: white;
}

.gwt-DialogBox .Caption {
  background: url(gradient.gif) repeat-x 0px -1px;
  font-weight: bold;
  cursor: default;
  padding: 5px 10px;
  border: 1px solid #666;
  text-align: left;
}

.gwt-DialogBox .dialogContent {
  border: 1px solid #666;
  border-top: 0;
}

.gwt-DialogBox td {
  text-align: right;
}

.gwt-DialogBox .gwt-Button {
  margin: 10px;
}

.gwt-MenuBar {
  background: #c3d9ff;
  cursor: default;
}

.gwt-MenuItem {
  font-size: 80%;
  margin: 1px;
  cursor: default;
}

.gwt-MenuItem-selected {
  background: #e8eef7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: 80%;
  padding: 1px 3px 0 3px;
  cursor: hand;
  cursor: pointer;
  display: block !important;
}

.gwt-Tree .gwt-TreeItem-selected {
  background: #ccc;
}

.gwt-DecoratedStackPanel {
  width: 15em;
  border-bottom: 1px solid #666;
}
.gwt-DecoratedStackPanel .lcaption {
  width: 32px;
  padding: 0 0 4px 5px;
}
.gwt-DecoratedStackPanel .rcaption {
  padding: 0 0 4px 5px;
}
.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border: 1px solid #666;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
}
.gwt-DecoratedStackPanel .stackItemTopLeft,
.gwt-DecoratedStackPanel .stackItemTopRight {
  width: 4px;
  height: 4px;
  zoom: 1;
}
html>body .gwt-DecoratedStackPanel .stackItemTopLeft {
  background: #c1eec8 url(leftCorner.gif) no-repeat;
  border-left: 1px solid #666;
}
html>body .gwt-DecoratedStackPanel .stackItemTopRight {
  background: #c1eec8 url(rightCorner.gif) no-repeat;
  border-right: 1px solid #666;
}
.gwt-DecoratedStackPanel .stackItemTopLeftInner,
.gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 4px;
  height: 4px;
}
* html .gwt-DecoratedStackPanel .stackItemTopLeftInner {
  overflow: hidden;
  border-left: 1px solid #666;
  background-color: #d3def6;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='leftCorner.gif',sizingMethod='crop');
}
* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
  overflow: hidden;
  border-right: 1px solid #666;
  background-color: #d3def6;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rightCorner.gif',sizingMethod='crop');
}
.gwt-DecoratedStackPanel .stackItemTopCenter {
  background: #ddefde url(gradient.gif) repeat-x 0px 0px;
}
.gwt-DecoratedStackPanel .stackItemMiddleLeft {
  background: #d3def6 url(gradient.gif) repeat-x 0px -1px;
  border-left: 1px solid #666;
}
.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,
.gwt-DecoratedStackPanel .stackItemMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedStackPanel .stackItemMiddleRight {
  background: #d3def6 url(gradient.gif) repeat-x 0px -1px;
  border-right: 1px solid #666;
}
.gwt-DecoratedStackPanel .stackItemMiddleCenter {
  font-weight: bold;
  font-size: 1.3em;
  background: #d3def6 url(gradient.gif) repeat-x 0px -1px;
}
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft {
  border: 0px;
  background-color: white;
}
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight {
  background-color: white;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRightInner {
  border: 0px;
  background-color: white;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner {
  padding-left: 1px;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRightInner {
  background-color: white;
}

.mail-TopPanel {
  height: 60px;
}

.mail-TopPanel table {
  font-size: 80%;
}

.mail-TopPanel .gwt-Image {
  margin-left: 10px;
  position: absolute;
}

.mail-TopPanelLinks {
  font-size: 80%;
}

.mail-AboutText {
  width: 24em;
  font-size: 80%;
  padding: 10px;
  text-align: left;
}

.mail-Contacts td, .mail-Tasks td {
  padding: 4px 0 0 0;
}

.mail-Contacts table {
  font-size: 80%;
}

.mail-Tasks table {
  font-size: 80%;
}

.mail-List {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 80%;
  cursor: pointer;
  cursor: hand;
}

.mail-List td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0 2px 10px;
}

.mail-ListHeader td {
  border-top: none;
}

.mail-ListHeader {
  background: #c1eec8 url(gradient.gif) repeat-x 0px -1px;
  font-weight: bold;
}

.mail-ListHeader .mail-ListNavBar .gwt-HTML {
  font-weight: bold;
}

.mail-ListHeader td {
  padding: 2px 0 2px 10px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.mail-ListNavBar table {
  font-size: 80%;
}

.mail-ListNavBar td {
  border: none;
}

.mail-ListNavBar a {
  margin: 0 8px;
}

.mail-SelectedRow td {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

.mail-SelectedRow {
  background: #eee;
}

.mail-Toolbar .gwt-Image {
}

.mail-ToolButton {
  font-size: 80%;
  width: 10em;
}

.mail-Detail {
  border: 1px solid #666;
  margin-top: 4px;
}

.mail-DetailHeader {
  background: #eee;
  border-bottom: 1px solid #666;
  padding: 6px 4px;
}

.mail-DetailHeader td {
  padding: 0;
}

.mail-DetailInner {
  background-color: white;
  font-size: 80%;
}

.mail-DetailSubject {
  padding: 2px 10px;
  font-weight: bold;
}

.mail-DetailSender {
  font-size: 80%;
  padding: 2px 10px;
}

.mail-DetailRecipient {
  font-size: 80%;
  padding: 2px 10px;
}

.mail-DetailBody {
  line-height: 150%;
  padding: 20px 40px 20px 10px;
  font-family: 'Times New Roman', Times, serif;
}

.mail-ContactPopup {
  background: #fff;
  border: 1px solid #666;
  padding: 4px;
}

.mail-ContactPopupName {
  font-size: 80%;
  font-weight: bold;
}

.mail-ContactPopupEmail {
  font-size: 80%;
  font-style: italic;
}

.mail-StackContent {
  height: 100%;
}

.mail-Contacts {
  border-bottom: none;
}
