.cellTableWidget {
   table-layout: fixed;
   width: 100%;
}
.cellTableWidget td {
   white-space: pre;
   overflow: hidden;
   text-overflow: ellipsis;
}

.cellTableCell {
   padding-top: 0;
   padding-bottom: 0;
   height: 24px;
}