.splitPanel {}
.toolbarWrapper {}
.whitebg {}
.toolbar {}

.commitDetail {
   border: 12px solid transparent;
}

.commitTableScrollPanel {
   background-color: white;
}

.ref, .tag {
   font-size: 80%;
   border-radius: 8px;
   background-color: green;
   padding: 0 6px;
   margin-right: 4px;
}

.head {
   background-color: rgb(182, 231, 231);
}

.branch {
   background-color: rgb(206, 182, 251);
}

.remote {
   background-color: rgb(213, 218, 255);
}

.tag {
   background-color: rgb(255, 229, 170);
}

.graphLineImg {
   display: block;
}

.toolbarInnerWrapper {
}

.diffToolbarInnerWrapper {
}

.diffToolbarWrapper {
}