@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external gwt-SplitLayoutPanel-VDragger, gwt-SplitLayoutPanel-HDragger;

/** BEGIN SHARED BETWEEN HISTORY AND REVIEW PANELS **/

.splitPanel {
   background-color: #f3f4f4;
}
@sprite .splitPanel .gwt-SplitLayoutPanel-VDragger {
   gwt-image: 'splitterTileV';
}
@sprite .splitPanelCommit .gwt-SplitLayoutPanel-HDragger {
   gwt-image: 'splitterTileH';
}

.whitebg {
   background-color: white;
}

.toolbar {
   background-image: none !important;
}

@sprite .toolbarWrapper {
   position: relative;
   gwt-image: 'toolbarTile';
   padding-top: 2px;
   font-size: 11px;
}

/** END SHARED BETWEEN HISTORY AND REVIEW PANELS **/


.splitPanelCommit {
   background-color: #f3f4f4;
   font-size: 11px;
}

.stagedLabel {
   display: inline;
   margin-right: 8px;
}

.staged {
   margin-right: 8px;
}

.unstaged {
   margin-right: 22px;
}

.diffToolbar {
   float: left;
   width: auto;
}

.diffViewOptions {
   position: absolute;
   right: 6px;
   top: 2px;
   bottom: 2px;
   width: auto;
   text-align: right;
}

.commitMessage {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   resize: none;
   border: 1px solid #c3c5c7;
   border-radius: 4px;
   padding: 3px;
   margin: 0;
   font-family: fixedWidthFont;
   font-size: 11px;
}

.commitButton {
   float: right;
   margin-right: -1px;
}

.filenameLabel {
   display: inline;
   position: relative;
   top: 3px;
   font-size: 11px;
   font-weight: bold;
   color: #353d4a;
   margin-right: 30px;
}

.fileInfoWrapper {
   float: left;
   margin-left: 6px;
}

.fileIcon {
   float: left;
   display: block;
   position: relative;
   top: 2px;
   margin-right: 3px;
}
