
@external ubuntu_mono;

.captionIcon {
   margin-top: -1px;
   margin-right: 5px;
}

.captionLabel {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   font-size: 11px;
   cursor: default;
}

/* nudge caption text up for the Ubuntu font under Chrome */
@if rstudio.desktop false {
@if user.agent safari { .ubuntu_mono .captionLabel {
   margin-top: -2px;
   }
}
}