/*
 * RStudio-specific extensions to the PDF.js viewer CSS.
 */

.toolbarButton#jumpToSource::before {
  content: url(images/toolbarButton-jumpToSource.png);
}

@media screen and (min-resolution: 2dppx) {
   .toolbarButton#jumpToSource::before {
      content: url(images/toolbarButton-jumpToSource_2x.png);
   }
}


html[dir="ltr"] .secondaryToolbarButton > span {
   padding-left:  4px;
   padding-right: 4px;
}

