/build/
build_*/
build-*/
*-build/
qtcreator-build
.DS_Store
src/gwt/www/js/acesupport.js
src/gwt/www/js/ace.js
src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/acesupport.js
src/gwt/src/org/rstudio/core/client/jsonrpc/json2.min.js
src/gwt/www/js/json2.min.js
src/gwt/tools/ace/
src/gwt/tools/pdfjs/
src/gwt/tools/xterm.js/
src/gwt/.ant-targets-build.xml
/src/gwt/.gwt/.gwt-log
.Rproj.user
.Rhistory
.RData
.Rprofile
/src/gwt/bin.test/
/src/gwt/gwt-unitCache/
NEWS.html
CONTRIBUTING.html
CMakeLists.txt.user
.idea/
**/\.tern-port
.#*
*.autosave
*~
*swp
.orig
.vagrant
tags
GPATH
GRTAGS
GSYMS
GTAGS

