@external rstudio-themes-dark;

@eval THEME_DARK_ROW_SELECTED org.rstudio.core.client.theme.ThemeColors.darkRowSelected;

.dataGridHoveredRow {
  background: rgba(181, 213, 255, 0.5);
}

.rstudio-themes-dark .dataGridHoveredRow {
  background: THEME_DARK_ROW_SELECTED;
}

.dataGridCell {
  border: 0px;
  padding: 3px !important;
}

.statusColumn {
}


