@CHARSET "UTF-8";

.mainWidget {
   width: 510px;
   height: 320px;
}

.wizardBodyPanel {
   width: 533px; 
   height: 264px;
   margin-left: -10px;
   margin-right: -13px;

   border-top: solid 1px #dadadb;
   border-bottom: solid 1px #dadadb;
}