.mainWidget {
   width: 510px;
   height: 330px;
}

.wizardBodyPanel {
   width: 533px; 
   height: 274px;
   margin-left: -10px;
   margin-right: -13px;
   border-top: 1px solid #dcdcdc;
}

@sprite .newConnectionWizardBackground {
   gwt-image: 'newConnectionWizardBackground';
}