@external gwt-Image;
@external macintosh;

@external rstudio-themes-flat, rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.getDarkGreyBorder();

.infoPanel {
   width: 500px;
   margin-top: 8px;
   margin-bottom: 6px;
   color: #4d4d4d;
}

.infoPanel .gwt-Image {
   margin-right: 4px;
}

.helpLink {
   margin-top: 6px;
}

.codeGrid {
   margin-top: 9px;
   margin-bottom: 10px;
}

.leftLabel {
   margin-right: 4px;
}

.codeViewer {
   border: 1px solid #BBB !important;
   background-color: #FFF;
   width: 100% !important;
   height: 75px !important;
   font-size: 9pt;
}

.codeViewer {
   border: 1px solid #BBB !important;
   background-color: #FFF;
   width: 100% !important;
   height: 75px !important;
   font-size: 9pt;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .codeViewer {
   border: 1px solid THEME_DARKGREY_BORDER !important;
}

.dialogCodePanel {
   width: 500px !important;
}

.macintosh .codeViewer {
   font-size: 8pt;
}

.codePanelHeader {
   margin-bottom: 4px;
}


