@CHARSET "UTF-8";

@external gwt-Label;
@external gwt-Image;


.grid {
  margin-bottom: 5px;
}

.versionGrid {
  margin-top: 10px;
}


.masterGrid.remote tbody>tr:last-child {
  display: none;
}

.masterGrid.remote {
  margin-bottom: 6px;
}

.label {
  width: 150px;
}

.spanningInput {
  width: 250px;
}

.infoPanel {
  width: 400px;
  margin-top: 8px;
  color: #4d4d4d;
}

.infoPanel .gwt-Image {
  margin-right: 4px;
}

.helpLink {
  margin-top: 6px;
}

.installCheckBox {

}
