@CHARSET "UTF-8";

@external gwt-Label;
@external gwt-Image;
@external macintosh;


.grid {
  margin-bottom: 5px;
}

.versionGrid {
  margin-top: 7px;
}

.masterGrid.remote {
  margin-bottom: 5px;
}

.label {
  width: 150px;
}

.spanningInput {
  width: 300px;
}

.infoPanel {
  width: 450px;
  margin-top: 8px;
  margin-bottom: 6px;
  color: #4d4d4d;
}

.infoPanel .gwt-Image {
  margin-right: 4px;
}

.helpLink {
  margin-top: 6px;
}

.codeGrid {
  margin-top: 9px;
  margin-bottom: 10px;
}

.leftLabel {
  margin-right: 4px;
}

.codeViewer {
  border: 1px solid #BBB !important;
  background-color: #FFF;
  width: 100% !important;
  height: 65px !important;
  font-size: 9pt;
}

.dialogCodePanel {
  width: 450px !important;
}

.macintosh .codeViewer {
  font-size: 8pt;
}

.componentNotInstalledWidget {
   width: 325px;
   margin-left: 10px;
}

.componentInstallLink {
   margin-top: 10px;
   margin-bottom: 20px;
}

.codePanelHeader {
   margin-bottom: 4px;
}


