@CHARSET "UTF-8";

@external gwt-Label;


.grid {
  margin-bottom: 5px;
}

.versionGrid {
  margin-top: 15px;
}


.masterGrid.remote tbody>tr:last-child {
  display: none;
}

.masterGrid.remote {
  margin-bottom: 6px;
}

.label {
  width: 150px;
}

.spanningInput {
  width: 250px;
}

.helpLink {
  margin-top: 6px;
}

.installCheckBox {

}
