
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();


.cellTreeWidget {
}

.cellTreeEmptyMessage {
  text-align: center;
  font-style: normal;
  margin-top: 50px;
  color: #888;
  outline: none;
  cursor: default;
}


.cellTreeItem {
  padding-top: 1px;
  padding-bottom: 1px;
}
.cellTreeItemImage {

}

.cellTreeItemImageValue {
}

.cellTreeItemValue {
  font-family: fixedWidthFont;
  padding-right: 0px;
  cursor: default;
}

.cellTreeOpenItem {

}
.cellTreeTopItem {
  font-weight: normal;
  margin-top: 0;
  padding: 2px 0px 2px 6px !important;
}

.cellTreeTopItemImage,
.cellTreeItemImage {
  width: 14px !important;
  height: 14px !important;
}

.cellTreeTopItemImageValue,
.cellTreeItemImageValue {
  padding-left: 14px !important;
  border-bottom: none;
}

.cellTreeTopItemImage > img, 
.cellTreeItemImage > img {
  width: 14px !important;
  height: 14px !important;
  background-size: 14px 14px !important;
}

.cellTreeKeyboardSelectedItem {
  background: white;
}

.fieldName {
  float: left;
  margin-right: 7px;
}

.fieldType {
  color: #707070;
}

.tableViewDataset, 
.containerIcon {
   float: right;
   width: 16px;
   height: 16px;
   margin-right: 16px;
}

.tableViewDataset {
   cursor: pointer;
}


