
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();


.cellTreeWidget {
  
}

.cellTreeEmptyMessage {
  text-align: center;
  font-style: normal;
  margin-top: 50px;
  color: #888;
}


.cellTreeItem {
  padding-top: 1px;
  padding-bottom: 1px;
}
.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
}

.cellTreeItemValue {
  font-family: fixedWidthFont;
}

.cellTreeOpenItem {
  
}
.cellTreeTopItem {
  margin-top: 0;
  padding: 2px 13px 2px 6px !important;
}
.cellTreeTopItemImage {
  
}
.cellTreeTopItemImageValue {
  border-bottom: none;
}


