
.captionLabel {
   font-weight: bold;
   color: #494949;
}

.menuElement {
   cursor: default;
}

.functionName {
   margin-left: 7px;
   padding-right: 7px;
}

.functionNamespace {
   color: #888;
   padding-right: 6px;
}

.dropDownImage {
   margin-bottom: 2px;
}

.readOnly {
   margin-right: 7px;
   color: #888;
}