@charset "UTF-8";

@external rstudio-themes-flat;
@external rstudio-themes-dark;
@external rstudio-themes-scrollbars;
@external editor_dark;
@external ace_editor_theme;
@external sourceLine
@external odd
@external even

.rstudio-themes-flat.editor_dark div#TOC,
.rstudio-themes-flat.editor_dark h1,
.rstudio-themes-flat.editor_dark h2,
.rstudio-themes-flat.editor_dark h3,
.rstudio-themes-flat.editor_dark h4,
.rstudio-themes-flat.editor_dark table {
   background: none !important;
}

.rstudio-themes-flat.editor_dark h1,
.rstudio-themes-flat.editor_dark h2,
.rstudio-themes-flat.editor_dark h3,
.rstudio-themes-flat.editor_dark h4 {
   border-color: #6A6A6A !important;
}

.rstudio-themes-flat.editor_dark ::selection {
   background-color: #CCC;
}

.rstudio-themes-flat.rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar,
.rstudio-themes-flat.rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar {
   background: #FFF;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme a.sourceLine {
   color: #A3A3A3 !important;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme pre,
.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme pre code {
   background-color: #333;
   color: #F7F7F7;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme p code {
   color: white !important;
   background: none;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme table thead,
.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme table tr.even {
   background-color: #333 !important;
   border-color: #999 !important;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme table tr.odd {
   border-color: #999 !important;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme table th,
.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme table td {
   border-color: #666 !important;
}

.rstudio-themes-flat.rstudio-themes-dark.editor_dark.ace_editor_theme blockquote {
   background-color: #333 !important;
   border-radius: 3px;
}
