

.mainWidget {
   width: 400px;
}

.headerPanel {
   margin-bottom: 12px;
}

.headerLabel {
	margin-left: 12px;
	font-weight: bold;
	font-size: 16px;
   display: none;
}

.warningLabel {
	margin-top: 15px;
	margin-bottom: 15px;
}

.fieldLabel {
	margin-bottom: 2px;
}

.titleTextBox {
	width: 99%;
	margin-bottom: 10px;
}

.commentTextArea {
	width: 99%;
}

.descLabel {
	margin-bottom: 14px;
}

.progressImage {
   margin-right: 5px;
}
