.dialogFooter {
  margin-top: 30px !important;
}

.dialogFooterActions {
  justify-content: space-between !important;
}

.dialogFooterActionsLeft {
  :global {
    .bp3-button:first-of-type {
      margin-left: 0 !important;
    }
  }
}

.dialogFooterActionsRight {
  margin-left: auto;
}

:global {
  .bp3-control-group:not(.bp3-vertical) > * {
    margin-right: 10px !important;
  }
  .bp3-control-group:not(.bp3-vertical) > *:last-of-type {
    margin-right: -1px !important; 
  }
}




