body {
  background: url(bg.png) repeat-x;
  background-color: rgb(216, 220, 224);
  color: black;
  margin: 8px;
  margin-top: 3px;
}

body, table {
  font-family: Helvetica Neue Light, Helvetica, Arial, sans-serif; */
  font-weight: light;
  font-size: small;
}

div.gwt-sstree-column {
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
}

div.gwt-sstree {
}

div.gwt-sstree-selectedItem {
  background-color: rgb(56, 117, 215);
}

div.gwt-sstree-evenRow {
  background-color: rgb(255, 255, 255);
}

div.gwt-sstree-oddRow {
  background-color: rgb(220, 220, 220);
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.playerScoreBox {
  border: 1px solid #777;
  padding:3px;
  background: #eee;
  margin-bottom: 5px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-DialogBox {
  border: 8px solid white;
  border-right: 11px solid white;
  border-bottom: 11px solid white;
  -webkit-border-image: url(blueborder.png) 8 11 11 8 round round;
  -moz-border-image: url(blueborder.png) 8 11 11 8 round round;
}

.gwt-DialogBox .Caption {
  font-weight: light;
  font-size: 12pt;
  text-align: center;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.gwt-SplitLayoutPanel-HDragger {
  background: transparent url(hsplitter-grip.png) center center no-repeat;
}

.gwt-SplitLayoutPanel-VDragger {
  background: transparent url(vsplitter-grip.png) center center no-repeat;
}
