@external ace_editor_theme, editor_dark;

.callFrame
{
   padding-left: 5px;
   padding-right: 5px;
   border: 1px solid transparent;
   font-size: 90%;
   margin-bottom: 2px;
   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.activeFrame
{
   background-color: #FFEE9B;
   cursor: default;
}

.editor_dark .ace_editor_theme .activeFrame {
   background-color: rgba(255, 255, 255, 0.20);
}

.noSourceFrame
{
   color: #A0A0A0;
}

.hiddenFrame
{
   display: none;
}
