.callFrame
{
   padding-left: 5px;
   padding-right: 5px;
   cursor: pointer;
   border: 1px solid transparent;
   font-size: 90%;
   margin-bottom: 2px;
   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.activeFrame
{
   background-color: #FFEE9B;
   cursor: default;
}

.noSourceFrame
{
	color: #A0A0A0;
}

.hiddenFrame
{
	display: none;
}
