@def callFrameHeight 17px;
@def callFrameMargin 2px;

.callFrame
{
   padding-left: 5px;
   padding-right: 5px;
   cursor: pointer;
   border: 1px solid transparent;
   font-size: 90%;
   margin-bottom: callFrameMargin;
   width: 100%;
   height: callFrameHeight;
   box-sizing: border-box;
   overflow-x: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.activeFrame
{
   background-color: #D0D0FF;
   cursor: default;
}

.topFrame
{
   border: 1px solid #707070;
}