@def callFramePanelMargin 12px;

.frameList
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.framePanel
{
    margin-bottom: callFramePanelMargin;
}

.executionArrow
{
   position: absolute;
   left: 3px;
   top: 2px;
}
