@def headerRowHeight 20px;

.categoryHeaderRow
{
   background-color: #f0f0f0;
   font-weight: bold;
   height: headerRowHeight;
}

.expandIcon
{
   position: relative;
   top: 1px;
   left: 3px;
   height: 14px;
   width: 14px;
}

.unclickableIcon
{
	cursor: default;
}

.unevaluatedPromise
{
   color: #a0a0a0;
}

.widthSettingRow
{
   margin: 0px;
   padding: 0px;
}

td.nameCol
{
   width: 25%;
   text-overflow: ellipsis;
   overflow-x: hidden;
   border: 1px solid #f0f0f0;
   border-left: none;
   background: none;
}

td.expandCol
{
   border: 1px solid #f0f0f0;
   border-right: none;
   width: 20px;
}

td.valueCol
{
   border: 1px solid #f0f0f0;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow-x: hidden;
   padding-right: 20px;
   background-color: #ffffff;
}

.widthSettingRow td.expandCol,
.widthSettingRow td.nameCol,
.widthSettingRow td.valueCol
{
   margin: 0px;
   padding: 0px;
   height: 0px;
   border: none;
}

.categoryHeaderText
{
   padding-left: 5px;
}

.clickableCol
{
}

td.decoratedValueCol
{
   padding-right: 35px;
}

.detailRow
{
   border: 1px solid #f0f0f0;
   font-size: 90%;
}

.detailRow td
{
   padding-left: 10px;
   padding-right: 20px;
   border: none;
   white-space: nowrap;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.objectList table,
.objectList td
{
   border-collapse: collapse;
}
