@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@external gwt-SplitLayoutPanel-VDragger;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.defaultBorder;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.alternateBorder;

@eval THEME_DEFAULT_BACKGROUND org.rstudio.core.client.theme.ThemeColors.defaultBackground;
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;
@eval THEME_ALTERNATE_BACKGROUND org.rstudio.core.client.theme.ThemeColors.alternateBackground;

@def headerRowHeight 20px;

.environmentPane
{
   font-family: fixedWidthFont;
   background-color: #e0e0e0;
}

.environmentPane .gwt-SplitLayoutPanel-VDragger {
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
   height: 6px !important;
}

.environmentPanel
{
   background-color: #ffffff;
}

.objectGrid
{
   height: 100%;
   width: 100%;
   cursor: default;
}

.objectGrid td:focus
{
   outline: none;
}

.objectGrid td.nameCol
{
   width: 25%;
   text-overflow: ellipsis;
   overflow-x: hidden;
   border: 1px solid #f0f0f0;
   border-left: none;
   background: none;
}

.objectGrid td.expandCol
{
   border: 1px solid #f0f0f0;
   border-right: none;
   width: 20px;
}

.objectGrid td.valueCol
{
   border: 1px solid #f0f0f0;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow-x: hidden;
   padding-right: 20px;
   background-color: #ffffff;
}

.objectGrid td.clickableCol
{

}

.objectGrid td.decoratedValueCol
{
   padding-right: 35px;
}

.objectGrid .detailRow
{
   border: 1px solid #f0f0f0;
   font-size: 90%;
}

.objectGrid .detailRow td
{
   padding-left: 10px;
   padding-right: 20px;
   border: none;
   white-space: nowrap;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.categoryHeaderRow
{
   background-color: #f0f0f0;
   font-weight: bold;
   height: headerRowHeight;
}

.rstudio-themes-dark .categoryHeaderRow
{
   font-weight: 400;
}

.categoryHeaderText
{
   padding-left: 5px;
}

.emptyEnvironmentPanel
{
   text-align: center;
   margin-top: 30%;
}

.emptyEnvironmentMessage
{
   font-family: proportionalFont;
   font-size: 90%;
}

.unclickableIcon
{
   cursor: default;
}

.unevaluatedPromise
{
   color: #a0a0a0;
}

.widthSettingRow
{
   margin: 0px;
   padding: 0px;
}

.widthSettingRow td.expandCol,
.widthSettingRow td.resizeCol,
.widthSettingRow td.nameCol,
.widthSettingRow td.valueCol
{
   margin: 0px;
   padding: 0px;
   height: 0px;
   border: none;
}

.fillHeight
{
   height: 100%;
}

.rstudio-themes-default .objectGrid td.nameCol,
.rstudio-themes-default .objectGrid td.expandCol,
.rstudio-themes-default .objectGrid td.valueCol,
.rstudio-themes-default .objectGrid .detailRow,
.rstudio-themes-default .categoryHeaderRow,
.rstudio-themes-default .environmentPane .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_DEFAULT_BORDER;
}

rstudio-themes-dark-grey .objectGrid td.nameCol,
rstudio-themes-dark-grey .objectGrid td.expandCol,
rstudio-themes-dark-grey .objectGrid td.valueCol,
rstudio-themes-dark-grey .objectGrid .detailRow,
rstudio-themes-dark-grey .categoryHeaderRow,
rstudio-themes-dark-grey .environmentPane .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-alternate .objectGrid td.nameCol,
.rstudio-themes-alternate .objectGrid td.expandCol,
.rstudio-themes-alternate .objectGrid td.valueCol,
.rstudio-themes-alternate .objectGrid .detailRow,
.rstudio-themes-alternate .categoryHeaderRow,
.rstudio-themes-alternate .environmentPane .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_ALTERNATE_BORDER;
}

.rstudio-themes-default .categoryHeaderRow {
   background: THEME_DEFAULT_BACKGROUND;
}

.rstudio-themes-dark-grey .categoryHeaderRow {
   background: THEME_DARKGREY_BACKGROUND;
}

.rstudio-themes-alternate .categoryHeaderRow {
   background: THEME_ALTERNATE_BACKGROUND;
}
