@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

.environmentPane
{
   font-family: fixedWidthFont;
   background-color: #e0e0e0;
}

.environmentPanel
{
   background-color: #ffffff;
}

.objectGrid
{
   height: 100%;
   width: 100%;
}

.objectGrid table,
.objectGrid td
{
   border-collapse: collapse;
}

.objectGrid td:focus
{
   outline: none;
}

.objectGrid td.nameCol
{
   width: 25%;
   text-overflow: ellipsis;
   overflow-x: hidden;
   border: 1px solid #f0f0f0;
   border-left: none;
   background: none;
}

.objectGrid td.expandCol
{
   border: 1px solid #f0f0f0;
   border-right: none;
   width: 20px;
}

.objectGrid td.valueCol
{
   border: 1px solid #f0f0f0;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow-x: hidden;
   padding-right: 20px;
}

.objectGrid td.clickableCol
{
   cursor: pointer;
}

.objectGrid td.dataFrameValueCol
{
   padding-right: 35px;
}

.objectGrid .detailRow
{
   border: 1px solid #f0f0f0;
   font-size: 90%;
}

.objectGrid .detailRow td
{
   padding-left: 10px;
   padding-right: 20px;
   border: none;
   white-space: nowrap;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.categoryHeaderRow
{
   background-color: #f0f0f0;
   font-family: proportionalFont;
   font-weight: bold;
}

.categoryHeaderText
{
   padding-left: 5px;
}

.emptyEnvironmentPanel
{
   text-align: center;
   margin-top: 30%;
}

.emptyEnvironmentName
{
   font-size: 110%;
}

.emptyEnvironmentMessage
{
   font-family: proportionalFont;
   font-size: 90%;
   color: #909090;
}

.expandIcon
{
   position: relative;
   top: 1px;
   left: 3px;
}

.unevaluatedPromise
{
   color: #a0a0a0;
}

.widthSettingRow
{
   margin: 0px;
   padding: 0px;
}

.widthSettingRow td.expandCol,
.widthSettingRow td.nameCol,
.widthSettingRow td.valueCol
{
   margin: 0px;
   padding: 0px;
   height: 0px;
   border: none;
}

.fillHeight
{
   height: 100%;
}



