@external rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.defaultBorder;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.alternateBorder;

.objectGridColumn,
.objectGridHeader
{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-left: 4px;
}

th.objectGridHeader
{
   font-family: proportionalFont;
   border-bottom: 1px solid #d6dadc;
   border-right: 1px solid #d6dadc;
   color: #3c474d;
   background-color: #eeeff1;
   font-weight: normal;
   text-align: left;
   border-collapse: separate;
   font-size: 11px;
   padding: 0px;
   padding-left: 2px;
   padding-right: 2px;
   height: 16px;
}

.rstudio-themes-dark th.objectGridHeader {
   color: white;
}

th.objectGridHeader:last-child {
   border-right: none;
}

.valueColumn
{
   padding-right: 15px;
}

.objectGrid table
{
   border-collapse: separate;
}

.checkColumn, 
th.checkColumn
{
   text-align: center;
}

.checkColumn input
{
   margin: 0px;
}

.decoratedValueCol
{
   padding-right: 35px;
}

.rstudio-themes-default .objectGridHeader {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-dark-grey .objectGridHeader {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-alternate .objectGridHeader {
   border-color: THEME_ALTERNATE_BORDER;
}
