@def headerRowHeight 20px;

@external rstudio-themes-flat, rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.defaultBorder;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.alternateBorder;

.categoryHeaderRow
{
   background-color: #f0f0f0;
   font-weight: bold;
   height: headerRowHeight;
}

.rstudio-themes-flat .categoryHeaderRow
{
   color: #000;
   font-weight: normal;
}

.rstudio-themes-flat .rstudio-themes-dark .categoryHeaderRow
{
   color: #FFF;
}

.expandIcon
{
   position: relative;
   top: 1px;
   left: 3px;
   height: 14px;
   width: 14px;
}

.unclickableIcon
{
   cursor: default;
}

.unevaluatedPromise
{
   color: #a0a0a0;
}

.widthSettingRow
{
   margin: 0px;
   padding: 0px;
}

td.nameCol
{
   width: 25%;
   text-overflow: ellipsis;
   overflow-x: hidden;
   border: 1px solid #f0f0f0;
   border-left: none;
   background: none;
}

td.expandCol
{
   border: 1px solid #f0f0f0;
   border-right: none;
   border-left: none;
   width: 20px;
}

td.resizeCol {
   width: 0px;
   border: none;
   position: relative;
}

td.valueCol
{
   border: 1px solid #f0f0f0;
   white-space: pre;
   text-overflow: ellipsis;
   overflow-x: hidden;
   padding-right: 20px;
   background-color: #ffffff;
   padding-left: 5px;
}

.rstudio-themes-flat td.valueCol
{
   background-color: inherit;
}

.widthSettingRow td.expandCol,
.widthSettingRow td.nameCol,
.widthSettingRow td.resizeCol,
.widthSettingRow td.valueCol
{
   margin: 0px;
   padding: 0px;
   height: 0px;
   border: none;
}

.categoryHeaderText
{
   padding-left: 5px;
}

.rstudio-themes-flat .categoryHeaderText
{

}

.clickableCol
{
}

td.decoratedValueCol
{
   padding-right: 35px;
}

.detailRow
{
   border: 1px solid #f0f0f0;
   font-size: 90%;
}

.detailRow td
{
   padding-left: 10px;
   padding-right: 20px;
   border: none;
   white-space: pre;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.objectList table,
.objectList td
{
   border-collapse: collapse;
}

.rstudio-themes-flat .rstudio-themes-default td.nameCol,
.rstudio-themes-flat .rstudio-themes-default td.expandCol,
.rstudio-themes-flat .rstudio-themes-default td.valueCol,
.rstudio-themes-flat .rstudio-themes-default td.resizeCol,
.rstudio-themes-flat .rstudio-themes-default .detailRow,
.rstudio-themes-flat .rstudio-themes-default .categoryHeaderRow {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-flat .rstudio-themes-dark-grey td.nameCol,
.rstudio-themes-flat .rstudio-themes-dark-grey td.expandCol,
.rstudio-themes-flat .rstudio-themes-dark-grey td.valueCol,
.rstudio-themes-flat .rstudio-themes-dark-grey td.resizeCol,
.rstudio-themes-flat .rstudio-themes-dark-grey .detailRow,
.rstudio-themes-flat .rstudio-themes-dark-grey .categoryHeaderRow {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-flat .rstudio-themes-alternate td.nameCol,
.rstudio-themes-flat .rstudio-themes-alternate td.expandCol,
.rstudio-themes-flat .rstudio-themes-alternate td.valueCol,
.rstudio-themes-flat .rstudio-themes-alternate td.resizeCol,
.rstudio-themes-flat .rstudio-themes-alternate .detailRow,
.rstudio-themes-flat .rstudio-themes-alternate .categoryHeaderRow {
   border-color: THEME_ALTERNATE_BORDER;
}

.colResizer
{
   cursor: ew-resize;
   width: 6px;
   top: 0px;
   left: -3px;
   height: 100%;
   position: absolute;
}
