@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

.objectGrid
{
   height: 100%;
   font-family: fixedWidthFont;
}

.objectGrid table,
.objectGrid td
{
   border-collapse: collapse;
   border: 1px solid #f0f0f0;
}

td.nameCol
{
   width: 25%;
   text-overflow: ellipsis;
   overflow-x: hidden;
   border-left: none;
}

td.expandCol
{
   border-right: none;
   width: 20px;
}

.valueCol
{
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow-x: hidden;
}

.detailRow
{
   background-color: #f0f0f0;
}