
.wizardWidget {
   margin-left: 2px;
}

.wizardTextEntryLabel {
   margin-bottom: 2px;
}

.wizardMainColumn {
   width: 296px;
}

.wizardSpacer {
   height: 12px;	
}


.newProjectDirectoryName {
   margin-left: 5px;
   width: 97%;	
}

.codeFilesListButton {
   width: 60px;
}

.codeFilesListBox {
   width: 236px;
   margin-right: 4px;
}

.vcsSelectorDesktop {
   margin-top: -2px;
   margin-left: -2px;
}

@if user.agent gecko1_8 { .wizardCheckbox {
   margin-left: -3px;   
   }
}
@else { .wizardCheckbox  {
   }
}

.vcsNotInstalledWidget {
   width: 325px;
   margin-left: 10px;
}

.vcsHelpLink {
   margin-left: -2px;
   margin-top: 8px;
   margin-bottom: 20px;
}