
.wizardWidget {
   margin-left: 2px;
}

.wizardTextEntryLabel {
   margin-bottom: 2px;
}

.wizardTextEntry {
   width: 296px;
}

.wizardSpacer {
   height: 12px;	
}

.vcsSelectorDesktop {
   margin-top: -2px;
   margin-left: -2px;
}