
.wizardWidget {
   margin-left: 2px;
}

.wizardTextEntryLabel {
   margin-bottom: 2px;
}

.wizardTextEntry {
   width: 296px;
}

.wizardSpacer {
   height: 12px;	
}

.vcsSelectorDesktop {
   margin-top: -2px;
   margin-left: -2px;
}

@if user.agent gecko1_8 { .wizardCheckbox {
   margin-left: -3px;   
   }
}
@else { .wizardCheckbox  {
   }
}

.vcsNotInstalledWidget {
   width: 325px;
   margin-left: 10px;
}

.vcsHelpLink {
   margin-left: -2px;
   margin-top: 8px;
   margin-bottom: 20px;
}