@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external fixedWidthFont;
@external ace_editor, ace_text-layer, ace_gutter, ace_gutter-layer, ace_gutter-cell, ace_info;
@external ace_info, ace_warning, ace_error;
@external ace_breakpoint, ace_inactive-breakpoint, ace_pending-breakpoint, ace_executing-line;
@external ace_chunk-queued-line, ace_chunk-executed-line, ace_chunk-resting-line, ace_chunk-error-line;
@external ace_sb;
@external cueText;
@external search;
@external highlight, disabled;
@external gwt-Button, gwt-Button-DialogAction, gwt-Button-DefaultDialogAction;
@external gwt-CheckBox, gwt-RadioButton;
@external gwt-DialogBox, gwt-DialogBox-ModalDialog;
@external gwt-PopupPanelGlass;
@external gwt-Label;
@external gwt-MenuItem, gwt-MenuItem-selected, subMenuIcon, subMenuIcon-selected;
@external gwt-MenuItemSeparator, menuSeparatorInner;
@external gwt-MenuBar, gwt-MenuBar-vertical;
@external gwt-SplitLayoutPanel-HDragger, gwt-SplitLayoutPanel-VDragger;
@external gwt-SuggestBoxPopup, item-selected;
@external gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTab-selected;
@external gwt-TabLayoutPanelContentContainer, gwt-TabLayoutPanelTabs;
@external gwt-TabLayoutPanelContent;
@external gwt-TabLayoutPanel-Workbench;
@external gwt-TabLayoutPanelTabs;
@external gwt-DecoratedPopupPanel;
@external editor_dark;

@external windowframe, windowframe-maximized, windowframe-exclusive;

@external windows, windows-highdpi, macintosh, linux;
@external ubuntu_mono;

@external gwt-TabLayoutPanel;
@external gwt-TabLayoutPanelTabInner;

@external rstudio-themes-flat, rstudio-themes-dark;

@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@external rstudio-themes-background, rstudio-themes-inverts;

@external dataGridSortedHeaderAscending, dataGridSortedHeaderDescending;

@eval THEME_DEFAULT_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getDefaultBackground();
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getDarkGreyBackground();
@eval THEME_ALTERNATE_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getAlternateBackground();
@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.getDefaultBorder();
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.getDarkGreyBorder();
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.getAlternateBorder();
@eval THEME_GLOBAL_INACTIVE org.rstudio.core.client.theme.ThemeColors.getInactiveBackground();

@external dialogTopLeft, dialogTopLeftInner,
      dialogTopCenter, dialogTopCenterInner,
      dialogTopRight, dialogTopRightInner,
      dialogMiddleLeft, dialogMiddleCenter,
      dialogMiddleCenterInner, dialogMiddleRight, dialogBottomLeft,
      dialogBottomCenter, dialogBottomRight,
      dialogContent;

@external popupTopLeft, popupTopLeftInner,
      popupTopCenter, popupTopCenterInner,
      popupTopRight, popupTopRightInner,
      popupMiddleLeft, popupMiddleCenter,
      popupMiddleCenterInner, popupMiddleRight, popupBottomLeft,
      popupBottomCenter, popupBottomRight;

@external Caption;

@external EditDialog;

@external avoid-move-cursor;

@url DIALOGTOPLEFT dialogTopLeft;
@url DIALOGTOP dialogTop;
@url DIALOGTOPRIGHT dialogTopRight;
@url DIALOGLEFT dialogLeft;
@url DIALOGRIGHT dialogRight;
@url DIALOGBOTTOMLEFT dialogBottomLeft;
@url DIALOGBOTTOM dialogBottom;
@url DIALOGBOTTOMRIGHT dialogBottomRight;
@url PODTOPLEFT podTopLeft;
@url PODTOP podTop;
@url PODTOPRIGHT podTopRight;
@url PODLEFT podLeft;
@url PODRIGHT podRight;
@url PODBOTTOMLEFT podBottomLeft;
@url PODBOTTOM podBottom;
@url PODBOTTOMRIGHT podBottomRight;
@url HORIZONTALHANDLE horizontalHandle;
@url VERTICALHANDLE verticalHandle;
@url BACKGROUNDGRADIENT backgroundGradient;
@url MAXIMIZE maximize2x;
@url MAXIMIZESELECTED maximizeSelected2x;
@url RESTORE restore2x;
@url RESTORESELECTED restoreSelected2x;
@url MINIMIZE minimize2x;
@url MINIMIZESELECTED minimizeSelected2x;
@url PODMINIMIZEDLEFT podMinimizedLeft;
@url PODMINIMIZEDRIGHT podMinimizedRight;
@url PODMINIMIZEDTILE podMinimizedTile;

@url TABBACKGROUND tabBackground;

@url TOOLBARBACKGROUND toolbarBackground;
@url TOOLBARBACKGROUND2 toolbarBackground2;
@url DESKTOPGLOBALTOOLBARBACKGROUND desktopGlobalToolbarBackground;
@url WEBGLOBALTOOLBARLEFT webGlobalToolbarLeft;
@url WEBGLOBALTOOLBARRIGHT webGlobalToolbarRight;
@url WEBGLOBALTOOLBARTILE webGlobalToolbarTile;

@url MULTIPODACTIVETABLEFT multiPodActiveTabLeft;
@url MULTIPODACTIVETABRIGHT multiPodActiveTabRight;
@url MULTIPODACTIVETABTILE multiPodActiveTabTile;
@url MULTIPODTABLEFT multiPodTabLeft;
@url MULTIPODTABRIGHT multiPodTabRight;
@url MULTIPODTOP multiPodTop;
@url MULTIPODTOPFADE multiPodTopFade;

@url SEARCHFIELDLEFT searchFieldLeft;
@url SEARCHFIELDTILE searchFieldTile;
@url SEARCHFIELDRIGHT searchFieldRight;

@url WORKSPACESECTIONHEADERTILE workspaceSectionHeaderTile;

@url ACTIVEBREAKPOINT activeBreakpoint2x;
@url INACTIVEBREAKPOINT inactiveBreakpoint2x;
@url PENDINGBREAKPOINT pendingBreakpoint2x;
@url EXECUTINGLINE executingLine2x;

@url INFO syntaxInfo2x;
@url WARNING syntaxWarning2x;
@url ERROR syntaxError2x;

@url INFODARK syntaxInfoDark2x;
@url WARNINGDARK syntaxWarningDark2x;
@url ERRORDARK syntaxErrorDark2x;

@url HANDCURSOR handCursor2x;

@url MACCHECK macCheck2x;
@url RADIOBUTTONON radioButtonOn2x;

body.windows, body.macintosh, body.linux {}

body {
   background: BACKGROUNDGRADIENT repeat-x top #e1e2e5;
}

body {
   font-family: proportionalFont;
   font-size: 12px;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

select {
   font-size: 12px;
}

@if rstudio.desktop true {
.macintosh select {
   font-size: 11px;
   text-indent: 0.1em;
}
}

input[type=text] {
   font-family: proportionalFont;
}
input[type=text][disabled] {
   background-color: transparent;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
   color: black;
}
.fixedWidthFont {
   font-family: fixedWidthFont !important;
}

.gwt-Label {
   cursor: default;
}

.selectableText {
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

@if rstudio.desktop false {
@if user.agent safari {
.macintosh .forceMacScrollbars ::-webkit-scrollbar { 
   -webkit-appearance: none; 
   width: 12px; 
   height: 12px; 
}
   
.macintosh .forceMacScrollbars ::-webkit-scrollbar-track {
   
   background: rgb(251,251,251);
   -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.35);
   -webkit-border-radius: 5px;
}   
   
.macintosh .forceMacScrollbars ::-webkit-scrollbar-thumb { 
  
   border: 2px solid rgb(251,251,251);
   background: rgba(0,0,0,.22);
   -webkit-border-radius: 6px;
   -webkit-background-clip: padding-box;
}
}
@else {
.forceMacScrollbars {}	
}
}
@else {
.forceMacScrollbars {}
}

.gwt-DialogBox input[type=text] {
   border: 1px solid #999;
   height: 17px;
}
.gwt-DialogBox .search input[type=text] {
   border: none;
   height: 100%;
}

iframe {
   border: none;
}

button {
   cursor: pointer;
}
.handCursor {
	cursor: pointer;
}

@if rstudio.desktop true {
.linux button {
   cursor: HANDCURSOR 9 5, pointer;
}

.linux .handCursor {
    
   cursor: HANDCURSOR 9 5, pointer;
}
}

textarea {
   outline: none;
}

pre {
  font-family: fixedWidthFont;
  font-size: 12px;
}

.ace_editor {
   border: none !important;
}

.ace_editor, .ace_text-layer {
  font-family: fixedWidthFont !important;
}

.ace_breakpoint,
.ace_pending-breakpoint,
.ace_inactive-breakpoint,
.ace_executing-line
{
   background-position: 12% center !important;
   background-repeat: no-repeat !important;
}

.ace_breakpoint
{
   background-image: ACTIVEBREAKPOINT !important;
   background-size: 10px 10px;
}

.ace_pending-breakpoint
{
	background-image: PENDINGBREAKPOINT !important;
   background-size: 10px 10px;
}

.ace_inactive-breakpoint
{
	background-image: INACTIVEBREAKPOINT !important;
   background-size: 10px 10px;
}

.ace_executing-line
{
	background-image: EXECUTINGLINE !important;
   background-size: 10px 10px;
}


.ace_gutter-cell.ace_chunk-queued-line,
.ace_gutter-cell.ace_chunk-error-line
{
   position: relative;
}

.ace_chunk-queued-line:before,
.ace_chunk-error-line:before
{
   position: absolute;
   top: 0;
   right: 3px;
   content: '';
   display: block;
   height: 100%;
   width: 7px;
   z-index: -100;
}

.ace_chunk-queued-line:before
{
   background-color: rgb(24, 163, 82);
   opacity: 0.3;
}

.ace_chunk-error-line:before
{
   background-color: rgb(201, 90, 96);
}

.ace_chunk-error-line:before,
.ace_chunk-executed-line:before
{
   opacity: 1;
}

.ace_chunk-resting-line:before
{
   transition: opacity 500ms ease;
   opacity: 0;
}


.ace_sb
{
	z-index: 6;
}

.gwt-MenuBar {
   cursor: default;
}

.gwt-MenuBar>table {
   border-spacing: 0;
}
.gwt-MenuBar-vertical {
   cursor: default;
}

.gwt-MenuBar .subMenuIcon {
   width: 7px;
}

.gwt-MenuItem {
   padding: 4px;
   white-space: nowrap;
}
.gwt-MenuItem.disabled {
   color: #888;
   background-image: none;
}
.gwt-MenuItem.disabled img {
   opacity: 0.3;
}

.gwt-MenuItemSeparator .menuSeparatorInner{
   border-top: #BABABA 1px solid;
   margin-top: 1px;
   margin-bottom: 2px;
}

.scrollableMenuBar .gwt-MenuItem {
   padding-right: 20px;
}

.menuRightImage {
   cursor: pointer;
}


.highlight {
   color: #900 !important;
}

@if rstudio.desktop false {
.gwt-PopupPanelGlass {
   background-color: black;
   filter: literal("alpha(opacity = 15)") !important;
   opacity: 0.15; /* non-IE */
   z-index: 1000;
}
}

@if rstudio.desktop true {
@sprite .gwt-PopupPanelGlass {
   gwt-image: 'clear';
}
}


.cueText {
   color: #CCC;
}

.adornedText {
   color: #606060;
}


/** Dialogs **/

.miniDialogPopupPanel {
}

.miniDialogPopupPanel .miniDialogContainer {
   position: relative;
   top: -32px;
   margin-bottom: -32px;
}

.miniDialogPopupPanel .miniDialogCaption {
	font-weight: normal;
   font-size: 11px;
   cursor: default;
   margin-bottom: 10px;
   margin-left: -2px;
   padding-top: 1px;
}

.miniDialogPopupPanel .miniDialogTools {
	position: relative;
	top: -2px;
	right: -12px;
}

.gwt-DialogBox-ModalDialog, .gwt-DecoratedPopupPanel {
   z-index: 1000;
}

.gwt-SuggestBoxPopup {
   z-index: 1000;	
   cursor: default;
}

.gwt-DialogBox .dialogTopLeft, .miniDialogPopupPanel .popupTopLeft {
   background: DIALOGTOPLEFT no-repeat;
}
.gwt-DialogBox .dialogTopLeft, .gwt-DialogBox .dialogTopLeftInner, .miniDialogPopupPanel .popupTopLeft, .miniDialogPopupPanel .popupTopLeftInner {
   width: 32px;
   height: 32px;
}
.gwt-DialogBox .dialogTopCenter, .miniDialogPopupPanel .popupTopCenter {
   background: DIALOGTOP repeat-x;
   height: 32px;
}
.gwt-DialogBox .dialogTopCenterInner .Caption {
   font-weight: normal;
   font-size: 11px;
   cursor: default;
   padding-top: 7px;
   margin-top: 1px;
   margin-left: -2px;
}
.gwt-DialogBox .dialogTopRight, .miniDialogPopupPanel .popupTopRight {
   background: DIALOGTOPRIGHT no-repeat;
}
.gwt-DialogBox .dialogTopRight, .gwt-DialogBox .dialogTopRightInner, .miniDialogPopupPanel .popupTopRight, .miniDialogPopupPanel .popupTopRightInner {
   width: 32px;
   height: 32px;
}
.gwt-DialogBox .dialogMiddleLeft, .miniDialogPopupPanel .popupMiddleLeft {
   background: DIALOGLEFT repeat-y;
   width: 32px;
}
.gwt-DialogBox .dialogMiddleCenter, .miniDialogPopupPanel .popupMiddleCenter {
   background: #F3F4F4;
}
.gwt-DialogBox .dialogMiddleCenterInner, .miniDialogPopupPanel .popupMiddleCenterInner {
   margin: 12px -1px -8px -1px;
   position: relative;
   z-index: 100;
}

.dialogBottomPanel {
   margin-top: 8px;
}

.gwt-DialogBox .dialogMiddleRight, .miniDialogPopupPanel .popupMiddleRight {
   background: DIALOGRIGHT repeat-y;
   width: 32px;
}
.gwt-DialogBox .dialogBottomLeft, .miniDialogPopupPanel .popupBottomLeft {
   background: DIALOGBOTTOMLEFT no-repeat;
   width: 32px;
   height: 32px;
}
.gwt-DialogBox .dialogBottomCenter, .miniDialogPopupPanel .popupBottomCenter {
   background: DIALOGBOTTOM repeat-x;
}
.gwt-DialogBox .dialogBottomRight, .miniDialogPopupPanel .popupBottomRight {
   background: DIALOGBOTTOMRIGHT no-repeat;
   width: 32px;
   height: 32px;
}

.header {
   height: 28px;
   padding: 0 0 4px 32px;
   font-size: 11px;
}

.header * {
   white-space: nowrap;
}

.rstudio-themes-flat table.header {
   padding: 0 0 4px 0px;
}

.rstudio-themes-flat table.header > tbody > tr > td {
   border-bottom: solid 1px #d6dadc;
}

.mainMenu {
   font-size: 11px;
   font-weight: bold;
   color: #494949;
   margin-left: 18px;
}

.rstudio-themes-flat .mainMenu {
   margin-left: 58px;
}

.mainMenu .gwt-MenuItem {
   padding: 5px 9px 5px 9px;
   height: 15px;
   text-shadow: 0px 1px 0px #FFFFFF;
}
.mainMenu .gwt-MenuItem-selected {
   text-shadow: none;
}
.mainMenu .gwt-MenuItem-selected span {
   color: white !important;
   opacity: 1.0;
}

.rstudio-themes-flat .rstudio-themes-dark .mainMenu .gwt-MenuItem {
   text-shadow: 0px 1px 0px #000;
   color: #FFF;
   font-weight: 400;
}

.gwt-MenuItem-selected, .subMenuIcon-selected, .gwt-SuggestBoxPopup .item-selected {
   background-color: #D6E9F8;
}
.mainMenu .gwt-MenuItem-selected, .mainMenu .subMenuIcon-selected {
   background-color: #79B7F1;
   color: white;
   height: 3px;
}

.windowframe .maximize {
   background-image: MAXIMIZE;
   z-index: 50;
   background-size: 14px 14px;
}
.windowframe-maximized .maximize,
.windowframe-exclusive .maximize {
   background-image: RESTORE;
   z-index: 50;
   background-size: 14px 14px;
}
.rstudio-themes-flat .windowframe-maximized .maximize:hover,
.rstudio-themes-flat .windowframe-exclusive .maximize:hover {
   background-image: RESTORE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .windowframe-maximized .maximize:hover,
.rstudio-themes-flat .rstudio-themes-dark .windowframe-exclusive .maximize:hover {
   filter: brightness(1.50);
}
.windowframe .minimize {
   background-image: MINIMIZE;
   z-index: 50;
   background-size: 14px 14px;
}
.windowframe .maximize:hover {
   background-image: MAXIMIZESELECTED;
   background-size: 14px 14px;
}
.rstudio-themes-flat .windowframe .maximize:hover {
   background-image: MAXIMIZE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .windowframe .maximize:hover {
   filter: brightness(1.50);
}
.windowframe-maximized .maximize:hover,
.windowframe-exclusive .maximize:hover {
   background-image: RESTORESELECTED;
   background-size: 14px 14px;
}
.rstudio-themes-flat .windowframe-maximized .maximize:hover,
.rstudio-themes-flat .windowframe-exclusive .maximize:hover {
   background-image: RESTORE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .windowframe-maximized .maximize:hover,
.rstudio-themes-flat .rstudio-themes-dark .windowframe-exclusive .maximize:hover {
   filter: brightness(1.50);
}
.windowframe .minimize:hover {
   background-image: MINIMIZESELECTED;
   background-size: 14px 14px;
}
.rstudio-themes-flat .windowframe .minimize:hover {
   background-image: MINIMIZE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .windowframe .minimize:hover {
   filter: brightness(1.50);
}

.windowframe-exclusive .minimize {
   display: none;
}

.windowframe {
   -webkit-font-smoothing: subpixel-antialiased;
}

.windowFrameWidget {

}

.consoleOnlyWindowFrame {

}

.consoleWidgetLayout {

}

.consoleHeaderLayout {

}

.consoleMinimizeLayout {

}

.consoleMaximizeLayout {

}

.rstudio-themes-flat .windowFrameObject > div:last-child {
   border: solid 1px #d6dadc;
   border-radius: 3px 3px 0px 0px;
   left: 2px !important;
   top: 2px !important;
   right: 2px !important;
   bottom: 2px !important;
}

.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame {
   border: solid 1px #d6dadc;
   border-radius: 3px 3px 0px 0px;
   left: 2px !important;
   top: 3px !important;
   right: 2px !important;
   bottom: 2px !important;
   overflow: hidden;
}

.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout {
   left: 0px !important;
   top: 0px !important;
   right: 0px !important;
   bottom: 0px !important;
}

.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader {
   margin-right: 0px;
   margin-bottom: 2px;
   border-bottom: solid 1px #d6dadc;
}

.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame div.consoleWidgetLayout {
   border: none;
   left: 0px !important;
   top: 24px !important;
   right: 0px !important;
   bottom: 0px !important;
}

.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame .consoleMinimizeLayout {
   top: 5px !important;
   right: 25px !important;
}
.rstudio-themes-flat .windowFrameObject.consoleOnlyWindowFrame .consoleMaximizeLayout {
   top: 5px !important;
   right: 7px !important;
}

.macintosh #rstudio_console_input {
   margin-left: -1px;
}

/* on the Mac specifically, keeping the ACE input textarea on the same z-index
 * as the text causes rendering problems in Safari (see case 4093), and lifting
 * it above the text causes it to intercept unwanted events (e.g. clicks for
 * double-click), so send it beneath the text. */
.macintosh #rstudio_source_text_editor.ace_editor > textarea {
   z-index: -5;
}

/* the opposite must be done for the console due to the z-indices of the
 * elements it contains */
.macintosh #rstudio_console_input.ace_editor > textarea {
   z-index: 5;
}

.C  { background-color: white; }
.N  { background-image: PODTOP; }
.NE { background-image: PODTOPRIGHT; }
.E  { background-image: PODRIGHT; }
.SE { background-image: PODBOTTOMRIGHT; }
.S  { background-image: PODBOTTOM; }
.SW { background-image: PODBOTTOMLEFT; }
.W  { background-image: PODLEFT; }
.NW { background-image: PODTOPLEFT; }

.rstudio-themes-flat .C  { display: none; }
.rstudio-themes-flat .N  { display: none; }
.rstudio-themes-flat .NE { display: none; }
.rstudio-themes-flat .E  { display: none; }
.rstudio-themes-flat .SE { display: none; }
.rstudio-themes-flat .S  { display: none; }
.rstudio-themes-flat .SW { display: none; }
.rstudio-themes-flat .W  { display: none; }
.rstudio-themes-flat .NW { display: none; }

.minimizedWindow .left {
   width: 8px;
   background-image: PODMINIMIZEDLEFT;
}
.minimizedWindow div {
   height: 30px;
}
.minimizedWindow .right {
   width: 8px;
   background-image: PODMINIMIZEDRIGHT;
}
.minimizedWindow .minimize {
   width: 14px;
   height: 14px;
   background: RESTORE center no-repeat;
   margin: 4px 4px 0 0;
   background-size: 14px 14px;
}
.minimizedWindow .maximize {
   width: 14px;
   height: 14px;
   background: MAXIMIZE center no-repeat;
   margin: 4px 3px 0 0;
   background-size: 14px 14px;
}
.minimizedWindow .maximize:hover {
   background-image: MAXIMIZESELECTED;
   background-size: 14px 14px;
}
.rstudio-themes-flat .minimizedWindow .maximize:hover {
   background-image: MAXIMIZE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .minimizedWindow .maximize:hover {
   filter: brightness(1.50);
}
.minimizedWindow .minimize:hover {
   background-image: RESTORESELECTED;
   background-size: 14px 14px;
}
.rstudio-themes-flat .minimizedWindow .minimize:hover {
   background-image: RESTORE;
   filter: brightness(0.4);
}
.rstudio-themes-flat .rstudio-themes-dark .minimizedWindow .minimize:hover {
   filter: brightness(1.50);
}
.minimizedWindow .center {
   background-image: PODMINIMIZEDTILE;
   padding-top: 3px;
   padding-bottom: 5px;
}
.minimizedWindow .title {
   margin-left: -4px;
}
.minimizedWindow {
   margin-left: -1px;
   margin-right: -1px;
}



.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
   background-color: transparent !important;
   border: 0px;
   cursor: move;
}
body.avoid-move-cursor .gwt-SplitLayoutPanel-HDragger {
	cursor: e-resize;
}
body.avoid-move-cursor .gwt-SplitLayoutPanel-VDragger {
   cursor: n-resize;
}
.gwt-SplitLayoutPanel-HDragger {
   background: VERTICALHANDLE no-repeat center;
}
.gwt-SplitLayoutPanel-VDragger {
   background: HORIZONTALHANDLE no-repeat center;
}

.primaryWindowFrameHeader {
   padding: 4px 0 0 12px;
   margin-right: 10px;
   white-space: nowrap;
}

.title, .subtitle {
   display: inline;
   color: black;
   font-size: 11px;
   font-weight: bold;
   text-shadow: white 0px 1px 0px;
   cursor: default;
}

.rstudio-themes-flat .title,
.rstudio-themes-flat .subtitle {
   text-shadow: #eef7fb 1px 0;
}

.rstudio-themes-flat .rstudio-themes-dark .title,
.rstudio-themes-flat .rstudio-themes-dark .subtitle {
   color: white;
   text-shadow: none;
   font-weight: 400;
}

.subtitle {
   color: #999;
   margin-left: 6px;
}

.gwt-TabLayoutPanelTab {
   float: left;
}

/** Document tabs **/
/*
@def TABSTRIPHEIGHT 24px;
@def TABHEIGHT 18px;

.docTabPanel .gwt-TabLayoutPanelTabs {
   background-image: TABBACKGROUND;
   height: 100%;
   padding-left: 6px;
   font-size: 11px;
}

.docTabPanel .gwt-TabLayoutPanelTab {
   cursor: default;
   margin-right: 2px;
   background: inherit;
}
.docTabPanel .gwt-TabLayoutPanelTab-selected {
}
*/
.docTabPanel .closeTabButton {
   margin-top: 4px;
   margin-left: 3px;
}
.gwt-TabLayoutPanel-Workbench .gwt-TabLayoutPanelTab .closeTabButton {
   position: relative;
   top: 5px;
   margin-left: 4px;
}
.closeTabButton {
   filter: literal("alpha(opacity = 40)") !important;
   opacity: 0.4;
}

.closeTabButton:hover {
   filter: literal("alpha(opacity = 100)") !important;
   opacity: 1.0;
}
.tabLayout {
}
.docTabPanel.moduleTabPanel .gwt-TabLayoutPanelTab .gwt-Label {
   font-weight: normal;
   padding-top: 0;
}
.docTabIcon {
   margin-top: 2px;
   margin-right: 3px;
}
.docTabLabel {
   overflow: hidden;
   max-width: 200px;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.docMenuScroll {
   overflow-y: scroll !important;
   overflow-x: hidden;
   margin: -4px;
   padding-right: 15px;
}

/*
.docTabPanel .tabLayout {
   height: TABSTRIPHEIGHT;
}
@sprite .docTabPanel .tabLayoutLeft {
   gwt-image: 'docTabLeft';
}
@sprite .docTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutLeft {
   gwt-image: 'activeDocTabLeft';
}

@sprite .docTabPanel .tabLayoutCenter {
   gwt-image: 'docTabTile';
   padding-right: 2px;
   padding-left: 6px;
   vertical-align:middle;
}
@sprite .docTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutCenter {
   gwt-image: 'activeDocTabTile';
}

@sprite .docTabPanel .tabLayoutRight {
   gwt-image: 'docTabRight';
}
@sprite .docTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutRight {
   gwt-image: 'activeDocTabRight';
}
*/

.dirtyTab {
   color: #a00;
}

.dirtyTabIndicator {
   display: none;
}
.dirtyTab .dirtyTabIndicator {
   display: inline;
}

/** Module tabs **/
.gwt-TabLayoutPanelTab {
   cursor: default;
}

.moduleTabPanel .gwt-TabLayoutPanelTabs {
   font-size: 11px;
   height: 24px;
   background: MULTIPODTOP top repeat-x;
   background-color: white;
   cursor: default;
}

.moduleTabPanel .gwt-TabLayoutPanelTab {
   font-size: 11px;
   background: inherit;
}
.moduleTabPanel.minimized .gwt-TabLayoutPanelTab {
   margin-top: -1px;
}

.moduleTabPanel .gwt-TabLayoutPanelTab .tabLayoutLeft {
   width: 3px;
   height: 23px;
   background: MULTIPODTABLEFT right top no-repeat;
}
.moduleTabPanel .gwt-TabLayoutPanelTab .tabLayoutCenter {
   height: 23px;
   padding-left: 6px;
   padding-right: 6px;
}
.moduleTabPanel .gwt-TabLayoutPanelTab .tabLayoutRight {
   width: 3px;
   height: 23px;
   background: MULTIPODTABRIGHT left top no-repeat;
}
.moduleTabPanel .gwt-TabLayoutPanelTab .gwt-Label {
   font-weight: bold;
   padding-top: 4px;
}

.rstudio-themes-flat .rstudio-themes-dark .moduleTabPanel .gwt-TabLayoutPanelTab .gwt-Label {
   font-weight: 400;
}

.moduleTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutLeft {
   height: 24px;
   width: 6px;
   background: MULTIPODACTIVETABLEFT right top no-repeat;
}
.moduleTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutCenter {
   height: 24px;
   background: MULTIPODACTIVETABTILE top repeat-x;
   padding-left: 3px;
   padding-right: 3px;
}
.moduleTabPanel .gwt-TabLayoutPanelTab-selected .tabLayoutRight {
   height: 24px;
   width: 6px;
   background: MULTIPODACTIVETABRIGHT left top no-repeat;
}
.moduleTabPanel .toolbar {
   background-image: TOOLBARBACKGROUND2;
}
.multiPodUtilityArea {
   background: MULTIPODTOPFADE left top repeat-y;
}
.firstTabSelected {
}

/** Toolbar **/

.toolbar .gwt-CheckBox {
   position: relative;
   top: 1px;
   margin: 0 9px 0 0;
   padding: 0;
   white-space: nowrap;
}

.toolbar {
   font-size: 11px;
   width: 100%;
   height: 23px;
   background: TOOLBARBACKGROUND repeat-x top;
   padding: 0 0 0 6px;
   white-space: nowrap;
}

.rstudio-themes-flat .toolbar {
   height: 22px;
   border-bottom: 1px solid #d6dadc;
}

.toolbar * {
   margin-top: 0px;
}

.toolbar input[type=checkbox] {
   margin: 0 3px 0 0;
   max-height: 14px;
}

.toolbarButton {
   border: none;
   background-color: transparent;
   margin: 0 8px 0 0;
   padding: 0;
   vertical-align: top;
   height: 21px;
   overflow: hidden;
}
.toolbarButton.noLabel {
   margin-right: 4px;
}
@if user.agent safari gecko1_8 {
   .toolbarButtonPushed {
      position: relative;
      top: 1px;
   }
}
.toolbarButtonPushed {
}
.toolbarButton[disabled] {
   /* joecheng: This renders poorly in ie8 */
   /*filter: literal("alpha(opacity = 50)") !important;*/
   opacity: 0.3;
   color: #333;
   cursor: default;
}

.toolbarButton[disabled]:active {
   top: 0px;
}

.toolbarSeparator {
   margin-right: 5px;
}

.rstudio-themes-flat .rstudio-themes-dark .toolbar,
.rstudio-themes-flat .rstudio-themes-dark .toolbar button {
   color: white;
}

.rstudio-themes-flat .toolbarSeparator {
   max-height: 19px;
}

.rstudio-themes-flat .rstudio-themes-dark .toolbarSeparator {
   filter: invert(100%);
   transform: scaleX(-1);
}

.toolbarFileLabel {
   margin-right: 7px;
   white-space: nowrap;
}


.secondaryToolbar {
   background: TABBACKGROUND bottom repeat-x;
   height: TABSTRIPHEIGHT;
}

.secondaryToolbarPanel {
  background: rgb(240,241,241);
  border-bottom: 1px solid rgb(169,169,169);
}

.rstudio-themes-flat .rstudio-themes-dark .secondaryToolbarPanel {
  background: #6c7a86;
}

.rstudio-themes-flat .secondaryToolbar {
   border-bottom: solid 1px #d6dadc;
   height: 24px;
}

.toolbarButtonRightImage {
   display: none;
}
.toolbarButtonMenu .toolbarButtonRightImage {
   display: inline;
   margin: 4px 0 0 5px;
}
.toolbarButtonMenuOnly {
   position: relative;
   top: -2px;
}
.toolbarButtonMenuOnly.toolbarButtonPushed {
   position: relative;
   top: -1px;
}
.toolbarButtonLeftImage {
   margin-top: 2px;
}
.toolbarButtonLabel {
   margin: 4px 0 0 2px;
   font-family: proportionalFont;
   font-size: 11px !important;
   white-space: nowrap;
}

.toolbarButtonInfoLabel {
   color: #82868C;
}

.toolbarButtonLatchable {
  padding-right: 6px;
  padding-left: 4px;
  height: 16px;
}

.toolbarButtonLatchable .toolbarButtonLabel {
  margin-top: 1px;
  margin-left: 3px;
}

.toolbarButtonLatched {
  /*
   -moz-border-image: -moz-linear-gradient(top, #bfc8d0 0%, #cfd4d8 100%);
   -webkit-border-image: -webkit-linear-gradient(top, #bfc8d0 0%, #cfd4d8 100%);
   border-image: linear-gradient(to bottom, #bfc8d0 0%, #cfd4d8 100%);
   border-image-slice: 1;
   border-width: 1px;
   */
   border-radius: 2px;
   background-color: #e3e7e9;
   border: 1px solid #bfc8d0;
}

.globalToolbar {
   height:27px;
   z-index: 1;
}

.globalToolbar .toolbarButton {
   margin-top: -1px;
}

.globalToolbar .toolbarButtonMenu .toolbarButtonLabel {
   margin-left: 4px;
   margin-right: 2px;
}

.globalToolbar .toolbarButtonMenu .toolbarButtonInfoLabel {
   margin-left: 1px;
}

.emptyProjectMenu .toolbarButtonRightImage {
	margin-left: 4px;
}

.emptyProjectMenu .toolbarButtonLabel {
	color: #494949;
}

@if user.agent gecko1_8 { .webHeaderBarCommandsProjectMenu {
      margin-top: 1px;
      margin-left: 5px;
   }
 }
 @else { .webHeaderBarCommandsProjectMenu {
      margin-top: 2px;
      margin-left: 6px;
   }
 }

.webGlobalToolbar {
   margin-top: -3px;
   background: none;
}

.rstudio-themes-flat .globalToolbar {
   padding-top: 2px;
}

.rstudio-themes-flat .webGlobalToolbar {
   border-bottom: 0;
   height: 24px;
}

 @if user.agent gecko1_8 { .webGlobalToolbar {
      margin-left: 53px;
      padding-right: 49px;
   }
 }
 @else { .webGlobalToolbar {
      margin-left: 55px;
      padding-right: 51px;
   }
 }

.desktopGlobalToolbar {
   background: DESKTOPGLOBALTOOLBARBACKGROUND bottom repeat-x;
}


.windowFrameToolbarButton {
   margin-top: -2px;
   margin-left: 4px;
}

.statusBarMenu {
   font-size: 11px;
}
.statusBarMenu .gwt-MenuItem {
   padding-right: 30px;
}

.miniToolbar {
   margin-top: 4px;
}
.miniToolbar img {
   margin-right: 6px;
}


/** Help Search box **/
.search {
   position: relative;
   top: -1px;
   margin-right: 8px;
   width: 120px;
   height: 18px;
}
.search .left {
   position: absolute;
   top: 0;
   left: 0;
   width: 6px;
   height: 18px;
   background: SEARCHFIELDLEFT top no-repeat;
}
.search .center {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 6px;
   right: 6px;
   background: SEARCHFIELDTILE top repeat-x;
}
.search .right {
   position: absolute;
   top: 0;
   right: 0;
   width: 6px;
   height: 18px;
   background: SEARCHFIELDRIGHT top no-repeat;
}
.searchMagGlass {
   position: absolute;
   top: 3px;
   left: 0;
   width: 14px;
   height: 13px;
}
.clearSearch {
   position: absolute;
   top: 4px;
   right: 0;
   width: 11px;
   height: 11px;
}
.searchBoxContainer {
   position: absolute;
   top: 0;
   bottom: 1px;
   left: 18px;
   right: 18px;
}
.searchBoxContainer2 {
   position: absolute;
   top: 0;
   bottom: 1px;
   left: 0;
   right: 2px;
}
.searchBox {
   width: 100%;
   height: 100%;
   border: 0;
   margin: 0;
   outline: none;
   font-size: 10px;
   background-color: transparent;
}
body.windows .searchBox {
   font-size: 11px;
}
body.ubuntu_mono .searchBox {
   font-size: 11px;
}

/** Workbench **/

.dialogMessage {
   padding-left: 8px;
   padding-top: 12px;
   width: 300px;
   padding-bottom: 12px;
   overflow-wrap: break-word;
   word-wrap: break-word;
}

.sessionAbendMessage {
   padding-left: 8px;
   width: 300px;
}

.applicationHeaderStrong {
   font-weight: bold;
}

@sprite td.environmentHierarchicalCol {
   width: 32px;
   height: 15px;
   gwt-image: 'inspectObject2x';
   background-position: right center;
   background-size: 32px 15px;
}

@sprite td.environmentDataFrameCol {
   width: 32px;
   height: 15px;
   gwt-image: 'zoomDataset2x';
   background-position: right center;
   background-size: 32px 15px;
}

@sprite td.environmentFunctionCol {
   width: 32px;
   height: 15px;
   gwt-image: 'viewFunctionCode2x';
   background-position: right center;
   background-size: 32px 15px;
}

.odd {
   background-color: #f2f2f2;
}

.EditDialog {
   border: 1px solid #BBB;  
   background-color: white;
}

.showFile {
  font-size: 12px;
  padding-left: 5px; 
  border: 1px solid #BBB; 
  background-color: white;
}

.showFileFixed {
  font-size: 12px;
  padding-left: 5px;
  border: 1px solid #BBB;  
  background-color: white;
}

.fileUploadPanel {
  width: 350px;
}

.fileUploadPanel .fileUploadField {
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.fileUploadPanel .fileUploadTipLabel {
   border: 1px solid #BBB; 
   padding: 5px;
   font-size: 11px;
}

.fileList {
   font-size: 12px;
}

.fileList input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.locatorPanel {
   border: none;
   padding: 0;
   margin: 0;
}

.locatorPanel:hover {
   cursor: crosshair;
}

.tabOverflowPopup {
   z-index: 10;
}

.tabOverflowPopup .gwt-MenuBar>table {
   width: 100%;
}
.tabOverflowPopup .search {
   margin: 2px 0 2px 0;
   min-width: 130px;
   width: 100%;
}

.selectWidget {
   margin-bottom: 12px;
}

.selectWidget .gwt-Label {
   margin-right: 4px;  
   margin-left: 4px; 
}

.textBoxWithButton input[type=text] {
   position: relative;
   top: 1px;
   height: 21px;
   border: 1px solid #999;
}

.textBoxWithButton .gwt-Label {
   margin-bottom: 1px;	
}


.fullscreenCaptionIcon {
  margin-top: -1px;
  margin-right: 5px;
}
 
.fullscreenCaptionLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 11px;
  cursor: default;
}

.presentationNavigatorLabel {
  white-space: nowrap;  
  text-overflow: ellipsis;
  overflow: hidden;
}

.notResizable {
  resize: none;
}

.linux .gwt-CheckBox {
  margin-bottom: 4px;
}

/* checkboxes on the Cocoa (Mac) desktop client and checks/radio buttons on the
 * Linux desktop client have some rendering and positioning inconsistencies, so
 * we redraw them with CSS. */

.macintosh .gwt-CheckBox input[type="checkbox"],
.linux .gwt-CheckBox input[type="checkbox"],
.linux .gwt-RadioButton input[type="radio"],
.windows-highdpi .gwt-CheckBox input[type="checkbox"],
.windows-highdpi .gwt-RadioButton input[type="radio"] {
  -webkit-appearance: none;
  outline: none;
  width: 13px;
  height: 13px;
  border: 1px solid #b0b0b0;
  background: #ffffff;
  vertical-align: middle;
  margin: 3px 3px 5px 3px;
}

.rstudio-themes-flat .rstudio-themes-dark .gwt-CheckBox input[type="checkbox"] {
   background: #d3d8dc;
   border-color: rgb(45,60,75);
}

.macintosh .gwt-CheckBox input[type="checkbox"],
.linux .gwt-CheckBox input[type="checkbox"],
.windows-highdpi .gwt-CheckBox input[type="checkbox"] {
  -webkit-border-radius: 3px;
}

.linux .gwt-RadioButton input[type="radio"],
.windows-highdpi .gwt-RadioButton input[type="radio"] {
  -webkit-border-radius: 7px;
}

.macintosh .gwt-CheckBox input[type="checkbox"]:focus,
.macintosh .gwt-CheckBox input[type="checkbox"]:active,
.linux .gwt-CheckBox input[type="checkbox"]:focus,
.linux .gwt-CheckBox input[type="checkbox"]:active,
.linux .gwt-RadioButton input[type="radio"]:focus,
.linux .gwt-RadioButton input[type="radio"]:active,
.windows-highdpi .gwt-CheckBox input[type="checkbox"]:focus,
.windows-highdpi .gwt-CheckBox input[type="checkbox"]:active,
.windows-highdpi .gwt-RadioButton input[type="radio"]:focus,
.windows-highdpi .gwt-RadioButton input[type="radio"]:active
{
  border-color: #707070;
}

.macintosh .gwt-CheckBox input[type="checkbox"]:checked,
.linux .gwt-CheckBox input[type="checkbox"]:checked,
.linux .gwt-RadioButton input[type="radio"]:checked,
.windows-highdpi .gwt-CheckBox input[type="checkbox"]:checked,
.windows-highdpi .gwt-RadioButton input[type="radio"]:checked
{
  position: relative;
}

.macintosh .gwt-CheckBox input[type="checkbox"]:checked:before,
.linux .gwt-CheckBox input[type="checkbox"]:checked:before, 
.windows-highdpi .gwt-CheckBox input[type="checkbox"]:checked:before {
  background: MACCHECK;
  background-size: 10px 9px;
}

.linux .gwt-RadioButton input[type="radio"]:checked:before,
.windows-highdpi .gwt-RadioButton input[type="radio"]:checked:before {
  background: RADIOBUTTONON;
  background-size: 9px 9px;
}

.macintosh .gwt-CheckBox input[type="checkbox"]:checked:before,
.linux .gwt-CheckBox input[type="checkbox"]:checked:before,
.linux .gwt-RadioButton input[type="radio"]:checked:before,
.windows-highdpi .gwt-CheckBox input[type="checkbox"]:checked:before,
.windows-highdpi .gwt-RadioButton input[type="radio"]:checked:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px; 
  left: 0px;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 1px;
}

.dialogTabPanel .gwt-TabLayoutPanelTab
{
  background: #f5f5f5 -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 17%, rgba(255,255,255,0) 50%); 
  background: #f5f5f5 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(17%,rgba(255,255,255,0.9)), color-stop(50%,rgba(255,255,255,0)));
  background: #f5f5f5 -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 17%,rgba(255,255,255,0) 50%);
  background: #f5f5f5 linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 17%,rgba(255,255,255,0) 50%); 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #c0c0c0;
  border-left: none;
  float: none;
}

.dialogTabPanel .gwt-TabLayoutPanelTabs
{
  text-align: center;
  z-index: 10; 
  margin-bottom: -12px;
}

.dialogTabPanel .gwt-TabLayoutPanelTab-selected
{
  background: #9c9c9c -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 20%, rgba(0,0,0,0.01) 85%, rgba(0,0,0,0.1) 100%); 
  background: #9c9c9c -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(20%,rgba(255,255,255,0)), color-stop(85%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.1))); 
  background: #9c9c9c -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 20%,rgba(0,0,0,0.01) 85%,rgba(0,0,0,0.1) 100%); 
  background: #9c9c9c linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 20%,rgba(0,0,0,0.01) 85%,rgba(0,0,0,0.1) 100%); 
  color: #ffffff; 
}

.dialogTabPanel .gwt-TabLayoutPanelContentContainer
{
  border: 1px solid #c0c0c0;
}

.dialogTabPanel .gwt-TabLayoutPanelContent
{
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom : 5px;
}

.dialogTabPanel .gwt-TabLayoutPanelTab:first-child
{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #c0c0c0;
}

.dialogTabPanel .gwt-TabLayoutPanelTab:last-child
{
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ace_gutter-cell.ace_info {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: INFO;
   background-size: 16px 14px;
}

.ace_gutter-cell.ace_warning {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: WARNING;
   background-size: 16px 14px;
}

.ace_gutter-cell.ace_error {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: ERROR;
   background-size: 16px 14px;
}

.editor_dark .ace_gutter-cell.ace_info {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: INFODARK;
   background-size: 16px 14px;
}

.editor_dark .ace_gutter-cell.ace_warning {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: WARNINGDARK;
   background-size: 16px 14px;
}

.editor_dark .ace_gutter-cell.ace_error {
   background-repeat: no-repeat;
   background-position: 2px center;
   background-image: ERRORDARK;
   background-size: 16px 14px;
}

.menuSubheader {
   font-family: proportionalFont;
   text-transform: uppercase;
   font-size: 11px;
   color: #909090;
   padding-left: 28px;
   padding-top: 2px;
   padding-bottom: 2px;
}

.borderedIFrame {
   border: 1px solid #BBB;    
}

.toolbarInfoLabel {
   color: #606060;
   top: -1px;
   margin-right: 6px;
}

.displayNone {
	display: none !important;
}

.windowFrameObject {
}

.minimizedWindowObject {
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs {
   background-image: none;
   background: #e7e8ea;
}

.rstudio-themes-flat .gwt-TabLayoutPanel > div > div.gwt-TabLayoutPanelTabs {
   top: -1px;
   border-bottom: solid 1px #d6dadc;
   height: 23px;
}

.rstudio-themes-flat .gwt-TabLayoutPanel > div:last-child {
   top: 23px !important;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTabInner > table > tbody > tr > td:first-child,
.rstudio-themes-flat .moduleTabPanel.minimizedWindowObject table.gwt-TabLayoutPanelTab > tbody > tr > td:first-child {
   display: none;
}

.rstudio-themes-flat .rstudio-themes-dark .minimizedWindowObject table.tabLayoutCenter {
   color: #bfbfbf;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutLeft,
.rstudio-themes-flat .minimizedWindowObject .tabLayoutLeft {
   display: none;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTabInner > table > tbody > tr > td:last-child,
.rstudio-themes-flat .moduleTabPanel.minimizedWindowObject table.gwt-TabLayoutPanelTab > tbody > tr > td:last-child {
   display: none;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .minimizedWindowObject table.tabLayoutCenter {
   background-image: none;
   background: THEME_GLOBAL_INACTIVE;
   border-right: solid 1px #d6dadc;
   border-left: solid 1px #d6dadc;
   border-radius: 3px 3px 0px 0px;
   border-top: solid 1px #d6dadc;
   padding-left: 9px;
   padding-right: 9px;
   margin-left: -1px;
}

.rstudio-themes-flat .rstudio-themes-dark .gwt-TabLayoutPanelTabs table.tabLayoutCenter {
   color: white;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutCenter td,
.rstudio-themes-flat .minimizedWindowObject .gwt-TabLayoutPanelTabs .tabLayoutCenter td {
   vertical-align: top !important;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutCenter img.docTabIcon {
   padding-top: 1px;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutCenter div.docTabLabel {
   padding-top: 4px;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutCenter img.closeTabButton {
   padding-top: 3px;
}

.rstudio-themes-flat .gwt-TabLayoutPanelTabs .tabLayoutRight,
.rstudio-themes-flat .minimizedWindowObject .tabLayoutRight  {
   display: none;
}

.rstudio-themes-flat .gwt-TabLayoutPanel {
   background: #FFF;
}

.rstudio-themes-flat .logoAnchor {
   top: 3px !important;
}

.rstudio-themes-flat .dialogTabPanel {
   background: none;
}

.rstudio-themes-flat .dialogTabPanel > div > div.gwt-TabLayoutPanelTabs {
   border-bottom: none;
   height: 23px;
   background: none;
   top: 0px;
}

.rstudio-themes-flat .dialogTabPanel > div:last-child {
   top: 14px !important;
}

.rstudio-themes-flat .gwt-DialogBox {
   border: solid 1px #9D9D9D;
   border-radius: 5px 5px 0px 0px;
   background: #F3F4F4;
   overflow: hidden !important;
   box-shadow: 0 21px 21px rgba(0, 0, 0, 0.35);
}

.rstudio-themes-flat .gwt-DialogBox .dialogMiddleCenter {
   background: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogTopCenter {
   height: 24px;  
}

.rstudio-themes-flat .gwt-DialogBox .dialogTopCenterInner .Caption {
   margin-top: 1px;
   margin-left: 9px;
   padding-top: 0px;
}

.rstudio-themes-flat .gwt-DialogBox .dialogTopLeft {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogMiddleLeft {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogBottomLeft {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogTopRight {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogMiddleRight {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogBottomRight {
   display: none;
}

.rstudio-themes-flat .gwt-DialogBox .dialogTopCenter {
   background: #e1e2e5;
   border-bottom: solid 1px #d6dadc;
}

.rstudio-themes-flat .gwt-DialogBox .dialogBottomPanel {
   margin-top: 0px;
   padding: 10px 2px 15px 4px;
}

.rstudio-themes-flat .gwt-DialogBox .dialogContent {
   padding-left: 10px;
   padding-right: 10px;
}

.rstudio-themes-flat .minimizedWindowObject .left {
   background: none;
}

.rstudio-themes-flat .minimizedWindowObject .right {
   background: none;
}

.rstudio-themes-flat .minimizedWindowObject .center {
   background: none;
   background: #e7e8ea;
}

.rstudio-themes-flat .moduleTabPanel.minimizedWindowObject .center {
   padding-top: 0px;
}

.rstudio-themes-flat .minimizedWindowObject  > div:last-child {
   left: 3px !important;
   top: 2px !important;
   right: 3px !important;
   bottom: 0px !important;
   height: 23px;
   border: solid 1px #d6dadc;
   border-radius: 3px 3px 0px 0px;
   padding-top: 1px;
}

.rstudio-themes-flat .minimizedWindowObject .minimize {
   padding-top: 0px;
   margin-top: 1px;
   width: 16px;
   margin-right: 0px;
}

.rstudio-themes-flat .moduleTabPanel.minimizedWindowObject .minimize {
   padding-top: 6px;
}

.rstudio-themes-flat .minimizedWindowObject .maximize {
   padding-top: 0px;
   margin-top: 1px;
   width: 20px;
   margin-right: 4px;
}

.rstudio-themes-flat .moduleTabPanel.minimizedWindowObject .maximize {
   padding-top: 6px;
}

.rstudio-themes-flat .minimizedWindowObject .primaryWindowFrameHeader {
   padding-top: 1px;
}

.rstudio-themes-flat .minimizedWindowObject .primaryWindowFrameHeader .title {
   text-shadow: none;
}

.rstudio-themes-flat .search {
   top: 1px;
   height: 16px;
   border: solid 1px #d6dadc;
   border-radius: 3px;
   background: #FFF;
}

.rstudio-themes-flat .rstudio-themes-dark .search {
   border-color: rgb(45,60,75);
   background: rgb(145,154,161);
}

.rstudio-themes-flat .rstudio-themes-dark .search input {
   color: white;
}

.rstudio-themes-flat .rstudio-themes-dark .search input::placeholder {
   color: #EEE;
}

.rstudio-themes-flat .search .left {
   display: none;
}

.rstudio-themes-flat .search .center {
   background: none;
}

.rstudio-themes-flat .search .right {
   display: none;
}

.rstudio-themes-flat .searchMagGlass {
   top: 2px;
}

.rstudio-themes-flat .clearSearch {
   top: 3px;
}

.rstudio-themes-flat .dataGridSortedHeaderAscending img {
  width: 0px !important;
  height: 0px !important;
  background: none !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #818a98;
  margin-left: 3px;
  margin-right: 3px;
}

.rstudio-themes-flat .dataGridSortedHeaderDescending img {
  width: 0px !important;
  height: 0px !important;
  background: none !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #818a98;
  margin-left: 3px;
  margin-right: 3px;
}

.rstudio-themes-flat .rstudio-themes-dark .rstudio-themes-inverts {
   filter: invert(100%);
}

/* RSTUDIO DEFAULT THEME */

.rstudio-themes-flat .rstudio-themes-default .rstudio-themes-background,
.rstudio-themes-flat .rstudio-themes-default .toolbar,
.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-default .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-default .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader {
   background: THEME_DEFAULT_BACKGROUND;
}

body.rstudio-themes-flat .rstudio-themes-default {
   background: rgb(246, 247, 249);
}

.rstudio-themes-flat .rstudio-themes-default table.header > tbody > tr > td,
.rstudio-themes-flat .rstudio-themes-default .windowFrameObject > div:last-child,
.rstudio-themes-flat .rstudio-themes-default .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanel > div > div.gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-default .minimizedWindowObject table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-default .minimizedWindowObject  > div:last-child,
.rstudio-themes-flat .rstudio-themes-default .toolbar,
.rstudio-themes-flat .rstudio-themes-default .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader,
.rstudio-themes-flat .rstudio-themes-default .windowFrameObject.consoleOnlyWindowFrame {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-default .minimizedWindowObject table.tabLayoutCenter {
   background: THEME_GLOBAL_INACTIVE;
}

.rstudio-themes-flat .rstudio-themes-default .gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-default .minimizedWindowObject .center {
   background: #e7e8ea;
}

.rstudio-themes-flat .rstudio-themes-default .multiPodUtilityArea {
   background: linear-gradient(to right, rgba(236, 237, 238, 0), THEME_GLOBAL_INACTIVE 13%);
}

/* RSTUDIO DARK GREY THEME */

.rstudio-themes-flat .rstudio-themes-dark-grey .rstudio-themes-background,
.rstudio-themes-flat .rstudio-themes-dark-grey .toolbar,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-dark-grey .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader {
   background: THEME_DARKGREY_BACKGROUND;
}

body.rstudio-themes-flat .rstudio-themes-dark-grey {
   background: rgb(50, 76, 99);
}

.rstudio-themes-flat .rstudio-themes-dark-grey table.header > tbody > tr > td,
.rstudio-themes-flat .rstudio-themes-dark-grey .windowFrameObject > div:last-child,
.rstudio-themes-flat .rstudio-themes-dark-grey .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanel > div > div.gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .minimizedWindowObject table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .minimizedWindowObject  > div:last-child,
.rstudio-themes-flat .rstudio-themes-dark-grey .toolbar,
.rstudio-themes-flat .rstudio-themes-dark-grey .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader,
.rstudio-themes-flat .rstudio-themes-dark-grey .windowFrameObject.consoleOnlyWindowFrame {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-dark-grey .minimizedWindowObject table.tabLayoutCenter {
   background: rgb(57, 67, 75);
}

.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-dark-grey .minimizedWindowObject .center {
   background: rgb(47, 57, 65);
}

.rstudio-themes-flat .rstudio-themes-dark-grey .multiPodUtilityArea {
   background: linear-gradient(to right, rgba(7, 57, 65, 0), rgb(47, 57, 65) 13%);
}

/* RSTUDIO ALTERNATE THEME */

.rstudio-themes-flat .rstudio-themes-alternate .rstudio-themes-background,
.rstudio-themes-flat .rstudio-themes-alternate .toolbar,
.rstudio-themes-flat .rstudio-themes-alternate .gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-alternate .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-alternate .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader {
   background: THEME_ALTERNATE_BACKGROUND;
}

body.rstudio-themes-flat .rstudio-themes-alternate {
   background: rgb(162, 197, 215);
}

.rstudio-themes-flat .rstudio-themes-alternate table.header > tbody > tr > td,
.rstudio-themes-flat .rstudio-themes-alternate .windowFrameObject > div:last-child,
.rstudio-themes-flat .rstudio-themes-alternate .secondaryToolbar,
.rstudio-themes-flat .rstudio-themes-alternate .gwt-TabLayoutPanel > div > div.gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-alternate .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindowObject table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindowObject  > div:last-child,
.rstudio-themes-flat .rstudio-themes-alternate .toolbar,
.rstudio-themes-flat .rstudio-themes-alternate .windowFrameObject.consoleOnlyWindowFrame div.consoleHeaderLayout .primaryWindowFrameHeader,
.rstudio-themes-flat .rstudio-themes-alternate .windowFrameObject.consoleOnlyWindowFrame {
   border-color: THEME_ALTERNATE_BORDER;
}

.rstudio-themes-flat .rstudio-themes-alternate .gwt-TabLayoutPanelTabs table.tabLayoutCenter,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindowObject table.tabLayoutCenter {
   background: rgb(148, 180, 197);
}

.rstudio-themes-flat .rstudio-themes-alternate .gwt-TabLayoutPanelTabs,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindowObject .center {
   background: rgb(158, 160, 187);
}

.rstudio-themes-flat .rstudio-themes-alternate .windowframe .minimize,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe .maximize,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe-maximized .maximize,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe-exclusive .maximize,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindow .minimize,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindow .maximize {
   filter: brightness(0.7);
}

.rstudio-themes-flat .rstudio-themes-alternate .windowframe .minimize:hover,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe .maximize:hover,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe-maximized .maximize:hover,
.rstudio-themes-flat .rstudio-themes-alternate .windowframe-exclusive .maximize:hover,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindow .minimize:hover,
.rstudio-themes-flat .rstudio-themes-alternate .minimizedWindow .maximize:hover {
   filter: brightness(0.4);
}

.rstudio-themes-flat .rstudio-themes-alternate .multiPodUtilityArea {
   background: linear-gradient(to right, rgba(158, 160, 187, 0), rgb(158, 160, 187) 13%);
}
