

.captionLabel {
   margin-bottom: 4px;
   width: 400px;
}

.targetName {
	
}

.targetPath {
   color: #606060;
   font-size: 0.9em;
   word-wrap: break-word; 
}

.targetUntitled {
  line-height: 2.2ex;
  height: 4.4ex; /* 2.2ex for each visible line */
  vertical-align: middle;
  display: table-cell;
  
}


.targetScrollPanel {
   width: 400px;
   height: 170px;
   border: 1px solid #BBB;  
   background-color: white;
}

