<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>liboophm</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.gwt.oophm</string>
	<key>CFBundleName</key>
	<string>oophm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>NSPL</string>
	<key>CFBundleSignature</key>
	<string>MOSS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
