bin/
extras/
gen/
log/
sdk/
war/

# ignore log files dumped by a crashing GWT devmode
javac.*
/*.log

# ignore development properties file
*_dev.properties

# ignore local VSCode settings
.vscode/

# ignore stuff that java dumps on crash
/snap.*.trc
/core.*.dmp
/heapdump.*.phd
/javacore.*.txt