
.CodeMirror-line-numbers {
   width: 27px;
   color: #999;
   text-align: right;
   padding-right: 6px;
   font-size: 12px;
   font-family: Monaco, Consolas, "Lucida Console", monospace;
   padding-top: .4em;
   border-right: #DDD 1px solid;
}

