.headerLabel {
	padding: 2px 4px;
	font-weight: bold;
	font-size: 1em;
}

.textBox {
	width: 97%;
    border: 1px solid #999;
    border-radius: 3px;
    padding-left: 3px !important;
}

.textBox:focus {
    outline: 0;
    box-shadow: 0 0 5px rgb(50, 100, 150);
}

.chunkLabel {
}

.chunkName {
}

.labelPanel {
	margin-bottom: 12px;
}

.buttonPanel {
	margin-bottom: 2px;
}

.checkBox {
	margin: 2px;
}
