@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();


@def selectionBorderWidth 1px;


.dataGridWidget {
   font-size: 9pt;
   background-color: white;
   outline: none;
}

.dataGridFirstColumn {
}

.dataGridLastColumn {

}

.dataGridFooter {
  border-top: 1px solid #BBB;
  padding: 3px 4px;
  text-align: left;
  overflow: hidden;
  cursor: default;
}

.dataGridHeader {
  border-bottom: 1px solid #d6dadc;
  border-right: 1px solid #d6dadc;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 1px 2px;
  text-align: left;
  font-weight: normal;
  font-size: 11px;
  color: #3c474d;
  background-color: #eeeff1;
  overflow: hidden;
  cursor: default;
}

.dataGridCell {
  /* CHANGE: use less padding (originally was 15px) */
  padding: 2px 4px;
  overflow: hidden;

  /* CHANGE: use default cursor rather than pointer/caret */
  cursor: default;

}

.dataGridCell:first-child {
   padding: 0 4px;
}
.dataGridCell:first-child+.dataGridCell {
   padding: 0 4px;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
  cursor: default;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
  /*background: #ffffff;*/
}

.dataGridEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.dataGridOddRow {
  /*background-color: #eef4fb;*/
}

.dataGridOddRowCell {
  /*border: selectionBorderWidth solid #eef4fb;*/
  border: selectionBorderWidth solid #ffffff;
}

.dataGridHoveredRow {
  /* CHANGE: Disable hover effects */
  /* background: #eee; */
}

.dataGridHoveredRowCell {
  /* CHANGE: Disable hover effects */
  /* border: selectionBorderWidth solid #eee; */
}


.dataGridKeyboardSelectedRow {
}

.dataGridKeyboardSelectedRowCell {
   border-top: 1px dotted gray !important;
   border-bottom: 1px dotted gray !important;
}
.dataGridKeyboardSelectedRowCell:first-child {
   border-left: 1px dotted gray;
}
.dataGridKeyboardSelectedRowCell:first-child + td + td {
   border-right: 1px dotted gray;
}

.dataGridSelectedRow {
  /* CHANGE: use same selected background color as History table */
  background: #CCC;
  /* color: white; */
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
  /* CHANGE: use same selected background color as History table */
  border: selectionBorderWidth solid #CCC;
}

.dataGridWidget:focus .dataGridSelectedRow {
  background: rgb(146, 193, 240);
}
.dataGridWidget:focus .dataGridSelectedRowCell {
  border-color: rgb(146, 193, 240);
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
  border: selectionBorderWidth solid transparent;
}

.dataGridLoading {
  margin: 30px;
}

