@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@def selectionBorderWidth 1px;

@external editor_dark;

.cellTableWidget {
   font-size: 9pt;
   background-color: white;
   outline: none;
}

.editor_dark .cellTableWidget {
   background-color: inherit;
}

.cellTableFirstColumn {
}

.cellTableLastColumn {

}

.cellTableFooter {
  border-top: 1px solid #BBB;
  padding: 3px 4px;
  text-align: left;
  overflow: hidden;
  cursor: default;
}

.cellTableHeader {
  border-bottom: 1px solid #d6dadc;
  border-right: 1px solid #d6dadc;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 1px 2px;
  text-align: left;
  font-weight: normal;
  font-size: 11px;
  color: #3c474d;
  background-color: #eeeff1;
  overflow: hidden;
  cursor: default;
}

.cellTableCell {
  /* CHANGE: use less padding (originally was 15px) */
  padding: 2px 4px;
  overflow: hidden;

  /* CHANGE: use default cursor rather than pointer/caret */
  cursor: default;
  border: none;
  outline: none;
}

.cellTableCell:first-child {
   padding: 0 4px;
}
.cellTableCell:first-child+.cellTableCell {
   padding: 0 4px;
}

.cellTableFirstColumnFooter {

}

.cellTableFirstColumnHeader {

}

.cellTableLastColumnFooter {

}

.cellTableLastColumnHeader {

}

.cellTableSortableHeader {
  cursor: default;
}

.cellTableSortableHeader:hover {
  color: #6c6b6b;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  /*background: #ffffff;*/
}

.cellTableEvenRowCell {
}

.cellTableOddRow {
  /*background-color: #eef4fb;*/
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
  /* CHANGE: Disable hover effects */
  /* background: #eee; */
}

.cellTableHoveredRowCell {
}


.cellTableKeyboardSelectedRow {
}

.cellTableKeyboardSelectedRowCell {
}

.cellTableSelectedRow {
  /* CHANGE: use same selected background color as History table */
  background: #CCC;
  /* color: white; */
  height: auto;
  overflow: auto;
}

.editor_dark .cellTableSelectedRow {
  color: #FFF;
}

.cellTableSelectedRowCell {
}

.cellTableWidget:focus .cellTableSelectedRow {
  background: rgb(146, 193, 240);
}

.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
  margin: 30px;
}

