@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();


@def selectionBorderWidth 1px;
.cellTableWidget {
   font-family: fixedWidthFont;
   white-space: pre-wrap;
   color: #888;
   -webkit-user-select: auto;
}
.cellTableWidget > tbody > tr > td {
   vertical-align: top;
}

.header {
   background-color: #DDD;
   color: #444;
}
.header > td {
   border-top: selectionBorderWidth #BBB solid !important;
   border-bottom: selectionBorderWidth #BBB solid !important;
   padding-top: 1px;
   padding-bottom: 1px;
}

.same {

}

.insertion {
   background-color: #DDFEDA;
   color: #444;
}
.insertion.start>td {
   border-top: #90D989 solid selectionBorderWidth !important;
}
.insertion.end>td {
   border-bottom: #90D989 solid selectionBorderWidth !important;
}

.deletion {
   background-color: #FFDEDC;
   color: #444;
}
.deletion.start>td {
   border-top: #E1938F solid selectionBorderWidth !important;
}
.deletion.end>td {
   border-bottom: #E1938F solid selectionBorderWidth !important;
}

.comment {
   background-color: #F0F0F0;
   color: #777;
}

.info {
   background-color: #FFFFDC;
   color: #444;
}
.info.start>td {
   border-top: #A0A060 solid selectionBorderWidth !important;
}
.info.end>td {
   border-bottom: #A0A060 solid selectionBorderWidth !important;
}

.cellTableWidget > .lineNumber {
   background-color: #F0F0F0;
   border-right-color: #D9D9D9 !important;
}
.cellTableWidget > tbody > tr .lineNumber.lastLineNumber {
   border-right-color: #BBB !important;
}
.cellTableWidget > tbody > tr.same .lineNumber {
   background-color: #F0F0F0;
}
.cellTableWidget > tbody > tr.header .lineNumber {
   border-right-color: transparent;
}

.cellTableWidget > tbody > tr > td:first-child {
   text-align: right;
}

.cellTableCell {
  padding: 0 8px;
}

.cellTableWidget > tbody > tr > td {
  border: selectionBorderWidth solid transparent;
   border-right-color: #D9D9D9 !important;
}

.cellTableSelectedRow {
  background: #CCC !important;
}

.cellTableSelectedRowCell {
  background: #CCC !important;
}

.cellTableWidget:focus .cellTableSelectedRow {
  background: rgb(146, 193, 240) !important;
}
.cellTableWidget:focus .cellTableSelectedRowCell {
  background: rgb(146, 193, 240) !important;
}

.stageMode .actions div[data-action='Stage'],
.stageMode .actions div[data-action='Discard'] {
   display: none;
}

.workingMode .actions div[data-action='Unstage'] {
   display: none;
}

.noStageMode .actions div[data-action='Stage'],
.noStageMode .actions div[data-action='Unstage'] {
   display: none;
}

.chunkActions {
}

.lineActions {
}

.actions {
   font-family: proportionalFont;
   float: right;
   height: 16px;
   padding: 1px 0 0 0;
   margin-bottom: -5px; /* Prevent selected line from changing height on Ubuntu */
   overflow: visible;
}
