
.mainWidget {
}

.imageOptions {
   margin-bottom: 5px;
}


.imageOptionLabel {
   margin-right: 5px;
}

.imageSizeTextBox {
   text-align: left;
   width: 35px;
}


.imagePreview {
   border: 1px solid #BBB;
   outline: 0;
   background-color: white;
}
