
.exportTargetLabel {
   margin-right: 7px;	
}

.imageFormatListBox {
   width: 150px;	
}

.fileNameTextBox {
	margin-top: 4px;
   width: 145px; 	
}

.directoryButton {
  margin-left: -2px;
}

.directoryTextBox {
	margin-left: -2px;
   width: 180px;
   border: none;
   outline: none;
   background: transparent;
}

.imageOptionLabel {
   margin-right: 5px;
}

.imageSizeTextBox {
   text-align: left;
   width: 35px;
}

.imagePreview {
   border: 1px solid #BBB;
   outline: 0;
   background-color: white;
}

.horizontalSizeOptions {
	
}

.horizontalSizeOptions .widthAndHeightEntry {
   margin-right: 10px;	
   margin-bottom: 4px;
}

.horizontalSizeOptions .maintainAspectRatioCheckBox  {
   margin-right: 10px;  
   margin-bottom: 4px;
}

.horizontalSizeOptions .updateImageSizeButton  {
   margin-bottom: 1px;
}

.verticalSizeOptions {
  
}

.verticalSizeOptions .widthAndHeightEntry {
   margin-bottom: 4px;	
}

.verticalSizeOptions .maintainAspectRatioCheckBox {
   margin-left: -3px;
}

.verticalSizeOptions .updateImageSizeButton {
	margin-left: -2px;
	margin-top: 6px;
	margin-bottom: 4px;
}
