
.exportTargetLabel {
   margin-right: 7px;	
}

.imageFormatListBox {
   width: 170px;	
}

.fileNameLabel {
  margin-top: -3px;
}

.fileNameTextBox {
	margin-top: -5px;
   width: 165px; 	
}

.directoryButton {
  margin-left: -2px;
}

.directoryLabel {
	margin-top: -2px;
   width: 250px;
   cursor: default;
}
}

.imageOptionLabel {
   margin-right: 5px;
}

.imageSizeTextBox {
   text-align: left;
   width: 35px;
}

.imagePreview {
   border: 1px solid #BBB;
   outline: 0;
   background-color: white;
}

.horizontalSizeOptions {
	margin-bottom: 4px;
}

.horizontalSizeOptions .widthAndHeightEntry {
   margin-right: 10px;	
   margin-bottom: 4px;
}

.horizontalSizeOptions .maintainAspectRatioCheckBox  {
	margin-left: 10px;
   margin-right: 10px;  
   margin-bottom: 4px;
}

.horizontalSizeOptions .updateImageSizeButton  {
	padding-top: 5px;
  
}



.verticalSizeOptions {
  
}

.verticalSizeOptions .widthAndHeightEntry {
   margin-bottom: 4px;	
}

.verticalSizeOptions .maintainAspectRatioCheckBox {
   margin-left: -3px;
}

.verticalSizeOptions .updateImageSizeButton {
	margin-left: -2px;
	margin-top: 6px;
	margin-bottom: 4px;
}

.rightClickCopyLabel {
	margin-left: 8px;
	margin-top: 3px;
	width: 220px;
}

.copyFormatLabel {
	margin-top: 2px;
	margin-right: 6px;
	
}

.copyFormatBitmap {
   margin-right: 8px;	
}

.copyFormatMetafile {
}


.savePdfMainWidget {
   width: 360px;
   margin-bottom: 15px;
}

.savePdfSizeListBox {
   width: 120px;
   margin-right: 10px;
}

.savePdfSizeLabel {
   color: gray;
}

.savePdfFileNameLabel {
	margin-top: 0px;
}


.savePdfFileNameTextBox {
	margin-left: 10px;
   width: 280px;
}

.savePdfDirectoryLabel {
	margin-left: 10px;
}

.savePdfViewAfterCheckbox {
   margin-left: 7px;
}

.savePdfViewAfterCheckbox input[type=checkbox] {
   margin-top: 7px;
}

.savePdfPaperSizeTextBox {
   width: 40px;
}

.savePdfPaperSizeX {
   margin-top: 3px;
   margin-left: 5px;
   margin-right: 5px;
   color: gray;
}
