span.status {
   white-space: nowrap;
}
span.status img:first-child {
   margin-right: 6px;
}

.cellTableCell:first-child img {
   position: relative;
   top: 3px;
}
.cellTableCell:first-child+.cellTableCell img {
   position: relative;
   top: 1px;
}

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}
