@external dialogTop, dialogContent;

.labelCell {
   padding-right: 6px;
}

.buttonCell button {
   position: relative;
   left: 2px;
   width: 60px;
}

.progressCell img {
   position: relative;
   top: 1px;
}

.consoleProgressDialog .dialogTop {
   display: none;
}

.consoleProgressDialog .dialogContent {
   margin-top: 4px;
}

.consoleProgressDialog {
   top: 0 !important;
}

.scrollPanel {
   background-color: white;
   border: solid #CCC 1px;
   margin: 0;
   height: 200px;
}