@external rstudio-themes-flat, rstudio-themes-dark;
@external editor_dark;

.link {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #0000AA;
}

.linkUnderlined {
   text-decoration: underline;  
}

.link:hover {
   text-decoration: underline;	
}

.rstudio-themes-flat.editor_dark .link {
   color: #b4b4d8;
}