@charset "UTF-8";

@def selectionBorderWidth 2px;

@external rstudio-themes-dark;

.dataGridCell {
   padding: 0 1px;
}

.dataGridHoveredRowCell {
   border: none;
}

.dataGridEvenRowCell,
.dataGridOddRowCell,
.dataGridHoveredRowCell,
.dataGridSelectedRowCell,
.dataGridKeyboardSelectedRowCell,
.dataGridKeyboardSelectedCell {
   border: selectionBorderWidth solid #ffffff;
}

.rstudio-themes-dark .dataGridCell img {
   filter: brightness(90%) saturate(90%);
}

.dataGridWidget {
	border: 1px solid #cfd2d4;
}

.dataGridCell div:focus,
.dataGridCell div:active {
   outline: none !important;
}

.dataGridCell {
   padding: 0 1px;
   border-color: transparent;
}

.dataGridSelectedRow,
.dataGridSelectedRow:active,
.dataGridWidget:focus .dataGridSelectedRow,
   background: none;
}

.dataGridKeyboardSelectedRow {
   background: rgb(146, 193, 240) !important;
}


.dataGridSelectedRow {
   background: inherit;
}
