@external rstudio-themes-flat, rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getDefaultBackground();
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getDarkGreyBackground();
@eval THEME_ALTERNATE_BACKGROUND org.rstudio.core.client.theme.ThemeColors.getAlternateBackground();
@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.getDefaultBorder();
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.getDarkGreyBorder();
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.getAlternateBorder();

span.status {
   white-space: nowrap;
}
span.status img:first-child {
   margin-right: 6px;
}

.cellTableCell:first-child img {
   position: relative;
   top: 3px;
}
.cellTableCell:first-child+.cellTableCell img {
   position: relative;
   top: 1px;
}

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.rstudio-themes-flat .rstudio-themes-dark .cellTableSortableHeader {
   color: white;
}

.cellTableSortableHeader img {
   background-size: 7px 4px !important;
   background-position: 2px 1px !important;
}

.cellTableSortableHeader > div {
   padding-left: 13px !important;
}

.rstudio-themes-flat .cellTableSortableHeader {
   border-top: none;
   border-left: none;
}

.rstudio-themes-flat .cellTableSortableHeader:last-child {
   border-right: none;
}

.rstudio-themes-flat .rstudio-themes-default .cellTableSortableHeader {
   background: THEME_DEFAULT_BACKGROUND;
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .cellTableSortableHeader {
   background: THEME_DARKGREY_BACKGROUND;
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-flat .rstudio-themes-alternate .cellTableSortableHeader {
   background: THEME_ALTERNATE_BACKGROUND;
   border-color: THEME_ALTERNATE_BORDER;
}
