/**
 * Applied to the main layout of the page.
 */
.Application-Reference-chrome-rtl { 
  height: 5px;
  width: 5px;
  zoom: 1;
}
.Application-top {
  width: 100%;
  margin-bottom: 10px;
}
.Application-title {
  padding: 0px 10px 0px 0px;
}
.Application-title h1 {
  color: #666;
  margin: 0px;
  padding: 0px 4px 0px 0px;
  font-size: 22px;
}
.Application-title h2 {
  color: #333;
  margin: 0px;
  padding: 0px 4px 0px 0px;
  font-size: 16px;
}
.Application-links {
  padding: 2px 0px 2px 13px;
  background: #eee;
}
.Application-links .gwt-HTML{
  font-size: 12px;
}
.Application-options {
  padding: 6px 0px 0px 10px;
}
.Application-options .gwt-ListBox {
  font-size: 11px;
  color: blue;
  margin-right: 4px;
}
.Application-options td {
  font-size: 12px;
}
.Application-options .gwt-ToggleButton {
  width: 36px;
  height: 16px;
  margin: 3px 10px 0px 0px;
  padding: 0px;
}
.Application-options .gwt-ToggleButton-down,
.Application-options .gwt-ToggleButton-down-hovering {
  cursor: default;
}
.Application-options .sc-ThemeButton-standard {
  background: #d0e4f6;
}
.Application-options .sc-ThemeButton-chrome {
  background: #ccc;
}
.Application-options .sc-ThemeButton-dark {
  background: #3d3d3d;
}
.Application-menu {
  width: 18em;
  text-align: right;
}

/**
 * Applied to widgets in the content area.
 */
.Application-content-decorator {
  margin-left: 8px;
}
.Application-content-title {
  padding: 4px 6px 3px 0px;
  text-align: right;
  background: #530a0a url(../gwt/chrome/images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 2px solid #e3e3e3;
}
.Application-content-title .gwt-TabBarItem {
  background: none;
  padding: 0px;
}
.Application-content-title  .gwt-TabBarItem .gwt-Label {
  padding-left: 20px;
  color: #888888;
}
.Application-content-title  .gwt-TabBarItem-selected .gwt-Label {
  color: black;
}
.Application-content-wrapper {
  text-align: right;
}
.sc-ContentWidget {
  padding: 10px 20px;
}
.sc-ContentWidget-name {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 15px;
}
.sc-ContentWidget-description {
  padding-bottom: 15px;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 15px;
}
.sc-ContentWidget pre {
  border: 1px solid #888;
  background: #eeeeee;
  padding: 10px 2px;
  margin: 10px 0px;
}
.sc-FixedWidthButton {
  width: 10em;
}

/**
 * Applied to specific components in Content Widgets.
 */
.cw-BasicPopup-thumb {
  cursor: pointer;
  cursor: hand;
}

.cw-DictionaryExample-headerRow td {
  color: #7aa5d6;
  text-decoration: underline;
  font-weight: bold;
  padding-right: 20px;
}
.cw-DictionaryExample-dataRow td {
  padding-right: 20px;
}

.cw-DockPanel td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}

.cw-FlowPanel-checkBox {
  margin-left: 20px;
}

.cw-RedText {
  color: red;
}

.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.cw-StackPanelHeader {
  padding-right: 7px;
  font-weight: bold;
  font-size: 1.4em;
}
