/**
 * The file contains styles for GWT widgets in the dark theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    html>body .gwt-Widget {
 *      Rule applies to all browsers (including IE7), except IE6
 *    }
 *    * html .gwt-Widget {
 *      Rule applied to IE6 only (not to IE7)
 *    }
 * 
 * Specifically, IE6 does not support images with multiple transparent colors,
 * so we need to use the AlphaImageLoader in IE6 only.
 */

/**
 * Applied to the entire page.
 */
body,td,a,div,.p {
  font-family:arial,sans-serif
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #4d4d4d;
  direction: ltr;
}

table td, pre {
  font-size: small;
  color: #bec7cc;
}

a, a:visited, a:hover {
  color: #ccf;
}

iframe {
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

/**
 * Applied to buttons.
 */
.gwt-Button {
  margin: 0;
  padding: .3em 5px;
  font-family:Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #000;
}

.gwt-Button:active {
  border: 1px inset #000;
}

.gwt-Button:hover {
  border: 1px outset #24d3ff;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #777;
}

.gwt-Button[disabled]:hover {
  border: 1px outset #000;
}

/**
 * Applied to the checkbox and text next to the checkbox.
 */
.gwt-CheckBox {
}

.gwt-CheckBox-disabled {
  color: #888;
}

/**
 * Applied to the decorator panel.
 */
.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter,
.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight,
.gwt-DecoratorPanel .topLeft,
.gwt-DecoratorPanel .topRight,
.gwt-DecoratorPanel .bottomLeft,
.gwt-DecoratorPanel .bottomRight {
  background: #1e1e1e;
  zoom: 1;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

/**
 * Applied to the dialog box.
 */
.gwt-DialogBox .Caption {
  background: #888888;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #222222;
  border-top: 5px solid #222222;
  color: black;
}
.gwt-DialogBox .content {
}
.gwt-DialogBox .middleCenter {
  padding: 3px;
  background: #4d4d4d;
}
html>body .gwt-DialogBox .bottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
}
* html .gwt-DialogBox .bottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/hborder_black_shadow.png',sizingMethod='scale');
}
.gwt-DialogBox .middleLeft {
  background: url(images/vborder.png) repeat-y;
}
html>body .gwt-DialogBox .middleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
}
* html .gwt-DialogBox .middleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/vborder_black_shadow.png',sizingMethod='scale');
}
.gwt-DialogBox .topLeft,
.gwt-DialogBox .topRight,
.gwt-DialogBox .bottomLeft,
.gwt-DialogBox .bottomRight {
  zoom: 1;
}
html>body .gwt-DialogBox .topLeft {
  width: 5px;
  background: url(images/corner.png) no-repeat -13px 0px;
}
html>body .gwt-DialogBox .topRight {
  width: 8px;
  background: url(images/corner.png) no-repeat -18px 0px;
}
html>body .gwt-DialogBox .bottomLeft {
  width: 5px;
  height: 8px;
  background: url(images/corner.png) no-repeat 0px -15px;
}
html>body .gwt-DialogBox .bottomRight {
  width: 8px;
  height: 8px;
  background: url(images/corner.png) no-repeat -5px -15px;
}
* html .gwt-DialogBox .topLeft {
  width: 5px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/corner_dialog_topleft.png',sizingMethod='crop');
}
* html .gwt-DialogBox .topRight {
  width: 8px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/corner_dialog_topright.png',sizingMethod='crop');
}
* html .gwt-DialogBox .bottomLeftInner {
  width: 5px;
  height: 23px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-DialogBox .bottomRightInner {
  width: 13px;
  height: 23px;
  margin-left: -5px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}

/**
 * Applied to the disclosure panel, which shows or hides content when the user
 * toggles the header.
 */
.gwt-DisclosurePanel {
}

.gwt-DisclosurePanel a {
  text-decoration: none;  /* Remove underline from header */ 
}

.gwt-DisclosurePanel-open {
}

.gwt-DisclosurePanel-closed {
}

.gwt-DisclosurePanel .header {
}

.gwt-DisclosurePanel .content {
  border-left: 3px solid #1e1e1e;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}

/**
 * Applied to the File Upload.
 */
.gwt-FileUpload {
}

/**
 * Applied to split panels.
 */
.gwt-HorizontalSplitPanel {
}
.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  border: 0px; 
  background: #1E1E1E;
}
.gwt-VerticalSplitPanel {
}
.gwt-VerticalSplitPanel .vsplitter {
  cursor: move;
  border: 0px; 
  background: #1E1E1E;
}

/**
 * Applied to all HTML label elements.
 */
.gwt-HTML {
  color: #BEC7CC;
}

/**
 * Applied to all Hyperlinks.
 */
.gwt-Hyperlink {
}

/**
 * Applied to all Images
 */
.gwt-Image {
}

/**
 * Applied to all Label elements.
 */
.gwt-Label {
}

/**
 * Applied to list boxes.
 */
.gwt-ListBox {
}

/**
 * Applied to the menu bar.
 */
.gwt-MenuBar {
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background: #666;
  color: #0cf;
}

.gwt-MenuBar-horizontal {
  background: #222222;
  border: 1px solid #777;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  vertical-align: bottom;
  font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #bec7cc;
  background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .content {
  width: 1px;
  background: #000; 
}

.gwt-MenuBar-vertical {
  margin-top: 0px;
  margin-left: 0px;
  background: #4D4D4D;
}

.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 4px 14px 4px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .content {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #bec7cc;
  background: #222;
  overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #666;
}
.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
}
.gwt-MenuBarPopup .topCenter {
  background: url(images/hborder.png) 0px -12px repeat-x;
}
html>body .gwt-MenuBarPopup .bottomCenter {
  background: url(images/hborder.png) 0px -13px repeat-x;
}
* html .gwt-MenuBarPopup .bottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/hborder_gray_shadow.png',sizingMethod='scale');
}
.gwt-MenuBarPopup .middleLeft {
  background: url(images/vborder.png) -12px 0px repeat-y;
}
html>body .gwt-MenuBarPopup .middleRight {
  background: url(images/vborder.png) -13px 0px repeat-y;
}
* html .gwt-MenuBarPopup .middleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/vborder_gray_shadow.png',sizingMethod='scale');
}
html>body .gwt-MenuBarPopup .topLeft {
  width: 5px;
  height: 5px;
  background: url(images/corner.png) no-repeat 0px -36px;
}
html>body .gwt-MenuBarPopup .topRight {
  width: 8px;
  height: 5px;
  background: url(images/corner.png) no-repeat -5px -36px;
}
html>body .gwt-MenuBarPopup .bottomLeft {
  width: 5px;
  height: 8px;
  background: url(images/corner.png) no-repeat 0px -41px;
}
html>body .gwt-MenuBarPopup .bottomRight {
  width: 8px;
  height: 8px;
  background: url(images/corner.png) no-repeat -5px -41px;
}
* html .gwt-MenuBarPopup .topLeftInner {
  width: 5px;
  height: 41px;
  margin-top: -36px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-MenuBarPopup .topRightInner {
  width: 13px;
  height: 41px;
  margin-left: -5px;
  margin-top: -36px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-MenuBarPopup .bottomLeftInner {
  width: 5px;
  height: 49px;
  margin-top: -41px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-MenuBarPopup .bottomRightInner {
  width: 13px;
  height: 49px;
  margin-left: -5px;
  margin-top: -41px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}

/**
 * Applied to the password input box.
 */
.gwt-PasswordTextBox {
  padding: 2px;
}
.gwt-PasswordTextBox-readonly {
  color: #888;
}

/**
 * Applied to the decorator panel.
 */
.gwt-PopupPanel .content {
}
.gwt-PopupPanel .middleCenter {
  padding: 3px;
  background: #4D4D4D;
}
.gwt-PopupPanel .topCenter {
  background: url(images/hborder.png) repeat-x;
}
html>body .gwt-PopupPanel .bottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
}
* html .gwt-PopupPanel .bottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/hborder_black_shadow.png',sizingMethod='scale');
}
.gwt-PopupPanel .middleLeft {
  background: url(images/vborder.png) repeat-y;
}
html>body .gwt-PopupPanel .middleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
}
* html .gwt-PopupPanel .middleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/vborder_black_shadow.png',sizingMethod='scale');
}
.gwt-PopupPanel .topLeft,
.gwt-PopupPanel .topRight,
.gwt-PopupPanel .bottomLeft,
.gwt-PopupPanel .bottomRight {
  zoom: 1;
}
html>body .gwt-PopupPanel .topLeft {
  width: 5px;
  height: 5px;
  background: url(images/corner.png) no-repeat 0px -10px;
}
html>body .gwt-PopupPanel .topRight {
  width: 8px;
  height: 5px;
  background: url(images/corner.png) no-repeat -5px -10px;
}
html>body .gwt-PopupPanel .bottomLeft {
  width: 5px;
  height: 8px;
  background: url(images/corner.png) no-repeat 0px -15px;
}
html>body .gwt-PopupPanel .bottomRight {
  width: 8px;
  height: 8px;
  background: url(images/corner.png) no-repeat -5px -15px;
}
* html .gwt-PopupPanel .topLeftInner {
  width: 5px;
  height: 15px;
  margin-top: -10px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-PopupPanel .topRightInner {
  width: 13px;
  height: 15px;
  margin-left: -5px;
  margin-top: -10px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-PopupPanel .bottomLeftInner {
  width: 5px;
  height: 23px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-PopupPanel .bottomRightInner {
  width: 13px;
  height: 23px;
  margin-left: -5px;
  margin-top: -15px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}

/**
 * Applied to the push button, a customizable button that can be pressed
 * and released.
 */
.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  padding: 3px 5px;
  font-family:Arial, sans-serif;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}
.gwt-PushButton-up {
  border: 1px outset #000;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-hovering {
  border: 1px outset #24d3ff;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-disabled {
  cursor: default;
  border: 1px outset #888;
  color: #888;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}
.gwt-PushButton-down {
  border: 1px inset #000;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-hovering {
  border: 1px inset #24d3ff;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=40);
  zoom: 1;
}

/**
 * Applied to radio buttons and the text next to them.
 */
.gwt-RadioButton {
  padding: 4px 4px 3px 3px;
}

.gwt-RadioButton-disabled {
  color: #888;
}

/**
 * Applied to the Rich Text Area.
 */
.gwt-RichTextArea {
}

.hasRichTextToolbar {
  border: 0px;
}

.gwt-RichTextToolbar {
  background: #222222;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

/**
 * Applied to the stack panel, a vertical menu widget that reveals one
 * category at a time.
 */
.gwt-StackPanel {
  border-bottom: 1px solid #000;
}
.gwt-StackPanel .gwt-StackPanelContent {
  border: 1px solid #000;
  border-bottom: 0px;
  background: #666;
  padding: 2px 2px 10px 5px;
}
.gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
  padding: 4px;
  border: 1px solid #000;
  border-bottom: 0px;
  background: #222;
}
.gwt-StackPanelItem .topLeft,
.gwt-StackPanelItem .topRight,
.gwt-StackPanelItem .topLeftInner,
.gwt-StackPanelItem .topRightInner {
  display: none;
}

/**
 * Applied to the suggest box.
 */
.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #b7d6f6;
}
.gwt-SuggestBoxPopup .middleCenter {
  background: #ddd;
}
.gwt-SuggestBoxPopup .topCenter {
  background: url(images/hborder.png) repeat-x;
}
html>body .gwt-SuggestBoxPopup .bottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
}
* html .gwt-SuggestBoxPopup .bottomCenter {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/hborder_black_shadow.png',sizingMethod='scale');
}
.gwt-SuggestBoxPopup .middleLeft {
  background: url(images/vborder.png) repeat-y;
}
html>body .gwt-SuggestBoxPopup .middleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
}
* html .gwt-SuggestBoxPopup .middleRight {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/ie6/vborder_black_shadow.png',sizingMethod='scale');
}
html>body .gwt-SuggestBoxPopup .topLeft {
  width: 5px;
  height: 5px;
  background: url(images/corner.png) no-repeat 0px -23px;
}
html>body .gwt-SuggestBoxPopup .topRight {
  width: 8px;
  height: 5px;
  background: url(images/corner.png) no-repeat -5px -23px;
}
html>body .gwt-SuggestBoxPopup .bottomLeft {
  width: 5px;
  height: 8px;
  background: url(images/corner.png) no-repeat 0px -28px;
}
html>body .gwt-SuggestBoxPopup .bottomRight {
  width: 8px;
  height: 8px;
  background: url(images/corner.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .topLeftInner {
  width: 5px;
  height: 28px;
  margin-top: -23px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .topRightInner {
  width: 13px;
  height: 28px;
  margin-left: -5px;
  margin-top: -23px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .bottomLeftInner {
  width: 5px;
  height: 36px;
  margin-top: -28px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}
* html .gwt-SuggestBoxPopup .bottomRightInner {
  width: 13px;
  height: 36px;
  margin-left: -5px;
  margin-top: -28px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='dark/images/corner.png',sizingMethod='crop');
}

/**
 * Applied to the tab panel.  The tab panel provides CSS access to
 * the tab bar element and the table cell that wraps the tab bar element,
 * which allows for rounded edges via the sliding window method.
 */ 
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}
.gwt-TabBar .gwt-TabBarItem .topLeft,
.gwt-TabBar .gwt-TabBarItem .topRight,
.gwt-TabBar .gwt-TabBarItem .topLeftInner,
.gwt-TabBar .gwt-TabBarItem .topRightInner {
  display: none;
}
.gwt-TabBar .gwt-TabBarItem .middleCenter {
  padding: 4px 6px;
  cursor: pointer;
  cursor: hand;
  color: #bec7cc;
  font-weight: bold;
  text-align: center;
  background: #222;
}
.gwt-TabBar .gwt-TabBarItem-selected .middleCenter {
  cursor: default;
  background: #000;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-color: #000;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

/**
 * Applied to general text areas.
 */
.gwt-TextArea {
  padding: 2px;
}

.gwt-TextArea-readonly {
  color: #888;
}

/**
 * Applied to text boxes.
 */
.gwt-TextBox {
  padding: 2px;
}

.gwt-TextBox-readonly {
  color: #888;
}

/**
 * Applied to toggle buttons, a customizable button that can be toggled
 * between two states (similar to a checkbox).
 */
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  padding: 3px 5px;
  font-family:Arial, sans-serif;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
}
.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}
.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}

/**
 * Applied to the Tree.
 */
.gwt-Tree .gwt-TreeItem {
  padding: 1px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}
.gwt-Tree .gwt-TreeItem-selected {
  color: #0cf;
  background: #1c1c1c;
}
