.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #ebebeb;
  color: #333;
  overflow : hidden;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_text-layer {
}

.ace_cursor {
  border-left: 2px solid black;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid black;
}

.ace_line .ace_invisible {
  color: rgb(191, 191, 191);
}

.ace_line .ace_constant.ace_buildin {
  color: rgb(88, 72, 246);
}

.ace_line .ace_constant.ace_language {
  color: rgb(88, 92, 246);
}

.ace_line .ace_constant.ace_library {
  color: rgb(6, 150, 14);
}

.ace_line .ace_invalid {
  background-color: rgb(153, 0, 0);
  color: white;
}

.ace_line .ace_fold {
}

.ace_line .ace_support.ace_function {
  color: rgb(60, 76, 114);
}

.ace_line .ace_support.ace_constant {
  color: rgb(6, 150, 14);
}

.ace_line .ace_support.ace_type,
.ace_line .ace_support.ace_class {
  color: rgb(109, 121, 222);
}

.ace_variable.ace_parameter {
  font-style:italic;
color:#FD971F;
}
.ace_line .ace_keyword.ace_operator {
  color: rgb(104, 118, 135);
}

.ace_line .ace_comment {
  color: #236e24;
}

.ace_line .ace_comment.ace_doc {
  color: #236e24;
}

.ace_line .ace_comment.ace_doc.ace_tag {
  color: #236e24;
}

.ace_line .ace_constant.ace_numeric {
  color: rgb(0, 0, 205);
}

.ace_line .ace_variable {
  color: rgb(49, 132, 149);
}

.ace_line .ace_xml_pe {
  color: rgb(104, 104, 91);
}

.ace_entity.ace_name.ace_function {
  color: #0000A2;
}

.ace_markup.ace_markupine {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color: rgb(12, 7, 255);
}

.ace_markup.ace_list {
  color:rgb(185, 6, 144);
}

.ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255);
}

.ace_marker-layer .ace_step {
  background: rgb(252, 255, 0);
}

.ace_marker-layer .ace_stack {
  background: rgb(164, 229, 101);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgb(192, 192, 192);
}

.ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.07);
}

.ace_marker-layer .ace_selected_word {
  background: rgb(250, 250, 255);
  border: 1px solid rgb(200, 200, 250);
}

.ace_storage,
.ace_line .ace_keyword,
.ace_meta.ace_tag {
  color: rgb(147, 15, 128);
}

.ace_string.ace_regex {
  color: rgb(255, 0, 0)
}

.ace_line .ace_string{
  color: #1A1AA6;
}

.ace_entity.ace_other.ace_attribute-name{
  color: #994409;
}

.ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
}

.nocolor.ace_editor .ace_line span {color: rgb(104, 118, 135) !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgb(192, 192, 192);}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(242, 242, 242);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(223, 223, 223);}