
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #232323;
  color: #929292;
}

.ace_print_margin {
  width: 1px;
  background: #232323;
}

.ace_scroller {
  background-color: #191919;
}

.ace_text-layer {
  color: #929292;
}

.ace_cursor {
  border-left: 2px solid #7DA5DC;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #7DA5DC;
}

.ace_marker-layer .ace_selection {
  background: #000000;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #191919;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BFBFBF;
}

.ace_marker-layer .ace_active_line {
  background: rgba(215, 215, 215, 0.031);
}

.ace_gutter_active_line {
  background-color: rgba(215, 215, 215, 0.031);
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #000000;
}

.ace_invisible {
  color: #BFBFBF;
}

.ace_keyword, .ace_meta {
  color:#927C5D;
}

.ace_keyword.ace_operator {
  color:#4B4B4B;
}

.ace_constant.ace_language {
  color:#39946A;
}

.ace_constant.ace_numeric {
  color:#46A609;
}

.ace_invalid {
  color:#FFFFFF;
background-color:#E92E2E;
}

.ace_fold {
    background-color: #927C5D;
    border-color: #929292;
}

.ace_support.ace_function {
  color:#E92E2E;
}

.ace_storage {
  color:#E92E2E;
}

.ace_string {
  color:#5D90CD;
}

.ace_comment {
  color:#3C403B;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#606060;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOQlJT8z1BeXv4fAA2KA6+h9Z+2AAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#927C5D !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #BFBFBF;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(49, 49, 49);}