
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #ebebeb;
  color: #333;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #FFFFFF;
}

.ace_text-layer {
  color: #000000;
}

.ace_cursor {
  border-left: 2px solid #000000;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}

.ace_marker-layer .ace_selection {
  background: #BDD5FC;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #FFFFFF;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(255, 255, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BFBFBF;
}

.ace_marker-layer .ace_active_line {
  background: #FFFBD1;
}

.ace_gutter_active_line {
  background-color : #dcdcdc;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #BDD5FC;
}

.ace_invisible {
  color: #BFBFBF;
}

.ace_keyword, .ace_meta {
  color:#AF956F;
}

.ace_keyword.ace_operator {
  color:#484848;
}

.ace_constant.ace_language {
  color:#39946A;
}

.ace_constant.ace_numeric {
  color:#46A609;
}

.ace_invalid {
  background-color:#FF002A;
}

.ace_fold {
    background-color: #AF956F;
    border-color: #000000;
}

.ace_support.ace_function {
  color:#C52727;
}

.ace_storage {
  color:#C52727;
}

.ace_string {
  color:#5D90CD;
}

.ace_comment {
  color:#BCC8BA;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#606060;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#AF956F !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #BFBFBF;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(204, 204, 204);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(127, 127, 127);}