.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  width: 50px;
  background: rgb(227, 227, 227);
  border-right: 1px solid rgb(159, 159, 159);	 
  color: rgb(136, 136, 136);
}

.ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_gutter {
  cursor: text;
}

.ace_cursor {
  border-left: 1px solid black;
}

.ace_line .ace_keyword, .ace_line .ace_variable {
  color: rgb(127, 0, 85);
}

.ace_line .ace_constant.ace_buildin {
  color: rgb(88, 72, 246);
}

.ace_line .ace_constant.ace_library {
  color: rgb(6, 150, 14);
}

.ace_line .ace_function {
  color: rgb(60, 76, 114);
}

.ace_line .ace_string {
  color: rgb(42, 0, 255);
}

.ace_line .ace_comment {
  color: rgb(63, 127, 95);
}

.ace_line .ace_comment.ace_doc {
  color: rgb(63, 95, 191);
}

.ace_line .ace_comment.ace_doc.ace_tag {
  color: rgb(127, 159, 191);
}

.ace_line .ace_constant.ace_numeric {
}

.ace_line .ace_tag {
	color: rgb(63, 127, 127);
}

.ace_line .ace_xml_pe {
  color: rgb(104, 104, 91);
}

.ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgb(192, 192, 192);
}

.ace_marker-layer .ace_active_line {
  background: rgb(232, 242, 254);
}
.nocolor.ace_editor .ace_line span {color: rgb(127, 0, 85) !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgb(192, 192, 192);}