.ace_gutter {
  background: #1c1917;
  color: #FCFFE0
}

.ace_print-margin {
  width: 1px;
  background: #1c1917
}

.ace_editor {
  background-color: #0B0A09;
  color: #FCFFE0
}

.ace_cursor {
  color: #FF9900
}

.ace_marker-layer .ace_selection {
  background: rgba(170, 0, 255, 0.45)
}

.ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0B0A09;
  border-radius: 2px
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 177, 111, 0.32)
}

.ace_marker-layer .ace_active-line {
  background: #38403D
}

.ace_gutter-active-line {
  background-color : #38403D
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(170, 0, 255, 0.45)
}

.ace_invisible {
  color: rgba(255, 177, 111, 0.32)
}

.ace_keyword,
.ace_meta {
  color: #949C8B
}

.ace_constant,
.ace_constant.ace_character,
.ace_constant.ace_character.ace_escape,
.ace_constant.ace_other {
  color: rgba(210, 117, 24, 0.76)
}

.ace_invalid {
  color: #F8F8F8;
  background-color: #A41300
}

.ace_support {
  color: #9FC28A
}

.ace_support.ace_constant {
  color: #C27E66
}

.ace_fold {
  background-color: #949C8B;
  border-color: #FCFFE0
}

.ace_support.ace_function {
  color: #85873A
}

.ace_storage {
  color: #FFEE80
}

.ace_string {
  color: rgba(164, 161, 181, 0.8)
}

.ace_string.ace_regexp {
  color: rgba(125, 255, 192, 0.65)
}

.ace_comment {
  font-style: italic;
  color: #706D5B
}

.ace_variable {
  color: #D1A796
}

.ace_list,
.ace_markup.ace_list {
  background-color: #0F0040
}

.ace_variable.ace_language {
  color: #FF80E1
}

.ace_meta.ace_tag {
  color: #BABD9C
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y
}
.nocolor.ace_editor .ace_line span {
  color: #949c8b !important;
}
.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: rgba(128, 128, 128, 0.5);
}
.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #23221E;
}
.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #857420;
}
.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #3B3A33;
}
.ace_console_error {
  background-color: #3B3A33;
}
.ace_keyword.ace_operator {
  color: #A56464 !important;
}
