.ace_gutter {
  background: #202020;
  color: #E6E1DC
}

.ace_print-margin {
  width: 1px;
  background: #555651
}

.ace_editor {
  background-color: #161616;
  color: #E6E1DC
}

.ace_cursor {
  color: #FFFFFF
}

.ace_marker-layer .ace_selection {
  background: #454545
}

.ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #161616;
  border-radius: 2px
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #404040
}

.ace_marker-layer .ace_active-line {
  background: #333435
}

.ace_gutter-active-line {
  background-color: #333435
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #454545
}

.ace_invisible {
  color: #404040
}

.ace_entity.ace_name.ace_tag,
.ace_keyword,
.ace_meta,
.ace_meta.ace_tag,
.ace_storage,
.ace_support.ace_function {
  color: #FC6F09
}

.ace_constant,
.ace_constant.ace_character,
.ace_constant.ace_character.ace_escape,
.ace_constant.ace_other,
.ace_support.ace_type {
  color: #1EDAFB
}

.ace_constant.ace_character.ace_escape {
  color: #519F50
}

.ace_constant.ace_language {
  color: #FDC251
}

.ace_constant.ace_library,
.ace_string,
.ace_support.ace_constant {
  color: #8DFF0A
}

.ace_constant.ace_numeric {
  color: #58C554
}

.ace_invalid {
  color: #FFFFFF;
  background-color: #990000
}

.ace_fold {
  background-color: #FC6F09;
  border-color: #E6E1DC
}

.ace_comment {
  font-style: italic;
  color: #AD2EA4
}

.ace_entity.ace_other.ace_attribute-name {
  color: #FFFF89
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQFxf3ZXB1df0PAAdsAmERTkEHAAAAAElFTkSuQmCC) right repeat-y
}
.nocolor.ace_editor .ace_line span {
  color: #fc6f09 !important;
}
.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: rgba(128, 128, 128, 0.5);
}
.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #2A2A29;
}
.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #8A7A27;
}
.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #3F3E3D;
}
.ace_console_error {
  background-color: #3F3E3D;
}
.ace_keyword.ace_operator {
  color: #AAAAAA !important;
}
