
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #262424;
  color: #E6E1DC;
}

.ace_print_margin {
  width: 1px;
  background: #262424;
}

.ace_scroller {
  background-color: #1C1C1C;
}

.ace_text-layer {
  color: #E6E1DC;
}

.ace_cursor {
  border-left: 2px solid #FFFFFF;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #FFFFFF;
}

.ace_marker-layer .ace_selection {
  background: #494949;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #1C1C1C;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #404040;
}

.ace_marker-layer .ace_active_line {
  background: #333435;
}

.ace_gutter_active_line {
  background-color: #333435;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #494949;
}

.ace_invisible {
  color: #404040;
}

.ace_keyword, .ace_meta {
  color:#FC803A;
}

.ace_constant, .ace_constant.ace_other {
  color:#68C1D8;
}

.ace_constant.ace_character,  {
  color:#68C1D8;
}

.ace_constant.ace_character.ace_escape,  {
  color:#68C1D8;
}

.ace_constant.ace_language {
  color:#E1C582;
}

.ace_constant.ace_library {
  color:#8EC65F;
}

.ace_constant.ace_numeric {
  color:#7FC578;
}

.ace_invalid {
  color:#FFFFFF;
background-color:#FE3838;
}

.ace_invalid.ace_deprecated {
  color:#FFFFFF;
background-color:#FE3838;
}

.ace_support.ace_constant {
  color:#8EC65F;
}

.ace_fold {
    background-color: #FC803A;
    border-color: #E6E1DC;
}

.ace_storage {
  color:#FC803A;
}

.ace_string {
  color:#8EC65F;
}

.ace_comment {
  font-style:italic;
color:#AC4BB8;
}

.ace_meta {
  font-style:italic;
color:#AC4BB8;
}

.ace_meta.ace_tag {
  color:#FC803A;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#EAF1A3;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWOQkZH5zzBz5sz/AA8EBB6crd1rAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#FC803A !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #404040;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(68, 67, 66);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(129, 126, 124);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(141, 125, 42);}
.ace_console_error { background-color: rgb(68, 67, 66); }