
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #1d2521;
  color: #fff;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #222C28;
}

.ace_text-layer {
  color: #FFFFFF;
}

.ace_cursor {
  border-left: 2px solid #FFFFFF;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #FFFFFF;
}

.ace_marker-layer .ace_selection {
  background: rgba(145, 153, 148, 0.40);
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #222C28;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(102, 108, 104, 0.50);
}

.ace_marker-layer .ace_active_line {
  background: rgba(12, 13, 12, 0.25);
}

.ace_gutter_active_line {
  background-color: rgba(12, 13, 12, 0.25);
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid rgba(145, 153, 148, 0.40);
}

.ace_invisible {
  color: rgba(102, 108, 104, 0.50);
}

.ace_keyword, .ace_meta {
  color:#A39E64;
}

.ace_keyword.ace_operator {
  color:#A8B3AB;
}

.ace_constant, .ace_constant.ace_other {
  color:#E98800;
}

.ace_constant.ace_character,  {
  color:#E98800;
}

.ace_constant.ace_character.ace_escape,  {
  color:#E98800;
}

.ace_constant.ace_numeric {
  color:#E98800;
}

.ace_invalid {
  color:#FFFFFF;
background-color:rgba(153, 0, 0, 0.68);
}

.ace_support.ace_constant {
  color:#C87500;
}

.ace_fold {
    background-color: #A8B3AB;
    border-color: #FFFFFF;
}

.ace_support.ace_function {
  color:#588E60;
}

.ace_storage {
  color:#C23B00;
}

.ace_variable {
  color:#A8B3AB;
}

.ace_variable.ace_parameter {
  color:#648BD2;
}

.ace_comment {
  color:#666C68;
background-color:#151C19;
}

.ace_variable.ace_language {
  color:#648BD2;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#909993;
}

.ace_entity.ace_name {
  color:#5778B6;
}

.ace_entity.ace_name.ace_function {
  color:#A8B3AB;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNQ0tH4zzBz5sz/ABAOBECKH+evAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#A39E64 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgba(102, 108, 104, 0.50);}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(78, 86, 82);}