
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #353030;
  color: #8F938F;
}

.ace_print_margin {
  width: 1px;
  background: #353030;
}

.ace_scroller {
  background-color: #2C2828;
}

.ace_text-layer {
  color: #8F938F;
}

.ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}

.ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #2C2828;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}

.ace_gutter_active_line {
  background-color: rgba(255, 255, 255, 0.031);
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid rgba(221, 240, 255, 0.20);
}

.ace_invisible {
  color: rgba(255, 255, 255, 0.25);
}

.ace_keyword, .ace_meta {
  color:#757aD8;
}

.ace_keyword.ace_operator {
  color:#797878;
}

.ace_constant, .ace_constant.ace_other {
  color:#4FB7C5;
}

.ace_constant.ace_character,  {
  color:#4FB7C5;
}

.ace_constant.ace_character.ace_escape,  {
  color:#4FB7C5;
}

.ace_constant.ace_language {
  color:#DE8E30;
}

.ace_constant.ace_numeric {
  color:#CCCCCC;
}

.ace_invalid {
  color:#F8F8F8;
background-color:rgba(86, 45, 86, 0.75);
}

.ace_invalid.ace_illegal {
  color:#F8F8F8;
background-color:rgba(86, 45, 86, 0.75);
}

.ace_invalid.ace_deprecated {
  text-decoration:underline;
font-style:italic;
color:#D2A8A1;
}

.ace_fold {
    background-color: #757aD8;
    border-color: #8F938F;
}

.ace_support.ace_function {
  color:#AEB2F8;
}

.ace_string {
  color:#66A968;
}

.ace_string.ace_regexp {
  color:#E9C062;
}

.ace_comment {
  color:#A6C6FF;
}

.ace_variable {
  color:#BEBF55;
}

.ace_variable.ace_language {
  color:#C1C144;
}

.ace_xml_pe {
  color:#494949;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0dD4z9DR0fEfAA+vBBPqhbn1AAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#757aD8 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgba(255, 255, 255, 0.25);}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(63, 61, 60);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(93, 93, 91);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(149, 131, 48);}
.ace_console_error { background-color: rgb(73, 72, 70); }