.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #2c2828;
}

.ace_text-layer {
  cursor: text;
  color: #8f938f;
}

.ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}
 
.ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}

       
.ace_invisible {
  color: rgba(255, 255, 255, 0.25);
}

.ace_keyword {
  color:#757ad8;
}

.ace_keyword.ace_operator {
  color:#797878;
}

.ace_constant {
  color:#4fb7c5;
}

.ace_constant.ace_language {
  
}

.ace_constant.ace_library {
  
}

.ace_constant.ace_numeric {
  
}

.ace_invalid {
  
}

.ace_invalid.ace_illegal {
  color:#F8F8F8;
background-color:rgba(86, 45, 86, 0.75);
}

.ace_invalid.ace_deprecated {
  text-decoration:underline;
font-style:italic;
color:#D2A8A1;
}

.ace_support {
  color:#9a9a9a;
}

.ace_support.ace_function {
  color:#aeb2f8;
}

.ace_function.ace_buildin {
  
}

.ace_string {
  color:#66a968;
}

.ace_string.ace_regexp {
  color:#E9C062;
}

.ace_comment {
  color:#656865;
}

.ace_comment.ace_doc {
  color:A6C6FF;
}

.ace_comment.ace_doc.ace_tag {
  color:A6C6FF;
}

.ace_variable {
  color:#bebf55;
}

.ace_variable.ace_language {
  color:#bebf55;
}

.ace_xml_pe {
  color:#494949;
}
.nocolor.ace_editor .ace_line span {color:#757ad8 !important;}