.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #FDF6E3;
}

.ace_text-layer {
  cursor: text;
  color: #586E75;
}

.ace_cursor {
  border-left: 2px solid #000000;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}
 
.ace_marker-layer .ace_selection {
  background: #073642;
}

.ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #EAE3C9;
}

.ace_marker-layer .ace_active_line {
  background: #EEE8D5;
}

       
.ace_invisible {
  color: #EAE3C9;
}

.ace_keyword {
  color:#859900;
}

.ace_keyword.ace_operator {
  
}

.ace_constant {
  
}

.ace_constant.ace_language {
  color:#B58900;
}

.ace_constant.ace_library {
  
}

.ace_constant.ace_numeric {
  color:#D33682;
}

.ace_invalid {
  
}

.ace_invalid.ace_illegal {
  
}

.ace_invalid.ace_deprecated {
  
}

.ace_support {
  
}

.ace_support.ace_function {
  color:#268BD2;
}

.ace_function.ace_buildin {
  
}

.ace_string {
  color:#586E75;
}

.ace_string.ace_regexp {
  color:#D30102;
}

.ace_comment {
  color:#93A1A1;
}

.ace_comment.ace_doc {
  
}

.ace_comment.ace_doc.ace_tag {
  
}

.ace_variable {
  
}

.ace_variable.ace_language {
  color:#268BD2;
}

.ace_xml_pe {
  
}

.ace_collab.ace_user1 {
     
}