
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #fbf1d3;
  color: #333;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #FDF6E3;
}

.ace_text-layer {
  color: #586E75;
}

.ace_cursor {
  border-left: 2px solid #000000;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}

.ace_marker-layer .ace_selection {
  background: #073642;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #FDF6E3;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(255, 255, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(147, 161, 161, 0.50);
}

.ace_marker-layer .ace_active_line {
  background: #EEE8D5;
}

.ace_gutter_active_line {
  background-color : #dcdcdc;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #073642;
}

.ace_invisible {
  color: rgba(147, 161, 161, 0.50);
}

.ace_keyword, .ace_meta {
  color:#859900;
}

.ace_constant.ace_language {
  color:#B58900;
}

.ace_constant.ace_numeric {
  color:#D33682;
}

.ace_constant.ace_other {
  color:#CB4B16;
}

.ace_fold {
    background-color: #268BD2;
    border-color: #586E75;
}

.ace_support.ace_function {
  color:#268BD2;
}

.ace_storage {
  color:#073642;
}

.ace_variable {
  color:#268BD2;
}

.ace_string {
  color:#2AA198;
}

.ace_string.ace_regexp {
  color:#D30102;
}

.ace_comment {
  color:#93A1A1;
}

.ace_variable.ace_language {
  color:#268BD2;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#93A1A1;
}

.ace_entity.ace_name.ace_function {
  color:#268BD2;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4++3xf4ZVq1b9BwAjxwbT1g3hiwAAAABJRU5ErkJggg==) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#859900 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgba(147, 161, 161, 0.50);}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(220, 218, 205);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(170, 178, 172);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(254, 234, 141);}
.ace_console_error { background-color: rgb(203, 205, 194); }