.ace_gutter {
  background: #272727;
  color: #CCC
}

.ace_print-margin {
  width: 1px;
  background: #444 ;
}

.ace_editor {
  background-color: #2D2D2D;
  color: #CCCCCC
}

.ace_constant.ace_other,
.ace_cursor {
  color: #CCCCCC
}

.ace_marker-layer .ace_selection {
  background: #515151
}

.ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #2D2D2D;
  border-radius: 2px
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #6A6A6A
}

.ace-tomorrow-night-bright .ace_stack {
  background: rgb(66, 90, 44)
}

.ace_marker-layer .ace_active-line {
  background: #393939
}

.ace_gutter-active-line {
  background-color: #393939
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #515151
}

.ace_invisible {
  color: #6A6A6A
}

.ace_keyword,
.ace_meta,
.ace_storage,
.ace_storage.ace_type,
.ace_support.ace_type {
  color: #CC99CC
}

.ace_keyword.ace_operator {
  color: #66CCCC
}

.ace_constant.ace_character,
.ace_constant.ace_language,
.ace_constant.ace_numeric,
.ace_keyword.ace_other.ace_unit,
.ace_support.ace_constant,
.ace_variable.ace_parameter {
  color: #F99157
}

.ace_invalid {
  color: #CDCDCD;
  background-color: #F2777A
}

.ace_invalid.ace_deprecated {
  color: #CDCDCD;
  background-color: #CC99CC
}

.ace_fold {
  background-color: #6699CC;
  border-color: #CCCCCC
}

.ace_entity.ace_name.ace_function,
.ace_support.ace_function,
.ace_variable {
  color: #6699CC
}

.ace_support.ace_class,
.ace_support.ace_type {
  color: #FFCC66
}

.ace_heading,
.ace_markup.ace_heading,
.ace_string {
  color: #99CC99
}

.ace_comment {
  color: #999999
}

.ace_entity.ace_name.ace_tag,
.ace_entity.ace_other.ace_attribute-name,
.ace_meta.ace_tag,
.ace_variable {
  color: #F2777A
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ09NrYAgMjP4PAAtGAwchHMyAAAAAAElFTkSuQmCC) right repeat-y
}
.nocolor.ace_editor .ace_line span {
  color: #cc99cc !important;
}
.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: rgba(128, 128, 128, 0.5);
}
.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #3C3C3C;
}
.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #968532;
}
.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #4C4C4C;
}
.ace_console_error {
  background-color: #4C4C4C;
}
.terminal {
  background-color: #2D2D2D;
  color: #cccccc;
  font-feature-settings: "liga" 0;
  position: relative;
}
.terminal.focus:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
   background-color: #CCC;
   color: #1e1e1e;
}
.terminal:not(.focus) .terminal-cursor {
  outline: 1px solid #CCC;
  outline-offset: -1px;
  background-color: transparent;
}
.terminal.xterm-cursor-style-bar .terminal-cursor::before,
.terminal.xterm-cursor-style-underline .terminal-cursor::before {
   content: "";
   display: block;
   position: absolute;
   background-color: #CCC;
}
.terminal.xterm-cursor-style-bar.focus.xterm-cursor-blink .terminal-cursor::before,
.terminal.xterm-cursor-style-underline.focus.xterm-cursor-blink .terminal-cursor::before {
   background-color: #CCC;
}
.terminal .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #2D2D2D;
  overflow-y: scroll;
}
