.ace_gutter {
  background: #1a1a1a;
  color: #DEDEDE
}

.ace_print-margin {
  width: 1px;
  background: #1a1a1a
}

.ace_editor {
  background-color: #000000;
  color: #DEDEDE
}

.ace_cursor {
  color: #9F9F9F
}

.ace_marker-layer .ace_selection {
  background: #424242
}

.ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #000000;
  border-radius: 2px
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #888888
}

.ace_marker-layer .ace_highlight {
  border: 1px solid rgb(110, 119, 0);
  border-bottom: 0;
  box-shadow: inset 0 -1px rgb(110, 119, 0);
  margin: -1px 0 0 -1px;
  background: rgba(255, 235, 0, 0.1)
}

.ace_marker-layer .ace_active-line {
  background: #2A2A2A
}

.ace_gutter-active-line {
  background-color: #2A2A2A
}

.ace_stack {
  background-color: rgb(66, 90, 44)
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #888888
}

.ace_invisible {
  color: #343434
}

.ace_keyword,
.ace_meta,
.ace_storage,
.ace_storage.ace_type,
.ace_support.ace_type {
  color: #C397D8
}

.ace_keyword.ace_operator {
  color: #70C0B1
}

.ace_constant.ace_character,
.ace_constant.ace_language,
.ace_constant.ace_numeric,
.ace_keyword.ace_other.ace_unit,
.ace_support.ace_constant,
.ace_variable.ace_parameter {
  color: #E78C45
}

.ace_constant.ace_other {
  color: #EEEEEE
}

.ace_invalid {
  color: #CED2CF;
  background-color: #DF5F5F
}

.ace_invalid.ace_deprecated {
  color: #CED2CF;
  background-color: #B798BF
}

.ace_fold {
  background-color: #7AA6DA;
  border-color: #DEDEDE
}

.ace_entity.ace_name.ace_function,
.ace_support.ace_function,
.ace_variable {
  color: #7AA6DA
}

.ace_support.ace_class,
.ace_support.ace_type {
  color: #E7C547
}

.ace_heading,
.ace_markup.ace_heading,
.ace_string {
  color: #B9CA4A
}

.ace_entity.ace_name.ace_tag,
.ace_entity.ace_other.ace_attribute-name,
.ace_meta.ace_tag,
.ace_string.ace_regexp,
.ace_variable {
  color: #D54E53
}

.ace_comment {
  color: #969896
}

.ace_c9searchresults.ace_keyword {
  color: #C2C280
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y
}
.nocolor.ace_editor .ace_line span {
  color: #c397d8 !important;
}
.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: rgba(128, 128, 128, 0.5);
}
.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #212121;
}
.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #7F6F1C;
}
.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #2C2C2C;
}
.ace_console_error {
  background-color: #2C2C2C;
}
