
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #272727;
  color: #CCC;
}

.ace_print_margin {
  width: 1px;
  background: #272727;
}

.ace_scroller {
  background-color: #2D2D2D;
}

.ace_text-layer {
  color: #CCCCCC;
}

.ace_cursor {
  border-left: 2px solid #CCCCCC;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #CCCCCC;
}

.ace_marker-layer .ace_selection {
  background: #515151;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #2D2D2D;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #6A6A6A;
}

.ace_marker-layer .ace_active_line {
  background: #393939;
}

.ace_gutter_active_line {
  background-color: #393939;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #515151;
}

.ace_invisible {
  color: #6A6A6A;
}

.ace_keyword, .ace_meta {
  color:#CC99CC;
}

.ace_keyword.ace_operator {
  color:#66CCCC;
}

.ace_constant.ace_language {
  color:#F99157;
}

.ace_constant.ace_numeric {
  color:#F99157;
}

.ace_constant.ace_other {
  color:#CCCCCC;
}

.ace_invalid {
  color:#CDCDCD;
background-color:#F2777A;
}

.ace_invalid.ace_deprecated {
  color:#CDCDCD;
background-color:#CC99CC;
}

.ace_support.ace_constant {
  color:#F99157;
}

.ace_fold {
    background-color: #6699CC;
    border-color: #CCCCCC;
}

.ace_support.ace_function {
  color:#6699CC;
}

.ace_storage {
  color:#CC99CC;
}

.ace_storage.ace_type,  .ace_support.ace_type{
  color:#CC99CC;
}

.ace_variable {
  color:#6699CC;
}

.ace_variable.ace_parameter {
  color:#F99157;
}

.ace_string {
  color:#99CC99;
}

.ace_comment {
  color:#999999;
}

.ace_variable {
  color:#F2777A;
}

.ace_meta.ace_tag {
  color:#F2777A;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#F2777A;
}

.ace_entity.ace_name.ace_function {
  color:#6699CC;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color:#99CC99;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ1dX9z7Bq1ar/ABE1BITwhhuFAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#CC99CC !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #6A6A6A;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(76, 76, 76);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(124, 124, 124);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(150, 133, 50);}
.ace_console_error { background-color: rgb(76, 76, 76); }