
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #e8e8e8;
  color: #333;
}

.ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.ace_scroller {
  background-color: #1D1F21;
}

.ace_text-layer {
  cursor: text;
  color: #C5C8C6;
}

.ace_cursor {
  border-left: 2px solid #AEAFAD;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #AEAFAD;
}
 
.ace_marker-layer .ace_selection {
  background: #373B41;
}

.ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #4B4E55;
}

.ace_marker-layer .ace_active_line {
  background: #282A2E;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #373B41;
}
       
.ace_invisible {
  color: #4B4E55;
}

.ace_keyword {
  color:#B294BB;
}

.ace_keyword.ace_operator {
  color:#8ABEB7;
}

.ace_constant.ace_language {
  color:#DE935F;
}

.ace_constant.ace_numeric {
  color:#DE935F;
}

.ace_invalid {
  color:#CED2CF;
background-color:#DF5F5F;
}

.ace_invalid.ace_deprecated {
  color:#CED2CF;
background-color:#B798BF;
}

.ace_fold {
    background-color: #81A2BE;
    border-color: #C5C8C6;
}

.ace_support.ace_function {
  color:#81A2BE;
}

.ace_string {
  color:#B5BD68;
}

.ace_string.ace_regexp {
  color:#CC6666;
}

.ace_comment {
  color:#969896;
}

.ace_variable {
  color:#CC6666;
}

.ace_meta.ace_tag {
  color:#CC6666;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#CC6666;
}

.ace_entity.ace_name.ace_function {
  color:#81A2BE;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color:#B5BD68;
}
.nocolor.ace_editor .ace_line span {color:#B294BB !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #4B4E55;}
.ace_marker-layer .ace_foreign_line {background-color: rgb(45, 47, 49);}