
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #f6f6f6;
  color: #4D4D4C;
}

.ace_print_margin {
  width: 1px;
  background: #f6f6f6;
}

.ace_scroller {
  background-color: #FFFFFF;
}

.ace_text-layer {
  color: #4D4D4C;
}

.ace_cursor {
  border-left: 2px solid #AEAFAD;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #AEAFAD;
}

.ace_marker-layer .ace_selection {
  background: #D6D6D6;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #FFFFFF;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(255, 255, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #D1D1D1;
}

.ace_marker-layer .ace_active_line {
  background: #EFEFEF;
}

.ace_gutter_active_line {
  background-color : #dcdcdc;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #D6D6D6;
}

.ace_invisible {
  color: #D1D1D1;
}

.ace_keyword, .ace_meta {
  color:#8959A8;
}

.ace_keyword.ace_operator {
  color:#3E999F;
}

.ace_constant.ace_language {
  color:#F5871F;
}

.ace_constant.ace_numeric {
  color:#F5871F;
}

.ace_constant.ace_other {
  color:#666969;
}

.ace_invalid {
  color:#FFFFFF;
background-color:#C82829;
}

.ace_invalid.ace_deprecated {
  color:#FFFFFF;
background-color:#8959A8;
}

.ace_support.ace_constant {
  color:#F5871F;
}

.ace_fold {
    background-color: #4271AE;
    border-color: #4D4D4C;
}

.ace_support.ace_function {
  color:#4271AE;
}

.ace_storage {
  color:#8959A8;
}

.ace_storage.ace_type,  .ace_support.ace_type{
  color:#8959A8;
}

.ace_variable {
  color:#4271AE;
}

.ace_variable.ace_parameter {
  color:#F5871F;
}

.ace_string {
  color:#718C00;
}

.ace_string.ace_regexp {
  color:#C82829;
}

.ace_comment {
  color:#8E908C;
}

.ace_variable {
  color:#C82829;
}

.ace_meta.ace_tag {
  color:#C82829;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#C82829;
}

.ace_entity.ace_name.ace_function {
  color:#4271AE;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color:#718C00;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bdu3f/BwAlfgctduB85QAAAABJRU5ErkJggg==) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#8959A8 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #D1D1D1;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(219, 219, 219);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(166, 166, 165);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(255, 238, 155);}