
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #1a1a1a;
  color: #DEDEDE;
}

.ace_print_margin {
  width: 1px;
  background: #1a1a1a;
}

.ace_scroller {
  background-color: #000000;
}

.ace_text-layer {
  color: #DEDEDE;
}

.ace_cursor {
  border-left: 2px solid #9F9F9F;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #9F9F9F;
}

.ace_marker-layer .ace_selection {
  background: #424242;
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #000000;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #343434;
}

.ace_marker-layer .ace_active_line {
  background: #2A2A2A;
}

.ace_gutter_active_line {
  background-color: #2A2A2A;
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid #424242;
}

.ace_invisible {
  color: #343434;
}

.ace_keyword, .ace_meta {
  color:#C397D8;
}

.ace_keyword.ace_operator {
  color:#70C0B1;
}

.ace_constant.ace_language {
  color:#E78C45;
}

.ace_constant.ace_numeric {
  color:#E78C45;
}

.ace_constant.ace_other {
  color:#EEEEEE;
}

.ace_invalid {
  color:#CED2CF;
background-color:#DF5F5F;
}

.ace_invalid.ace_deprecated {
  color:#CED2CF;
background-color:#B798BF;
}

.ace_support.ace_constant {
  color:#E78C45;
}

.ace_fold {
    background-color: #7AA6DA;
    border-color: #DEDEDE;
}

.ace_support.ace_function {
  color:#7AA6DA;
}

.ace_storage {
  color:#C397D8;
}

.ace_storage.ace_type,  .ace_support.ace_type{
  color:#C397D8;
}

.ace_variable {
  color:#7AA6DA;
}

.ace_variable.ace_parameter {
  color:#E78C45;
}

.ace_string {
  color:#B9CA4A;
}

.ace_string.ace_regexp {
  color:#D54E53;
}

.ace_comment {
  color:#969896;
}

.ace_variable {
  color:#D54E53;
}

.ace_meta.ace_tag {
  color:#D54E53;
}

.ace_entity.ace_other.ace_attribute-name {
  color:#D54E53;
}

.ace_entity.ace_name.ace_function {
  color:#7AA6DA;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color:#B9CA4A;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGD4z7Bq1ar/AAz9A/2naJQKAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#C397D8 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: #343434;}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(44, 44, 44);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(111, 111, 111);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(127, 111, 28);}
.ace_console_error { background-color: rgb(44, 44, 44); }