
.ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.ace_gutter {
  background: #232323;
  color: #F8F8F8;
}

.ace_print_margin {
  width: 1px;
  background: #232323;
}

.ace_scroller {
  background-color: #141414;
}

.ace_text-layer {
  color: #F8F8F8;
}

.ace_cursor {
  border-left: 2px solid #A7A7A7;
}

.ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #A7A7A7;
}

.ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20);
}

.multiselect .ace_selection.start {
  box-shadow: 0 0 3px 0px #141414;
  border-radius: 2px;
}

.ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.ace_marker-layer .ace_active_line {
  background: rgba(255, 255, 255, 0.031);
}

.ace_gutter_active_line {
  background-color: rgba(255, 255, 255, 0.031);
}

.ace_marker-layer .ace_selected_word {
  border: 1px solid rgba(221, 240, 255, 0.20);
}

.ace_invisible {
  color: rgba(255, 255, 255, 0.25);
}

.ace_keyword, .ace_meta {
  color:#CDA869;
}

.ace_constant, .ace_constant.ace_other {
  color:#CF6A4C;
}

.ace_constant.ace_character,  {
  color:#CF6A4C;
}

.ace_constant.ace_character.ace_escape,  {
  color:#CF6A4C;
}

.ace_invalid.ace_illegal {
  color:#F8F8F8;
background-color:rgba(86, 45, 86, 0.75);
}

.ace_invalid.ace_deprecated {
  text-decoration:underline;
font-style:italic;
color:#D2A8A1;
}

.ace_support {
  color:#9B859D;
}

.ace_support.ace_constant {
  color:#CF6A4C;
}

.ace_fold {
    background-color: #AC885B;
    border-color: #F8F8F8;
}

.ace_support.ace_function {
  color:#DAD085;
}

.ace_storage {
  color:#F9EE98;
}

.ace_variable {
  color:#AC885B;
}

.ace_string {
  color:#8F9D6A;
}

.ace_string.ace_regexp {
  color:#E9C062;
}

.ace_comment {
  font-style:italic;
color:#5F5A60;
}

.ace_variable {
  color:#7587A6;
}

.ace_xml_pe {
  color:#494949;
}

.ace_meta.ace_tag {
  color:#AC885B;
}

.ace_entity.ace_name.ace_function {
  color:#AC885B;
}

.ace_markup.ace_underline {
    text-decoration:underline;
}

.ace_markup.ace_heading {
  color:#CF6A4C;
}

.ace_markup.ace_list {
  color:#F9EE98;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQERH5zzBz5sz/AA5EBAYqeZXWAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {color:#CDA869 !important;}
.ace_bracket {margin: 0 !important; border: 0 !important; background-color: rgba(255, 255, 255, 0.25);}
.ace_marker-layer .ace_foreign_line {position: absolute; z-index: -1; background-color: rgb(65, 65, 65);}
.ace_marker-layer .ace_find_line {position: absolute; z-index: -1; background-color: rgb(134, 134, 134);}
.ace_marker-layer .ace_active_debug_line {position: absolute; z-index: -1; background-color: rgb(137, 121, 38);}