
@external gwt-Label, gwt-TextBox;

.panelContainer {
   width: 535px;
   height: 425px;
}

.panelContainerNoChooser {
   width: 413px;
   height: 425px;
}

.buildToolsPanel {
   width: 100%;
}

.workspaceGrid {
   margin-bottom: 10px;
   margin-left: 5px;
   width: 375px;
}

.workspaceGrid tr {
   height: 24px;
}

.enableCodeIndexing {
}

.useSpacesForTab {
}

.numberOfTabs {
}

.useNativePipeOperator {
}

.editingOption {
}

.encodingChooser {
}

.lineEndings {
}

.vcsSelectExtraSpaced {
  margin-bottom: 20px;
}

.vcsOriginLabel {
   margin-left: 5px;
}

.vcsOriginUrl {
   margin-top: -3px;
   margin-left: 5px;
   border: 1px solid #BBB;
   padding: 2px;
   padding-right: 10px;
}

.vcsNoOriginUrl {
   width: 150px;
   color: #494949;
}

.directorySelector {
   width: 375px;
}

.buildToolsAdditionalArguments {
   width: 375px;
   margin-bottom: 12px;
}

.buildToolsAdditionalArguments .gwt-Label {
   margin-bottom: 2px;
}

.buildToolsAdditionalArguments .gwt-TextBox {
   width: 100%;
}

.buildToolsCheckBox {
   margin-left: -5px;
}

.buildToolsRoxygenize {
   width: 100%;
   margin-bottom: 12px;
}

.buildToolsDevtools {
   margin-bottom: 10px;
}

.buildToolsCleanBeforeInstall {
   margin-bottom: 10px;
}

.previewWebsite {
   margin-top: 8px;
}

.infoLabel {
   margin-top: 4px;
   font-style: italic;
   font-size: 0.9em;
}

.websiteOutputFormat {
   margin-top: 16px;
}
