
@external gwt-Label, gwt-TextBox;

.panelContainer {
   width: 525px;
   height: 425px;
}

.buildToolsPanel {
   width: 100%;
}

.workspaceGrid {
   margin-bottom: 10px; 
   width: 375px;
}

.enableCodeIndexing {
   margin-left: 5px;
}

.enableCodeIndexing input[type=checkbox] {
   margin-bottom: 13px; 
}

.useSpacesForTab {
   margin-left: 5px;
}

.numberOfTabs {
   margin-top: 5px;
   margin-left: 25px;
}

.encodingChooser {
   margin-top: 13px; 
   margin-left: 10px;
   margin-bottom: 15px;
}

.vcsSelectExtraSpaced {
  margin-bottom: 20px;
}

.vcsOriginLabel {
   margin-left: 5px;	
}

.vcsOriginUrl {
   margin-top: -3px;
   margin-left: 5px;
   border: 1px solid #BBB;
   padding: 2px;
   padding-right: 10px;
}

.vcsNoOriginUrl {
   width: 150px;
   color: #494949;
}

.buildToolsAdditionalArguments {
   width: 375px;
   margin-bottom: 12px;
}

.buildToolsAdditionalArguments .gwt-Label {
   margin-bottom: 2px;
}

.buildToolsAdditionalArguments .gwt-TextBox {
   width: 100%;
}

.buildToolsCheckBox {
   margin-left: -5px;
}

.buildToolsRoxygenize {
   width: 100%;
   margin-bottom: 12px;
}



