
.panelContainer {
   width: 525px;
   height: 360px;
}


.infoLabel {
   font-style: italic;
   font-size: 0.9em; 
}

.workspaceGrid {
   margin-bottom: 10px; 
}

.enableCodeIndexing {
   margin-left: 5px;
}

.enableCodeIndexing input[type=checkbox] {
   margin-bottom: 13px; 
}

.useSpacesForTab {
   margin-left: 5px;
}

.numberOfTabs {
   margin-top: 5px;
   margin-left: 25px;
}

.encodingChooser {
   margin-top: 13px; 
   margin-left: 10px;
   margin-bottom: 15px;
}
