

.pm-cite-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pm-cite-panel-cite-selection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  }

.pm-cite-panel-cite-selection-sources {
  width: 25%;
  border: solid 1px;
  border-radius: 3px;  
  margin-right: 10px;
}

.pm-cite-panel-cite-selection-items {
  width: 75%;
  border: solid 1px;
  border-radius: 3px;  
}

.pm-cite-panel-selected-cites {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border: solid 1px;
  border-radius: 3px;  
  overflow-y: auto;
}

.pm-cite-panel-select-bibliography {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
