@charset "UTF-8";

@external gwt-MenuItem;

@external rstudio-themes-dark, rstudio-themes-dark-grey;

/* Considered these for the light latch background color as well. Ended up with #e7e8ea which
   is the value hard coded for .rstudio-themes-flat .gwt-TabLayoutPanelTabs in themeStyles.css
   
@eval THEME_DEFAULT_INACTIVE org.rstudio.core.client.theme.ThemeColors.defaultInactiveBackground;
@eval THEME_LIGHT_CONTROL_BORDER org.rstudio.core.client.theme.ThemeColors.lightControlBorder;

*/

@eval THEME_DARKGREY_MENU_SELECTED org.rstudio.core.client.theme.ThemeColors.darkGreyMenuSelected;

.toolbarButtonLatched {
	background: #e7e8ea; 
}

.rstudio-themes-dark .toolbarButtonLatched, .rstudio-themes-dark-grey .toolbarButtonLatched {
	background: THEME_DARKGREY_MENU_SELECTED;
}

.toolbarButton {
  margin-top: 2px;
  height: 20px;
}

.toolbarButton img {
  margin-top: 1px;
}

.toolbarTextMenuButton {
   margin-top: -2px;
}

.toolbarSeparator {
	margin-top: 2px;
}

.toolbarPopupMenu .gwt-MenuItem {
   min-width: 190px;
}

.toolbarPopupSubmenu .gwt-MenuItem {
   min-width: 120px;
}