body {
  background-color: white;
}

body, table {
  font-family: Arial, sans-serif;
  font-size: small;
}

h2 {background-color: transparent}
p {background-color: fuchsia}
a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: blue;}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: maroon;}

.box {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.content {
  height: 25px;
}

.barlabel {
    font-size: 14px;
    text-color: maroon;
    text-align: left;
    white-space: nowrap;
}

.content h1 {
  color:#0354c2;
  font-weight: bold;
  font-size: 1.2em;
  font-family: helvetica, geneva, arial, sans-serif;
}

.content p {
  color:#3b3b3b;
  font-size: 1em;
  line-height: 1.3em;
  font-family: arial, helvetica, sans-serif;
}

.tlc, .trc, .blc, .brc {
  background-color: transparent;
  background-repeat: no-repeat;
}

.tlc {
  background-image:url(images/tlc.gif);
  background-position: 0% 0%;
}

.trc {
  background-image:url(images/trc.gif);
  background-position: 100% 0%;
}

.blc {
  background-image:url(images/blc.gif);
  background-position: 0% 100%;
}

.brc {
  background-image:url(images/brc.gif);
  background-position: 100% 100%;
}

.tb, .bb {
   background-color: transparent;
  background-repeat: repeat-x;
}

.tb {
  background-image:url(images/tb.gif);
  background-position: 0% 0%;
}

.bb {
  background-image:url(images/bb.gif);
  background-position: 50% 100%;
}

.rb {
  background-image:url(images/r.gif);
  background-position: 100% 0%;
  background-repeat: repeat-y;
}

.lb {
  background-color: #eeeeee;
  background-image:url(images/l.gif);
  background-position: 0% 100%;
  background-repeat: repeat-y;
}
