body {
  font-family: arial, sans-serif;
}

#header {
  margin-left: 8px;
  margin-top: 8px;
}

#logo {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

#topBar {
  width:100%;
  background-color: #E5ECF9;
  padding: 4px;
  margin-bottom: 1em;
}

.groupHeader {
  text-align: center;
}

.colHeader {
  text-align: left;
}

.kColHeader {
  text-align: right;
}

.sortable {
  padding-right: 16px;
  background-image: url();
}

.md5 {
  font-family: courier;
}

.k {
  text-align: right;
  font-family: courier;
}

.na {
  text-align: center;
}

.box {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.content {
  height: 25px;
}

.barlabel {
    font-size: 14px;
    text-color: maroon;
    text-align: left;
    white-space: nowrap;
}

.content h1 {
  color:#0354c2;
  font-weight: bold;
  font-size: 1.2em;
  font-family: helvetica, geneva, arial, sans-serif;
}

.content p {
  color:#3b3b3b;
  font-size: 1em;
  line-height: 1.3em;
  font-family: arial, helvetica, sans-serif;
}

.frame {
  width: 100%; height: 100%;
  border: 0px;
}

.packages {
 left:0; right: 0;
 top:0; bottom: 50%;
}

.codeType {
  left:0; right: 0;
  top:50%; bottom: 0;
}

.sizebar {
  width:100%;
  height: 0.5em;
  background-color: #4684ee;
}
