

.mainWidget {
  padding-top: 7px;
  padding-bottom: 16px;
  width: 380px;
}

.newProjectLocationPanel {
   margin-top: 8px;
   margin-left: 20px;
   margin-bottom: 5px;	
   width: 360px;
}

.projectNameTextBox {
	width: 277px;
	margin-top: 2px;
	margin-bottom: 5px;
}

.projectTypeRadioButton {
  
}
