@charset "UTF-8";

@external rstudio-themes-light-menus;
@external rstudio-themes-light;
@external rstudio-themes-dark-menus;
@external rstudio-themes-dark;
@external rstudio-tutorials;
@external rstudio-tutorials-container;

.rstudio-tutorials {
   font-family: "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rstudio-tutorials-container {
   margin: 10px;
}

.rstudio-themes-light-menus.rstudio-tutorials {
   background: white;
   color: black;
}

.rstudio-themes-dark-menus.rstudio-tutorials {
   background: black;
   color: rgb(232, 232, 232);
}

.rstudio-themes-dark-menus.rstudio-tutorials a:link {
   color: rgb(118, 171, 221);
}

.rstudio-themes-dark-menus.rstudio-tutorials a:visited {
   color: rgb(78, 131, 181);
}

