
@external .gwt-SliderBar-shell;
@external .gwt-SliderBar-line;
@external .gwt-SliderBar-knob;
@external .gwt-SliderBar-label;
@external .gwt-SliderBar-line-sliding;
@external .gwt-SliderBar-shell-focused;
@external .gwt-SliderBar-tick;
@external .gwt-SliderBar-knob;
@external .gwt-ListBox;

@url SLIDERBAR manipulateSliderBar;

.captionLabel {
   font-weight: bold;
   margin-right: 8px;
}

.control {
	padding-bottom: 15px;
}

.slider {
  width: 100%;	
}


.slider .sliderValueLabel {
   margin-bottom: 10px;
}

.slider .gwt-SliderBar-shell {
  height: 34pt;
  width: 100%;
}

.slider .gwt-SliderBar-shell .gwt-SliderBar-line {
  height: 3px;
  background: SLIDERBAR repeat-x top;
  width: 95%;
  top: 25pt;
  overflow: hidden;
}

.slider .gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 19pt;
  width: 13px;
  height: 18px;
  z-index: 1;
}

.slider .gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 16pt;
  width: 1px;
  height: 6pt;
  background-color: #919599;
  overflow: hidden;
}

.slider .gwt-SliderBar-shell .gwt-SliderBar-label {
  top: 2pt;
  font-size: 8pt;
  cursor: default;
}

.slider .gwt-SliderBar-shell-focused {
}

.slider .gwt-SliderBar-shell .gwt-SliderBar-line-sliding {

}

.picker {
}

.picker .gwt-ListBox {
   min-width: 100px;	
}

.checkBox {	
	margin-left: -5px;	
}

.button {
	position: relative;
	left: -12px;
	
}

.manipulateButton {
   margin-left: 4px;
   margin-top: 3px;
}

.manipulateProgress {
   margin-left: 5px;
   margin-top: 5px;
}

@if user.agent gecko1_8 {
   .manipulateProgress {
      margin-left: 6px;
   }
}




