/*-- scss:defaults --*/

// import font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*-- scss:variables --*/

// scss-docs-start color-variables
$posit-blue: #447099;
$posit-dark-blue-1: #305775;
$posit-dark-blue-2: #213D4F;
$posit-orange:  #EE6331;
$posit-gray:    #404041;
$posit-teal:    #419599;
$posit-green:   #72994E;
$posit-burgundy:#9A4665;
$posit-burgundy-1:#78384F;
$posit-burgundy-2:#542938;

$primary: $posit-blue;

// Feature preview heading colors
$preview-header: #EE6331; /* posit orange, contrast: 8.45 */
$preview-header-border: darken($preview-header, 5%);

// scss-docs-end color-variables

// Typography
// Font, line-height, and color for body text, headings, and more.

//scss-font-start font-variables
$font-family-sans-serif: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, system-ui;
$font-family-monospace: "Source Code Pro", monospace;
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
// scss-docs-end font-variables

$body-color: $posit-gray;

// scss-docs-start font-sizes
$h1-font-size:44px;
$h2-font-size:28px;x

h1 {
  size: $h1-font-size;
}
h2 {
  size: $h2-font-size;
}
// scss-docs-end font-sizes


// Headings
// scss-docs-start headings-variables
$headings-font-weight: 300 !important;
// scss-docs-end headings-variables

//  Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: #888888;
$navbar-hl: #000000;
$navbar-brand: $body-color;
$navbar-brand-hl: $navbar-brand;
//$navbar-brand-font-size: 14px !default;

// scss-docs-start list-group-variables
$list-group-color: $primary !default;
// scss-docs-end list-group-variables

// CSS overrides

.navbar {
  box-shadow: 0 0 0.2rem #0000001a, 0 0.1rem 0.4rem #0003;
  transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.navbar-title {
    font-family: $font-family-sans-serif;
    font-size:  $font-size-base;
    font-weight: 500;
}

/* Posit logo - navbar or footer */
#footer-right-posit-logo {
  width: 70px;
  min-width: 70px;
}

#footer-right-logo {
  width: 20px;
  min-width: 20px;
  margin-left: -3px !important;
  margin-right: -3px !important;
}

.nav-link {
    font-family: $font-family-monospace;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.nav-footer {
    font-family: $font-family-monospace;
    text-transform: uppercase;
    font-size: 14px;
    border-top: solid #0000001a .01em;
    align-items: center !important;
}

/* Tabs */ 

.nav-tabs .nav-link {
    text-transform: none !important;
    font-family: $font-family-sans-serif;
}

/* Mini TOC */
.sidebar nav[role=doc-toc]>ul li a {
    text-transform: none !important;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 300 !important;
    letter-spacing: .05em !important;
}

/* Left nav - letter spacing */
.sidebar-navigation li a {
    letter-spacing: .03em;
    font-size: 16px;
}


/* Posit logo - footer */
#footer-logo {
    width: 70px;
    min-width: 70px;
}

/* Footer */
.nav-footer .nav-footer-center {
    min-height: min-content;
}

/* List disc colors */
li::marker {
    color: $primary;
}

/* the feature PREVIEW header */
.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header {
  content: "Preview feature";
  margin-left: 1em;
  position: relative;
  border-radius: 50rem !important;
  top: -0.5em;
}

.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header,
div span.preview-feature {
  color: $preview-header;
  border: 1px solid $preview-header-border;
  font-weight: 400;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.preview-feature {
  margin-left: 1em;
  text-transform: uppercase;
}


/* Callout steps for images with multiple items/steps shown in single image */
ol.groovyAlpha {
    list-style: none;
    counter-reset: list-counter;
  }
  
ol.groovyAlpha li {
  counter-increment: list-counter;
}

ol.groovyAlpha li > p:before {
  content: counter(list-counter, lower-alpha);
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background-color: #fc403b;
  display: inline-block;
  border-radius: 8px;
  font-size: 9px;
  line-height: 16px;
  vertical-align: middle;
}