.containerPanel {
	padding: 3px;
}

.chunkLabel {
	padding: 0 10px;
}

.chunkName {
	padding: 2px;
}

.labelPanel {
	margin-bottom: 5px;
}

.button {
	margin-right: 10px;
	background-color: #DEDEDE;
}

.buttonPanel {
	margin-top: 8px;
}