
@external rstudio-themes-inverts;
@external rstudio-themes-dark;

.markdownToolbar button.rstudio-themes-inverts {
  color: #292929;
  margin-top: 2px;
}

.rstudio-themes-dark .markdownToolbar button.rstudio-themes-inverts {
  color: #efefef;
}

.markdownToolbar button.rstudio-themes-inverts[aria-pressed="true"] {
  background-color: rgb(242, 242, 242);
}


.rstudio-themes-dark .markdownToolbar button.rstudio-themes-inverts[aria-pressed="true"] {
  background-color: rgb(108,121,131);
}
   
