.added {
    background: linear-gradient(to left, green 4px, transparent 4px, transparent);
}

.added:hover {
    background: linear-gradient(to left, green 7px, transparent 8px, transparent);
}

.modified {
    background: linear-gradient(to left, blue 4px, transparent 4px, transparent);
}

.modified:hover {
    background: linear-gradient(to left, blue 7px, transparent 8px, transparent);
}
