@media print {
 
  #content, #page {
    width: 100%; 
    margin: 0; 
    float: none;
  }
       
  @page { margin: 2cm }
  
  body {
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
    counter-reset: note;
  }
  
  h1 {
    font-size: 24pt;
  }
  
  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
  }    
  
  a {
    page-break-inside: avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 { 
    page-break-after: avoid; 
    page-break-inside: avoid }
  img { 
    page-break-inside: avoid; 
    page-break-after: avoid; 
  }
  table, pre { 
    page-break-inside: avoid 
  }
  ul, ol, dl { 
    page-break-before: avoid 
  }
    
  a:link, a:visited, a {
    background: transparent;
    color: #520;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
  }
  
  a {
    page-break-inside: avoid
  }
  
  a[href^=http]:after {
    content:" <" attr(href) "> ";
  }
  
  a:after > img {
    content: "";
  }
  
  article a[href^="#"]:after {
    content: "";
  }
  
  a:not(:local-link):after {
    content:" <" attr(href) "> ";
  }
      
  .entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }
  .embed-youtube, .embed-responsive {
    position: absolute;
    height: 0;
    overflow: hidden;
  }
      

  p, address, li, dt, dd, blockquote {
    font-size: 100%
  }

  code, pre { 
    font-family: "Courier New", Courier, mono
  }
  
  ul, ol {
    list-style: square; margin-left: 18pt;
    margin-bottom: 20pt;    
  }
  
  li {
    line-height: 1.6em;
  }    

  .footnote {
    vertical-align: baseline;
    position: relative;
    cursor: default;
    font-size: 75%;
    top: -0.45em;
  }


  .note p:first-of-type::before {
    counter-increment: note; 
    content: counter(note) ": ";
  }
  
  .insertion {
    color: rgb(13,103,87); 
  }
  
  .deletion {
    color:#E53935;
  }
  
}
