.cellTable {
  
}

.firstColumn {
  
}

.lastColumn {

}

.footer {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0; 
}

.header {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
}

.cell {
  padding: 4px 15px;
}

.firstColumnFooter {
  border-left: 0px;
}

.firstColumnHeader {
  border-left: 0px;
}

.lastColumnFooter {

}

.lastColumnHeader {

}

.evenRow {
  background-color: #ffffff;
}

.oddRow {
  background-color: #f3f7fb;
}

.hoveredRow {
  background-color: #eee;
}

.selectedRow {
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.keyboardSelectedRow {

}

.keyboardSelectedCell {

}

@sprite .loading {
  gwt-image: 'cellTableLoading';
  margin: 30px;  
}
