mingw64*/
boost*win*/
boost-*
gnudiff/
gnugrep/
nsprocess/
msys_ssh/
msys-ssh*/
hunspell/
sumatra/
winutils/
rtools*
winpty*/
openssl*/
crashpad*/
yaml-cpp-*/
*.zip
breakpad-tools-windows/

install-crashpad/logs/

install-soci/logs
install-soci/postgresql
install-soci/soci.tar
install-soci/soci.tar.gz
install-soci/soci
install-soci/soci-4*
install-soci/sqlite

sentry-cli.exe

