mingw64*/
boost*win*/
boost-*
gnudiff/
gnugrep/
msys_ssh/
msys-ssh*/
hunspell/
sumatra/
winutils/
rtools*
winpty*/
openssl*/
crashpad*/
*.zip
breakpad-tools-windows/
install-crashpad/logs/
sentry-cli.exe
