@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external fixedWidthFont;

@external gwt-CheckBox, gwt-RadioButton, gwt-Label;

.preferencesDialog .gwt-CheckBox,
.preferencesDialog .gwt-RadioButton {
   display: block;
}

.spaced {
   margin-bottom: 12px;
}

.lessSpaced {
   margin-bottom: 4px;
}

.extraSpaced {
   margin-bottom: 23px;
}

.preferencesDialog .tight {
   margin-bottom: 2px;
}

.nudgeRight {
   margin-left: 2px;
}

.nudgeRightPlus {
   margin-left: 4px;
}

.nudgeDown {
   margin-top: 2px;
}

.headerLabel {
   font-weight: bold;
   margin-bottom: 10px;
}

@if user.agent gecko1_8 { .nudgeRight {
   margin-left: 5px; 
}
}

.sectionChooser {
   background-color: white;
   border: 1px solid #999;
}

.sectionChooserInner {
   background-color: transparent;
   width: 100%;
}

.section {
   width: 100%;
   padding: 6px 2px 4px 2px;
}
.section * {
   cursor: default;
}


.activeSection {
   background: #D6E9F8;
}

.indent {
   margin-left: 20px;
}

.textBoxWithChooser {
   width: 350px;	
}

.infoLabel {
   font-style: italic;
   font-size: 0.9em; 
}

.spacedBefore {
   margin-top: 8px;
}



