


.pm-select-tree-node-indent {
  margin-left: 10px;
}

.pm-select-tree-node {
  padding: 4px;
  display: flex;
  align-items: center;
}

.pm-select-tree-node-image {
  width:20px;
  height:20px;
  padding-right: 3px;
  padding-left: 4px;
  vertical-align: middle;
}

.pm-select-tree-node-label-div {
  font-size: 1.1em;
  opacity: .8;
  overflow: hidden;
}

