.leftSeparator {
	background-color: #AAAAAA;
	border-right: 1px solid #BBBBBB;
}

.tree {
	overflow-x: hidden;
	overflow-y: scroll;
}

.node {
	margin-left: -18px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: #FFFFFF;
}

.nodeIcon {
	margin-top: 4px;
}

.nodeLabel {
	padding-top: 2px;
	white-space: nowrap;
}

.activeNode {
	background-color: #BBCCFF !important;
}

.visibleNode {
	background-color: #CCDDEE;
}