@external gwt-Label;

.panel {
   overflow-y: auto;
}

.container {
   width: 100%;
   height: 100%;
}

.leftSeparator {
   border-left: 1px solid rgba(128, 128, 128, 0.5);
   cursor: col-resize;
   width: 8px;
   z-index: 1;
}

.emptyPlaceholder {
   margin: 0 auto;
   width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
}

.emptyPlaceholder .gwt-Label {
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   margin-top: 20px;
   font-style: italic;
   color: rgb(117, 117, 117) !important;
}

.tree {
   overflow-x: hidden;
   overflow-y: auto;
   padding-top: 3px;
   padding-bottom: 3px;
}

.node {
   /* TODO: Neater way to override Tree item styles */
   padding-top: 1px !important;
   padding-bottom: 1px !important;
   padding-right: 5px !important;
   padding-left: 5px !important;
}

.activeNode {
   border-left: 2px solid #67890a;
   padding-left: 3px !important;
}

.activeParentNode {
   border-left: 2px solid #abcdef;
   padding-left: 3px !important;
}

.nodeLabel {
   white-space: nowrap;
   font-family: sans-serif;
   font-size: 0.9em;
   text-overflow: ellipsis;
   overflow: hidden;
}

.nodeLabelChunk {
   font-style: italic;
}

.nodeLabelSection {
   font-weight: bold;
}

.nodeLabelFunction {
   font-family: inherit;
}
