.leftSeparator {
	background-color: #AAAAAA;
	border-right: 1px solid #BBBBBB;
}

.tree {
	overflow-y: scroll;
}

.node {
	margin-left: -18px !important;
}

.nodeIcon {
	margin-top: 2px;
}

.nodeLabel {
	white-space: nowrap;
}

.activeNode {
	background-color: #BBCCFF;
}

.visibleNode {
	background-color: #CCDDEE;
}