.container {
}

.leftSeparator {
	border-left: 1px solid rgb(196, 196, 196);
	cursor: col-resize;
}

.tree {
	overflow-x: hidden;
	overflow-y: scroll;
}

.node {
	margin-left: -18px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: #FFFFFF;
}

.activeNode {
	background-color: #92c1f0;
}

.nodeLabel {
	padding-top: 2px;
	white-space: nowrap;
	font-family: sans-serif;
	cursor: pointer;
}

.nodeLabelChunk {
	font-style: italic;
}

.nodeLabelSection {
	font-weight: bold;
}

.nodeLabelFunction {
	font-family: inherit;
}