@CHARSET "UTF-8";

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.image {
   margin-right: 12px;
}

.label {
   margin-bottom: 2px;
}

.invalidAPIName {
   background-color: #f2dede;
}

.apiNameTextBox {
   width: 250px;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .invalidAPIName {
   background-color: rgb(90, 50, 50);
}
