

.captionLabel {
   margin-bottom: 4px;
}

.targetName {
	
}

.targetPath {
	
}

.editingTargetScrollPanel {
   width: 480px;
   height: 320px;
   border: 1px solid #BBB;  
   background-color: white;
}

