
/* Based on:
http://code.google.com/p/google-web-toolkit/source/browse/trunk/user/src/com/google/gwt/user/cellview/client/CellTable.css
*/


@def selectionBorderWidth 2px;
.cellTableWidget {
  
}

.cellTableFirstColumn {
}


.cellTableLastColumn {
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
  padding: 3px 1px;
  overflow: hidden;
}

.cellTableCell input[type=checkbox] {
   margin-top: 7px;
   margin-bottom: 0;
}


.cellTableFirstColumnFooter {
  
}

.cellTableFirstColumnHeader {
 
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
}

.cellTableSortableHeader {
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow, .cellTableHoveredRow, .cellTableSelectedRow, .cellTableKeyboardSelectedRow {
  background: #ffffff;
}

.cellTableEvenRowCell, .cellTableHoveredRowCell, .cellTableSelectedRowCell, .cellTableKeyboardSelectedRowCell, .cellTableKeyboardSelectedCell   {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
  background-color: #eef4fb;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #eef4fb;;
}

.cellTableLoading {
  margin: 30px;
}

