@charset "UTF-8";

.highlightEl {
   
   position: fixed;
   pointer-events: none;
   
   animation-name: pulse;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   z-index: 100;
}

@keyframes pulse { 
   
   0%   {
      box-shadow: 0 0 2px 2px rgb(255, 255, 255, 1.0);
   }
    
   50%  {
      box-shadow: 0 0 2px 2px rgb(255, 255, 255, 0.5);
   }
   
   100% {
      box-shadow: 0 0 2px 2px rgb(255, 255, 255, 1.0);
   }
   
};
