@charset "UTF-8";

@external rstudio-themes-light-menus, rstudio-themes-dark-menus;

.highlightEl {
   position: fixed;
   pointer-events: none;
}

.rstudio-themes-light-menus .highlightEl {
   animation-name: pulse-light;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}

.rstudio-themes-dark-menus .highlightEl {
   animation-name: pulse-dark;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}

@keyframes pulse-dark { 
   
   0%   {
      box-shadow: 0 0 2px 2px rgba(255, 255, 255, 1.00);
   }
    
   50%  {
      box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.75);
   }
   
   100% {
      box-shadow: 0 0 2px 2px rgba(255, 255, 255, 1.00);
   }
   
};

@keyframes pulse-light { 
   
   0%   {
      box-shadow: 0 0 2px 2px rgba(30, 119, 188, 1.00);
   }
    
   50%  {
      box-shadow: 0 0 2px 2px rgba(30, 119, 188, 0.75);
   }
   
   100% {
      box-shadow: 0 0 2px 2px rgba(30, 119, 188, 1.00);
   }
   
};
