@external gwt-CheckBox, gwt-RadioButton, gwt-Label;

.preferencesDialog .gwt-CheckBox,
.preferencesDialog .gwt-RadioButton {
   display: block;
   margin-bottom: 12px;
}

.numericValueWidget, .spaced {
   margin-bottom: 12px;
}

.extraSpaced {
   margin-bottom: 23px;
}

.preferencesDialog .tight {
   margin-bottom: 2px;
}

.sectionChooser {
   background-color: white;
   border: 1px solid #999;
}

.sectionChooserInner {
   background-color: transparent;
   width: 100%;
}

.section {
   width: 100%;
   padding: 7px 0 5px 0;
}
.section * {
   cursor: default;
}

.activeSection {
   background: #D6E9F8;
}

.outer {
   width: 550px;
   height: 420px;
}

.indent {
   margin-left: 20px;
}

.encodingChooser {
   margin-top: 15px;	
}

.paneLayoutTable td.paneLayoutTable {
   background-color: white;
   height: 155px;
   vertical-align: top;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.paneLayoutTable .gwt-CheckBox {
   margin: 0 0 0 8px;
   max-height: 18px;
   font-size: 11px;
}

.paneLayoutTable select {
   width: 195px;
   margin-bottom: 12px;
}

.themeChooser select {
   width: 138px;
}
