@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external fixedWidthFont;

@external gwt-CheckBox, gwt-RadioButton, gwt-Label;

.preferencesDialog .gwt-CheckBox,
.preferencesDialog .gwt-RadioButton {
   display: block;
   margin-bottom: 12px;
}

.numericValueWidget, .spaced {
   margin-bottom: 12px;
}

.extraSpaced {
   margin-bottom: 23px;
}

.helpImage {
   margin-right: 4px;
}

.usingVcsHelp {
   margin-top: 30px;
}

.viewPublicKeyLink {
   font-size: 11px;	
}

.viewPublicKeyContent {
   font-family: fixedWidthFont;
   font-size: 12px;
}

.viewPublicKeyLabel {
   margin-bottom: 7px;	
}

.sshButtonPanel {
   margin-top: -3px;
   margin-left: 3px;
}

.newSection {
   margin-top: 25px;	
}

.preferencesDialog .tight {
   margin-bottom: 2px;
}

.nudgeRight {
   margin-left: 2px;
}

@if user.agent gecko1_8 { .nudgeRight {
   margin-left: 5px; 
}
}


.sectionChooser {
   background-color: white;
   border: 1px solid #999;
}

.sectionChooserInner {
   background-color: transparent;
   width: 100%;
}

.section {
   width: 100%;
   padding: 7px 2px 5px 2px;
}
.section * {
   cursor: default;
}


.activeSection {
   background: #D6E9F8;
}

.outer {
   width: 550px;
   height: 420px;
}

.indent {
   margin-left: 20px;
}

.encodingChooser {
   margin-top: 15px;	
}

.textBoxWithChooser {
   width: 350px;	
}

.paneLayoutTable td.paneLayoutTable {
   background-color: white;
   height: 155px;
   vertical-align: top;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.paneLayoutTable .gwt-CheckBox {
   margin: 0 0 0 8px;
   max-height: 18px;
   font-size: 11px;
}

.paneLayoutTable select {
   width: 195px;
   margin-bottom: 12px;
}

.themeChooser select {
   width: 138px;
}
