
@charset "UTF-8";

@external rstudio-themes-default;
@external rstudio-themes-dark;

.rstudio-themes-default .error {
	font-weight: bold;
	color: red;
}

.rstudio-themes-dark .error {
	font-weight: bold;
	color: orange;
}

.rstudio-themes-default .warning {
	font-weight: bold;
	color: red;
}

.rstudio-themes-dark .warning {
	font-weight: bold;
	color: orange;
}

.rstudio-themes-default .message {
	display: block;
	border-top: 2px solid rgb(224, 224, 244);
	border-left: 2px solid rgb(122, 168, 215);
	border-bottom: 2px solid rgb(224, 224, 244);
	padding: 6px 0 6px 10px;
	margin: 6px 0 6px -6px;
	background: rgb(240, 240, 240);
}

.rstudio-themes-dark .message {
	display: block;
	border-top: 2px solid rgb(64, 64, 64);
	border-left: 2px solid rgb(122, 168, 215);
	border-bottom: 2px solid rgb(64, 64, 64);
	padding: 6px 0 6px 10px;
	margin: 6px 0 6px -6px;
	background: rgb(32, 32, 32);
}

