QMenuBar {
    background-color: rgb(78, 92, 104);
    border-bottom: 1px solid rgb(12, 31, 48);
}

QMenuBar::item {
    color: rgb(240, 240, 240);
    background-color: rgb(78, 92, 104);
    border-bottom: 1px solid rgb(12, 31, 48);
    padding: 3px 6px;
}

QMenuBar::item:selected {
    color: white;
    background-color: rgb(39, 46, 52);
}

QMenu {
    background-color: rgb(78, 92, 104);
}

QMenu::item {
    color: rgb(240, 240, 240);
}

QMenu::item:disabled {
    color: rgb(148, 148, 148);
    background-color: rgb(78, 92, 104);
}

QMenu::item:selected {
    color: white;
    background-color: rgb(39, 46, 52);
}

