@charset "UTF-8";

@external ProseMirror, pm-content, body;

.ProseMirror .pm-content {
   padding-left: literal("max(calc((100% - 800px)/2), 20px)") !important;
   padding-right: literal("max(calc((100% - 800px)/2), 20px)") !important;
}

.ProseMirror .body {
   padding-top: 2px !important;
}
