@charset "UTF-8";

@external ProseMirror, js-focus-visible, focus-visible, pm-editing-root-node, body;

.js-focus-visible .ProseMirror.focus-visible {
	outline-style: none !important; 
}

.ProseMirror .body {
   padding-top: 2px !important;
}
