@charset "UTF-8";

@external ProseMirror, pm-content, body;


.ProseMirror .pm-content {
   padding-left: 20px !important;
   padding-right: 20px !important;
}

.ProseMirror .body {
   padding-top: 10px !important;
}
