
.mainWidget {
   width: 360px;
}

.imageOptions {
   margin-bottom: 5px;
}

.imageTypePanel {
   margin-right: 10px;
}


.imageOptionLabel {
   margin-right: 5px;
}

.imageSizeTextBox {
   text-align: left;
   width: 35px;
}

.imagePreview {
   border: 1px solid #BBB;
   outline: 0;
   background-color: white;
}

.actionsPanel {
   margin-top: 8px;
}
