
.exportTargetLabel {
   margin-right: 7px;
}

.imageFormatListBox {
   width: 170px;
}


.imageOptionLabel {
   margin-right: 5px;
}

.imageSizeTextBox {
   text-align: left;
   width: 55px;
}

.imagePreview {
   border: 1px solid #BBB;
   outline: 0;
   background-color: white;
}

.horizontalSizeOptions {
   margin-bottom: 4px;
}

.horizontalSizeOptions .widthAndHeightEntry {
   margin-right: 10px;
   margin-bottom: 4px;
}

.horizontalSizeOptions .maintainAspectRatioCheckBox  {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 4px;
}

.horizontalSizeOptions .updateImageSizeButton  {
   padding-top: 5px;
}

.verticalSizeOptions {
}

.verticalSizeOptions .widthAndHeightEntry {
   margin-top: 6px;
   margin-bottom: 4px;
}

.verticalSizeOptions .maintainAspectRatioCheckBox {
   padding-left: 4px;
}

.verticalSizeOptions .updateImageSizeButton {
   margin-top: 6px;
   margin-bottom: 4px;
}

.rightClickCopyLabel {
   margin-left: 8px;
   margin-top: 3px;
   width: 220px;
}

.copyFormatLabel {
   margin-top: 2px;
   margin-right: 6px;
}

.copyFormatBitmap {
   margin-right: 8px;
}

.copyFormatMetafile {
}

.savePdfMainWidget {
   width: 360px;
   margin-bottom: 15px;
   border-spacing: 0 6px;
}

.savePdfMainWidget fieldset {
   border: none;
   padding: 0;
   padding-block-end: 0;
   padding-inline-end: 0;
   margin: 0;
}

.savePdfSizeListBox {
   width: 120px;
   margin-right: 10px;
}

.savePdfPaperSizeTextBox {
   width: 40px;
}

.savePdfPaperSizeX {
   margin-top: 3px;
   margin-left: 5px;
   margin-right: 5px;
   color: #6F6F6F;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;
@eval THEME_DARKGREY_MOST_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyMostInactiveBackground;

.rstudio-themes-dark.rstudio-theme-aware-dialog .imagePreview {
   border-color: THEME_DARKGREY_BACKGROUND;
   background-color: THEME_DARKGREY_MOST_INACTIVE;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .savePdfPaperSizeX {
   color: #aaa;
}
