 @external .gwt-Label;
   
  .fillHeight
  {
    height: 100%;
  }
  
  .templatePanel
  {
    margin-bottom: 15px;
  }
  
  .formatPanel 
  {
    margin-top: 6px;
  }
  
  .templateList
  {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  .topLabel
  {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .templateDetails
  {
    margin-left: 20px;
    margin-right: 15px;
  }
  
  .textBox
  {
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
  }
  
  .optionsIcon
  {
    vertical-align: middle;
    float: left;
    margin-right: 20px;
  }
  
  .defaultOutputLabel legend
  {
    font-weight: bold;
    padding: 0;
    margin-bottom: 7px;
  }
  
  fieldset.defaultOutputLabel
  {
     border: none;
     padding: 0;
     padding-block-end: 0;
     padding-inline-end: 0;
     margin-top: 8px;
     margin-right: 0;
     margin-left: 0;
  }
  
  .outputFormatChoice
  {
    font-size: 110%;
  }
  
  .outputFormatDetails
  {
    margin-top: 3px;
    margin-left: 5px;
    color: #3c474d;
  }
  
  .outputFormatIcon
  {
    vertical-align: middle;
    margin-right: 15px;
    float: right;
  }
  
  .outputFormat
  {
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 0;
  }
  
  .outputFormatName
  {
    margin-left: 3px;
  }
  
  .textCol
  {
    width: 80%;
  }
  
  .shinyInfoHeader
  {
    margin-top: 15px;
    margin-bottom: 7px;
  }
  
  .shinyInfoHeader .gwt-Label
  {
    font-weight:bold;
  }
  
  .shinyInfoPanel
  {
    margin-bottom: 7px;
  }
   
   