body {
  background-color: white;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0px 20px 20px 20px;
}

h2 {
  font-weight: normal;
}

table {
  font-size: 100%;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
  background:#f5f5f5;
  border:1px solid #aaa;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  padding: 2px;
  width: 12em;
}

.gwt-Button:active {
  border:1px solid #aaa;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

.gwt-Button[disabled] {
  background: #ccc;
  border:1px solid #999;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  color: #888;
}

.gwt-Canvas {
}

.gwt-CheckBox {
}

.gwt-DialogBox {
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HTML {
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
}

.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBar .gwt-TabBarFirst {
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  cursor: hand;

  background-color: #e8eef7;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-TextBox-readonly {
  color: #888;
}

.gwt-Tree {
  background: white;
}

.gwt-Tree .gwt-TreeItem {
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .hsplitter {
  background-color: #C3D9FF;
  cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .splitter {
  background-color: #C3D9FF;
  height: 8px;
  cursor: move;
}

.gwt-SuggestBoxPopup {
  border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #C3D9FF;
  padding: 2px;
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  width: 100%;
  height: 24em;
}

.ks-Info {
  color: white;
  padding: 20px 10px 20px 40px;
  margin-bottom: 10px;
}

.ks-List {
}

.ks-List .gwt-Image {
  position: relative;
  top: 8px;
}

.ks-List .ks-SinkItem a {
  text-decoration: none;
  color: white;
}

.ks-List .ks-SinkItem-selected a {
  text-decoration: none;
  color: white;
}

.ks-List .ks-FirstSinkItem a {
  text-decoration: none;
  color: white;
}

.ks-List .ks-FirstSinkItem-selected a {
  text-decoration: none;
  color: white;
}

.ks-List .ks-SinkItem {
  background: #c6cab7;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  border-bottom: 3px solid white;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background: #c6cab7;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  padding-bottom: 7px;
}

.ks-List .ks-FirstSinkItem {
  background: #c6cab7 url(images/corner.gif) no-repeat top left;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  border-bottom: 3px solid white;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-FirstSinkItem-selected {
  background: #c3d9ff url(images/corner.gif) no-repeat top left;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  padding-bottom: 7px;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}
