<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!--  Configures expensesData servlet -->
  <context-param>
    <param-name>servlet.serverOperation</param-name>
    <param-value>com.google.gwt.sample.expenses.gwt.request.ExpensesRequests</param-value>
  </context-param>

  <!-- Servlets -->
  <servlet>
    <servlet-name>expensesData</servlet-name>
    <servlet-class>com.google.gwt.sample.expenses.server.ExpensesDataServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>stockServlet</servlet-name>
    <servlet-class>com.google.gwt.sample.bikeshed.stocks.server.StockServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>treeServlet</servlet-name>
    <servlet-class>com.google.gwt.sample.bikeshed.tree.server.TreeServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>expensesData</servlet-name>
    <url-pattern>/expenses/data</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>stockServlet</servlet-name>
    <url-pattern>/stocksdesktop/stock</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>stockServlet</servlet-name>
    <url-pattern>/stocksmobile/stock</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>treeServlet</servlet-name>
    <url-pattern>/tree/tree</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Tree.html</welcome-file>
  </welcome-file-list>

  <!-- Require login. -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Access</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
