.ace-dreamweaver .ace_gutter {
  background: #FFFFFF;
  color: rgb(128,128,128)
}

.ace-dreamweaver .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-dreamweaver {
  background-color: #FFFFFF;
  color: #000000
}

.ace-dreamweaver .ace_cursor {
  color: #000000
}

.ace-dreamweaver .ace_marker-layer .ace_selection {
  background: #5EA0FF
}

.ace-dreamweaver.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #FFFFFF;
  border-radius: 2px
}

.ace-dreamweaver .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174)
}

.ace-dreamweaver .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BFBFBF
}

.ace-dreamweaver .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.071)
}

.ace-dreamweaver .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.071)
}

.ace-dreamweaver .ace_marker-layer .ace_selected-word {
  border: 1px solid #5EA0FF
}

.ace-dreamweaver .ace_fold {
  background-color: #6b72e6;
  border-color: #000000
}

.ace-dreamweaver .ace_invalid {
  font-weight:bold;
  color: #EE000B;
  background-color: #EFFF8A
}

.ace-dreamweaver .ace_comment {
  color: #9A9A9A
}

.ace-dreamweaver .ace_keyword {
  color: #000000
}

.ace-dreamweaver .ace_keyword.ace_operator {
  color: #000000
}

.ace-dreamweaver .ace_variable {
  color: #000000
}

.ace-dreamweaver .ace_support.ace_type {
  color: #000000
}
