.ace-git-hub .ace_gutter {
  background: #F8F8FF;
  color: rgb(124,124,128)
}

.ace-git-hub .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-git-hub {
  background-color: #F8F8FF;
  color: #000000
}

.ace-git-hub .ace_cursor {
  color: #666666
}

.ace-git-hub .ace_marker-layer .ace_selection {
  background: #B4D5FE
}

.ace-git-hub.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #F8F8FF;
  border-radius: 2px
}

.ace-git-hub .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174)
}

.ace-git-hub .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BBBBBB
}

.ace-git-hub .ace_marker-layer .ace_active-line {
  background: #FFFEEB
}

.ace-git-hub .ace_gutter-active-line {
  background-color: #FFFEEB
}

.ace-git-hub .ace_marker-layer .ace_selected-word {
  border: 1px solid #B4D5FE
}

.ace-git-hub .ace_fold {
  background-color: #990000;
  border-color: #000000
}

.ace-git-hub .ace_constant.ace_numeric {
  color: #009999
}

.ace-git-hub .ace_constant.ace_character {
  color: #DD1144
}

.ace-git-hub .ace_constant.ace_character.ace_entity {
  color: #800080
}

.ace-git-hub .ace_constant.ace_language {
  font-weight: bold
}

.ace-git-hub .ace_constant.ace_other {
  color: #009999
}

.ace-git-hub .ace_support.ace_constant {
  font-weight: bold
}

.ace-git-hub .ace_support.ace_function {
  color: #990000
}

.ace-git-hub .ace_support.ace_class {
  font-weight: bold;
  color: #445588
}

.ace-git-hub .ace_support.ace_type {
  font-weight: bold;
  color: #445588
}

.ace-git-hub .ace_storage {
  font-weight: bold
}

.ace-git-hub .ace_storage.ace_type {
  font-weight: bold;
  color: #445588
}

.ace-git-hub .ace_invalid.ace_illegal {
  color: #A61717;
  background-color: #E3D2D2
}

.ace-git-hub .ace_string.ace_regexp {
  color: #009926
}

.ace-git-hub .ace_comment {
  font-style: italic;
  color: #999988
}

.ace-git-hub .ace_comment.ace_doc {
  font-style: italic;
  font-weight: bold;
  color: #999999
}

.ace-git-hub .ace_variable {
  color: #990000
}

.ace-git-hub .ace_variable.ace_language {
  color: #999999
}

.ace-git-hub .ace_variable.ace_parameter {
  color: #008080
}

.ace-git-hub .ace_entity.ace_other.ace_attribute-name {
  color: #008080
}

.ace-git-hub .ace_entity.ace_name.ace_function {
  color: #990000
}

.ace-git-hub .ace_entity.ace_name.ace_tag {
  color: #000080
}

.ace-git-hub .ace_markup.ace_heading {
  color: #AAAAAA
}

.ace-git-hub .ace_markup.ace_heading.ace_1 {
  color: #999999
}

.ace-git-hub .ace_keyword {
  font-weight: bold;
  color: #000000
}

.ace-git-hub .ace_keyword.ace_operator {
  font-weight: bold;
  color: #000000
}
