.ace-i-plastic .ace_gutter {
  background: rgba(238, 238, 238, 0.92);
  color: rgb(119,119,119)
}

.ace-i-plastic .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-i-plastic {
  background-color: rgba(238, 238, 238, 0.92);
  color: #000000
}

.ace-i-plastic .ace_cursor {
  color: #000000
}

.ace-i-plastic .ace_marker-layer .ace_selection {
  background: #BAD6FD
}

.ace-i-plastic.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px rgba(238, 238, 238, 0.92);
  border-radius: 2px
}

.ace-i-plastic .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174)
}

.ace-i-plastic .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(179, 179, 179, 0.96)
}

.ace-i-plastic .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.10)
}

.ace-i-plastic .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.10)
}

.ace-i-plastic .ace_marker-layer .ace_selected-word {
  border: 1px solid #BAD6FD
}

.ace-i-plastic .ace_fold {
  background-color: #FF8000;
  border-color: #000000
}

.ace-i-plastic .ace_keyword {
  color: #0000FF
}

.ace-i-plastic .ace_keyword.ace_operator {
  color: #0000FF
}

.ace-i-plastic .ace_constant {
  color: #6782D3
}

.ace-i-plastic .ace_constant.ace_language {
  color: #9700CC
}

.ace-i-plastic .ace_constant.ace_numeric {
  color: #0066FF
}

.ace-i-plastic .ace_support {
  font-weight: bold;
  color: #3333FF
}

.ace-i-plastic .ace_support.ace_constant {
  color: #6782D3
}

.ace-i-plastic .ace_storage {
  font-weight: bold
}

.ace-i-plastic .ace_invalid {
  color: #FF0000;
  background-color: rgba(231, 26, 17, 0.30)
}

.ace-i-plastic .ace_string {
  color: #009933
}

.ace-i-plastic .ace_string.ace_regexp {
  color: #FF0080
}

.ace-i-plastic .ace_comment {
  font-style: italic;
  color: #0066FF
}

.ace-i-plastic .ace_variable {
  color: #FF8000
}

.ace-i-plastic .ace_variable.ace_parameter {
  font-style: italic
}

.ace-i-plastic .ace_meta.ace_tag {
  color: #0033CC
}

.ace-i-plastic .ace_entity.ace_other.ace_attribute-name {
  font-style: italic;
  color: #3366CC
}

.ace-i-plastic .ace_entity.ace_name.ace_function {
  color: #FF8000
}

.ace-i-plastic .ace_entity.ace_name.ace_tag {
  font-weight: bold
}

.ace-i-plastic .ace_support.ace_type {
  color: #000000
}
