.ace-zenburnesque .ace_gutter {
  background: #404040;
  color: rgb(143,143,143)
}

.ace-zenburnesque .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-zenburnesque {
  background-color: #404040;
  color: #DEDEDE
}

.ace-zenburnesque .ace_cursor {
  color: #FFFF66
}

.ace-zenburnesque .ace_marker-layer .ace_selection {
  background: #A0A0C0
}

.ace-zenburnesque.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #404040;
  border-radius: 2px
}

.ace-zenburnesque .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174)
}

.ace-zenburnesque .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #A8A8A8
}

.ace-zenburnesque .ace_marker-layer .ace_active-line {
  background: rgba(160, 128, 64, 0.15)
}

.ace-zenburnesque .ace_gutter-active-line {
  background-color: rgba(160, 128, 64, 0.15)
}

.ace-zenburnesque .ace_marker-layer .ace_selected-word {
  border: 1px solid #A0A0C0
}

.ace-zenburnesque .ace_fold {
  background-color: #FFCC66;
  border-color: #DEDEDE
}

.ace-zenburnesque .ace_keyword {
  color: #FFFFA0
}

.ace-zenburnesque .ace_keyword.ace_operator {
  color: #FFFFA0
}

.ace-zenburnesque .ace_constant.ace_character {
  color: #FF8080
}

.ace-zenburnesque .ace_constant.ace_numeric {
  color: #22C0FF
}

.ace-zenburnesque .ace_support.ace_type {
  color: #6080FF
}

.ace-zenburnesque .ace_storage.ace_type {
  color: #6080FF
}

.ace-zenburnesque .ace_string {
  color: #FF2020
}

.ace-zenburnesque .ace_comment {
  font-style: italic;
  color: #709070
}

.ace-zenburnesque .ace_variable {
  font-weight: bold;
  color: #FFCC66
}

.ace-zenburnesque .ace_entity.ace_name.ace_function {
  font-weight: bold;
  color: #FFCC66
}
