
@import '@blueprintjs/core/lib/scss/variables.scss';

$toolbarHeight: 42px;

$sidebarWidth: 240px;

$backgroundColor: #f8f9fa;
$borderColor: 1px solid rgb(218, 220, 224);

$paneBoxShadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
