.checkBoxList
{
   background-color: #ffffff;
   border: 1px solid #999999;
   padding: 7px;
   margin-top: 5px;
   margin-bottom: 10px;
   margin-right: 30px;
   overflow: hidden;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

@eval THEME_DARKGREY_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyInactiveBackground;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;

.rstudio-themes-dark.rstudio-theme-aware-dialog .checkBoxList
{
   background-color: THEME_DARKGREY_INACTIVE;
   border-color: THEME_DARKGREY_BORDER;
   color: #eee;
}

