.checkBoxList
{
   background-color: #ffffff;
   border: 1px solid #999999;
   padding: 7px;
   margin-top: 5px;
   margin-bottom: 10px;
   margin-right: 30px;
   overflow: hidden;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.rstudio-themes-dark.rstudio-theme-aware-dialog .checkBoxList
{
   background-color: rgb(57, 67, 75);
   border-color: rgb(12, 31, 48);
   color: #eee;
}

