@external windows, macintosh, linux;

.macintosh .normalSize, .macintosh .normalSize td, .macintosh .normalSize pre {
   line-height: 1.45;
}

.linux .normalSize, .linux .normalSize td, .linux .normalSize pre {
   line-height: 1.2;
}

.normalSize, .normalSize td, .normalSize pre {
   line-height: 1.3;
}
