.mainPanel {
   background-color: #f3f4f4;
   padding: 10px;
}

.resizeLeft {
   position: absolute;
   left: -4px;
   top: 4px;
   bottom: -4px;
   width: 8px;
   cursor: ew-resize;
}

.resizeRight {
   position: absolute;
   right: -4px;
   top: 4px;
   bottom: -4px;
   width: 8px;
   cursor: ew-resize;
}

.resizeTop {
   position: absolute;
   top: -4px;
   left: 4px;
   right: -4px;
   height: 8px;
   cursor: ns-resize;
}

.resizeBottom {
   position: absolute;
   bottom: -4px;
   left: 4px;
   right: -4px;
   height: 8px;
   cursor: ns-resize;
}

.resizeTopLeft {
   position: absolute;
   left: -4px;
   top: -4px;
   width: 8px;
   height: 8px;
   cursor: nwse-resize;
}

.resizeTopRight {
   position: absolute;
   right: -4px;
   top: -4px;
   width: 8px;
   height: 8px;
   cursor: nesw-resize;
}

.resizeBottomRight {
   position: absolute;
   bottom: -4px;
   right: -4px;
   width: 8px;
   height: 8px;
   cursor: nwse-resize;
}

.resizeBottomLeft {
   position: absolute;
   bottom: -4px;
   left: -4px;
   width: 8px;
   height: 8px;
   cursor: nesw-resize;
}