@external dialogTop, dialogContent;

@external rstudio-themes-flat;

.labelCell {
   padding-right: 6px;
}

.buttonCell button {
   position: relative;
   left: 3px;
   top: 2px;
   margin-left: 0;
}

.rstudio-themes-flat .buttonCell button {
   top: 0px;
   left: 0px;
}

.progressCell img {
   position: relative;
   top: 1px;
}

.progressDialog .dialogTop {
   display: none;
}

.progressDialog .dialogContent {
   margin-top: 4px;
}

.progressDialog {
   position: fixed !important;
   top: 0 !important;
}

.displayWidget {
   background-color: white;
   border: solid #CCC 1px !important;
   margin: 0;
   height: 250px;
}

.rstudio-themes-flat .displayWidget {
   margin-bottom: -6px;
}