@charset "UTF-8";

@eval THEME_DARKGREY_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyInactiveBackground;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;
@eval THEME_DARKGREY_MOST_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyMostInactiveBackground;

.panel {
   border: 1px solid rgb(208, 210, 212);
   background-color: white;
}

.table {
   border-collapse: collapse;
   table-layout: fixed;
}

.row td > * {
   overflow: hidden;
   padding: 1px 2px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.selected {
   background-color: rgb(208, 210, 212);
}

.active .selected {
   background-color: rgb(214, 233, 247);
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.rstudio-themes-dark.rstudio-theme-aware-dialog .panel {
   background-color: THEME_DARKGREY_INACTIVE;
   border-color: THEME_DARKGREY_BORDER;
   color: #eee;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .panel::-webkit-scrollbar-thumb {
   background: THEME_DARKGREY_BACKGROUND;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .panel::-webkit-scrollbar-track,
.rstudio-themes-dark.rstudio-theme-aware-dialog .panel::-webkit-scrollbar-corner {
   background: THEME_DARKGREY_MOST_INACTIVE;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .row img {
   filter: brightness(90%) saturate(90%);
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .selected {
   background-color: rgba(255, 255, 255, 0.1);
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .active .selected {
   background-color: rgba(255, 255, 255, 0.2);
}
