@charset "UTF-8";

.panel {
   border: 1px solid rgb(208, 210, 212);
   background-color: white;
}

.table {
   border-collapse: collapse;
   table-layout: fixed;
}

.row td > * {
   overflow: hidden;
   padding: 1px 2px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.selected {
   background-color: rgb(208, 210, 212);
}

.active .selected {
   background-color: rgb(214, 233, 247);
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.rstudio-themes-dark.rstudio-theme-aware-dialog .panel {
   background-color: rgb(57, 67, 75);
   border-color: rgb(12, 31, 48);
   color: #eee;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .selected {
   background-color: rgba(255, 255, 255, 0.1);
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .active .selected {
   background-color: rgba(255, 255, 255, 0.2);
}
