@url SLIDELABELBOTTOM slideLabelBottom;
@url SLIDELABELBOTTOMLEFT slideLabelBottomLeft;
@url SLIDELABELBOTTOMRIGHT slideLabelBottomRight;
@url SLIDELABELFILL slideLabelFill;
@url SLIDELABELLEFT slideLabelLeft;
@url SLIDELABELRIGHT slideLabelRight;


.curtain {
   overflow-y: hidden;
   height: 0;
   position: relative;
   z-index: 1000;
}
.content {
   max-width: 500px;
   display: inline-block;
}
.progress {
   margin-right: 8px;
}
.border {
}

.W {
   background: SLIDELABELLEFT repeat-y top right;
   width: 18px;
}
.C {
   background: SLIDELABELFILL repeat;
}
.E {
   background: SLIDELABELRIGHT repeat-y top left;
   width: 18px;
}
.SW {
   background: SLIDELABELBOTTOMLEFT no-repeat top right;
   width: 18px;
   height: 18px;
}
.S {
   background: SLIDELABELBOTTOM repeat-x top center;
   height: 18px;
}
.SE {
   background: SLIDELABELBOTTOMRIGHT no-repeat top left;
   width: 18px;
   height: 18px;
}

.cancelColumn {
	padding-left: 6px;
}
.cancelButton {
	margin-top: 1px;
	border: 0px;
	padding: 0px;
	background: none;
}
