@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();

@external gwt-Button-DialogAction, gwt-Button-DialogActionLeft,
          gwt-Button-DefaultDialogAction;

.gwt-Button-DialogAction, .themedButton {
   padding: 0;
   margin: 0;
   margin-left: 8px;
   margin-right: 0px;
   border: none;
   background: transparent;
   outline: none;
}

button.gwt-Button-DialogAction > table:first-child,
button.themedButton > table:first-child {
   border: solid 1px #bbbbbb;
   border-radius: 7px;
   background: #f6f5f7;
   box-shadow: 0px 1px #ececec;
}

button.gwt-Button-DefaultDialogAction {
   font-weight: 600;
   opacity: 0.8;
}

button.gwt-Button-DefaultDialogAction > table:first-child {
   background: #f9f9f9;
   border: solid 1px #adabab;
}

button.gwt-Button-DialogAction:active > table:first-child,
button.themedButton:active > table:first-child {
   background: #eaeaea;
}

button.gwt-Button-DialogAction:disabled > table:first-child,
button.themedButton:disabled > table:first-child {
   border: solid 1px #bfbfbf;
   background: #f9f9f9
}

.gwt-Button-DialogAction .buttonCenter,
button.themedButton .buttonCenter{
   background: none;
   height: 18px;
   padding: 3px 8px 3px 8px;
}

button.gwt-Button-DialogAction:active .buttonCenter,
button.gwt-Button-DialogAction:hover .buttonCenter,
button.gwt-Button-DialogAction:focus .buttonCenter,
button.gwt-Button-DialogAction:disabled .buttonCenter,
button.themedButton:active .buttonCenter,
button.themedButton:hover .buttonCenter,
button.themedButton:focus .buttonCenter,
button.themedButton:disabled .buttonCenter {
   background: none !important;
}

.gwt-Button-DialogActionLeft, .left {
   margin-left: -1px;
   margin-right: 8px;
}

.themedButton.tight {
   margin-left: -3px !important;
   margin-right: -3px !important;
}

.buttonCenter {
   height: 26px;
   padding-bottom: 3px;
   min-width: 60px;
}

.buttonContent {
   text-align: center;
   font-size: 12px;
   font-family: proportionalFont;
}

button[disabled] .buttonContent {
   color: #AAA;
}
