
.selectedItem
{
   background-color: #D6E5F2;
}

.anyItem
{
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.outerPanel
{
   margin: 0px;
   padding: 0px;
}

.scrollPanel
{
   background-color: #ffffff;
   border: 1px solid #999999;
   width: 100%;
   height: 100%;
   overflow: auto;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.outerPanel:focus
{
   outline: none;
}

.listPanel
{
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width: 100%;
}

.listPanel:focus
{
   outline: none;
}

.emptyMessage
{
   color: #737373;
   text-align: center;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

@eval THEME_DARKGREY_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyInactiveBackground;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;

.rstudio-themes-dark.rstudio-theme-aware-dialog .scrollPanel
{
   background-color: THEME_DARKGREY_INACTIVE;
   border-color: THEME_DARKGREY_BORDER;
   color: #eee;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .selectedItem
{
   background-color: rgba(255, 255, 255, 0.15);
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .emptyMessage
{
   color: #999;
}
