@external rstudio-themes-flat;

.mainWidget {
   width: 510px;
   height: 300px;
}

.headerLabel {
   font-size: 14px;
   font-weight: bold;
   cursor: default;
}

.headerPanel {
   width: 400px;
   height: 42px;	
}

.rstudio-themes-flat .headerPanel {
   margin-left: 5px;
}

.subcaptionLabel {
   font-size: 12px;
   color: #707070;
   margin-top: 3px;
   cursor: default;
   width: 410px;
}

.wizardBodyPanel {
   width: 533px; 
   height: 244px;
   margin-left: -10px;
   margin-right: -13px;
}

.rstudio-themes-flat .wizardBodyPanel {
   margin-left: -10px;
   margin-right: -10px;
}

.wizardPageSelector {
   
}

@sprite .wizardBackButton {
   gwt-image: 'wizardBackButton2x';
   border: none;
   font-weight: bold;
   padding-left: 26px;
   padding-top: 6px;
   background-size: 79px 30px;
}

@sprite .wizardPageSelectorItem {
   width: 100%;
   gwt-image: 'wizardPageSelectorBackground';
}

@sprite .wizardPageSelectorItemFirst {
   gwt-image: 'wizardPageSelectorBackgroundFirst';
}

@sprite .rstudio-themes-flat .wizardPageSelectorItemFirst {
   gwt-image: 'wizardPageSelectorBackground';
}

@sprite .wizardPageSelectorItemLast {
   gwt-image: 'wizardPageSelectorBackgroundLast';
}

.wizardPageSelectorItem:hover {
   background: #DAE7F6;	
}

.wizardPageSelectorItemSize {
   width: 100%;
   height: 34px;
}

.wizardPageSelectorItemLeftIcon {
   max-width: 20px;
   max-height: 20px;
   margin-left: 8px;
   margin-top: 8px;
}

.wizardPageSelectorItemRightArrow {
   margin-top: 10px;
}

.wizardPageSelectorItemLabel {
   margin-top: 10px;
   margin-left: 8px;
   white-space: nowrap;
}

@sprite .wizardPageBackground {
   gwt-image: 'wizardPageBackground';
}

.helpLink {
  margin-top: 6px;
}
