.mainWidget {
   width: 510px;
   height: 300px;
}

.headerLabel {
   font-size: 14px;
   font-weight: bold;
   cursor: default;
}

.headerPanel {
   width: 400px;
   height: 42px;	
}

.subcaptionLabel {
   font-size: 12px;
   color: #707070;
   margin-top: 3px;
   cursor: default;
   width: 410px;
}

.wizardBodyPanel {
   width: 533px; 
   height: 244px;
   margin-left: -10px;
   margin-right: -13px;
}

.wizardPageSelector {
   
}

@sprite .wizardBackButton {
   gwt-image: 'wizardBackButton';
   border: none;
   font-weight: bold;
   padding-left: 26px;
   padding-top: 6px;
}

@sprite .wizardPageSelectorItem {
   width: 100%;
   gwt-image: 'wizardPageSelectorBackground';
}

@sprite .wizardPageSelectorItemFirst {
   gwt-image: 'wizardPageSelectorBackgroundFirst';
}

@sprite .wizardPageSelectorItemLast {
   gwt-image: 'wizardPageSelectorBackgroundLast';
}

.wizardPageSelectorItem:hover {
   background: #DAE7F6;	
}

@sprite .wizardPageBackground {
   gwt-image: 'wizardPageBackground';
}

