button.fancy {
  background-color: #75aadb;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;
  border: 0;
  color: white;
}
