<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>libGwtDevPlugin.dylib</string>
    <key>CFBundleGetInfoString</key>
    <string>Copyright 2010 Google, Inc.</string>
    <key>CFBundleIdentifier</key>
    <string>com.google.gwt.devmode-npapi-plugin</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>GWT Devmode NPAPI Plugin</string>
    <key>CFBundlePackageType</key>
    <string>BRPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFPlugInDynamicRegisterFunction</key>
    <string></string>
    <key>CFPlugInDynamicRegistration</key>
    <string>NO</string>
    <key>WebPluginDescription</key>
    <string>Plugin to allow debugging of GWT applications in DevMode</string>
    <key>WebPluginMIMETypes</key>
    <dict>
      <key>application/x-gwt-hosted-mode</key>
      <dict>
        <key>WebPluginTypeDescription</key>
        <string>GWT DevMode</string>
      </dict>
    </dict>
    <key>WebPluginName</key>
    <string>GWT DevMode Plugin</string>
  </dict>
</plist>

