

.mainWidget {
   width: 360px;
}

.packageSourceListBox {
	width: 100%;
}

.packageSourcePanel {
   width: 99%;
   height: 50px;	
}

.configureRepositoriesImage {
   margin-right: 4px;
   margin-bottom: -4px;	
}

.configureRepositoriesLink {
   font-size: 0.8em;
   margin-top: 2px;
}

.packagesLabel {
   margin-bottom: 3px;	
}

.packageFileTextBox {
	margin-top: 0px;
	margin-right: 5px;
	width: 290px;
}

.packageFileBrowseButton {
	
}
	
.extraBottomPad {
   margin-bottom: 15px;	
}

.installDependenciesCheckBox {
}

