@def selectionBorderWidth 2px;

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.cellTableEvenRow {
  background: #ffffff;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
  background-color: #eef4fb;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #eef4fb;;
}
