@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();

@external ubuntu_mono;
@external rstudio-themes-flat, rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@external editor_dark;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.getDefaultBorder();
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.getDarkGreyBorder();
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.getAlternateBorder();

/* Styles here are applied to every DataGrid involved in the Packrat/Packages
   workflow, including the Packages pane itself and the actions/conflict 
   resolution dialogs. */
   
.dataGridHeader
{
	font-family: proportionalFont;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: proportionalFont;
   border-bottom: 1px solid #d6dadc;
   border-right: 1px solid #d6dadc;
   border-top: 1px solid white;
   border-left: 1px solid white;
   padding: 1px 6px;
   color: #3c474d;
   background-color: #eeeff1;
   font-weight: normal;
   text-align: left;
   border-collapse: separate;
   font-size: 11px;
   text-shadow: none;
}

.rstudio-themes-flat .dataGridHeader {
   border-top: none;
   border-left: none;
   height: 16px;
}

.rstudio-themes-flat .editor_dark .dataGridHeader {
   color: white;
}

.rstudio-themes-flat .dataGridHeader:last-child {
   border-right: none;
}

.dataGridCell
{
   padding: 1px 6px;
	vertical-align: top;
	color: #606060;
}

.rstudio-themes-flat .dataGridCell
{
   color: inherit;
}

.dataGridOddRow
{
	background-color: white; 
}

.rstudio-themes-flat .dataGridOddRow
{
   background-color: inherit;
}

.dataGridEvenRow
{
	background-color: white; 
}

.rstudio-themes-flat .dataGridEvenRow
{
   background-color: inherit;
}

.dataGridEvenRowCell
{
	border: none;
	border-bottom: 1px solid #e0e0e0;
}

.dataGridOddRowCell
{
	border: none;
	border-bottom: 1px solid #e0e0e0;
}

body.ubuntu_mono .dataGridCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.rstudio-themes-flat .rstudio-themes-default .dataGridHeader,
.rstudio-themes-flat .rstudio-themes-default .dataGridEvenRowCell,
.rstudio-themes-flat .rstudio-themes-default .dataGridOddRowCell {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .dataGridHeader,
.rstudio-themes-flat .rstudio-themes-dark-grey .dataGridEvenRowCell,
.rstudio-themes-flat .rstudio-themes-dark-grey .dataGridOddRowCell {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-flat .rstudio-themes-alternate .dataGridHeader,
.rstudio-themes-flat .rstudio-themes-alternate .dataGridEvenRowCell,
.rstudio-themes-flat .rstudio-themes-alternate .dataGridOddRowCell {
   border-color: THEME_ALTERNATE_BORDER;
}