@eval THEME_DARKGREY_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyInactiveBackground;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.mainWidget {
   height: 300px;
   border: 1px solid #BBB;
   background-color: white;
}

.explanatoryText, .mainWidget {
   width: 450px;
}

.explanatoryText {
   margin-bottom: 15px;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .mainWidget {
   background-color: THEME_DARKGREY_INACTIVE;
   border-color: THEME_DARKGREY_BORDER;
}
