@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

/* This is exposed to allow users to customize RStudio further with their rsthemes. */
@external dataGridHeader;

@eval THEME_DEFAULT_BACKGROUND org.rstudio.core.client.theme.ThemeColors.defaultBackground;
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;
@eval THEME_ALTERNATE_BACKGROUND org.rstudio.core.client.theme.ThemeColors.alternateBackground;

.packageColumn {
   display: flex;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.widgetColumnHeader {
   border-right: none;
}

.rstudio-themes-default .dataGridCell img {
   filter: brightness(0.90);
}

.rstudio-themes-dark .dataGridOddRow:hover,
.rstudio-themes-dark .dataGridEvenRow:hover
{
   background-color: rgba(255, 255, 255, 0.15);
}

.rstudio-themes-default .dataGridOddRow:hover,
.rstudio-themes-default .dataGridEvenRow:hover
{
   background-color: rgba(0, 0, 0, 0.05);
}

.rstudio-themes-default .dataGridOddRow:hover img,
.rstudio-themes-default .dataGridEvenRow:hover img
{
   filter: brightness(0.80);
}

.rstudio-themes-default .dataGridCell img:hover {
   filter: brightness(0.50) !important;
}

.rstudio-themes-dark .dataGridOddRow img:hover,
.rstudio-themes-dark .dataGridEvenRow img:hover
{
   filter: brightness(1.20);
}

.dataGridFirstColumn
{
   text-align: center;
}

.dataGridLastColumn
{
   padding-top: 3px;
   padding-left: 3px;
}

.packageOutOfSyncRow
{
   background-color: #fff9e2;
}

.packageNotApplicableColumn
{
   color: #b0b0b0;
}

.rstudio-themes-default .dataGridHeader {
   background: THEME_DEFAULT_BACKGROUND;
}

.rstudio-themes-dark-grey .dataGridHeader {
   background: THEME_DARKGREY_BACKGROUND;
}

.rstudio-themes-alternate .dataGridHeader {
   background: THEME_ALTERNATE_BACKGROUND;
}
