@def selectionBorderWidth 2px;
@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();

@external rstudio-themes-flat, rstudio-themes-dark;

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.cellTableEvenRow {
  background: #ffffff;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
  background-color: #eef4fb;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid #eef4fb;;
}

.libraryHeader h1
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 12px;
	color: #3c474d;
}

.rstudio-themes-flat .libraryHeader h1 {
   color: inherit;
}