@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.mainWidget {
   height: 300px;
   border: 1px solid #BBB;
   background-color: white;
}

.explanatoryText, .mainWidget {
   width: 450px;
}

.explanatoryText {
   margin-bottom: 15px;
}

.rstudio-themes-dark.rstudio-theme-aware-dialog .mainWidget {
   background-color: rgb(57, 67, 75);
   border-color: rgb(12, 31, 48);
}
