@def selectionBorderWidth 2px;

@external rstudio-themes-flat, rstudio-themes-dark;

.dataGridCell {
  padding: 0 1px;
}

.dataGridCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.dataGridLastColumnHeader {
  border-right: none;
}

.dataGridEvenRow, .dataGridOddRow, .dataGridHoveredRow, .dataGridSelectedRow, .dataGridKeyboardSelectedRow {
  background: #ffffff;
  color: #606060;
}

.dataGridWidget {

}

.rstudio-themes-flat .dataGridCell {
  padding: 0 1px;
  border-color: transparent;
}

.rstudio-themes-flat .rstudio-themes-dark .dataGridEvenRow,
.rstudio-themes-flat .rstudio-themes-dark .dataGridOddRow,
.rstudio-themes-flat .rstudio-themes-dark .dataGridHoveredRow,
.rstudio-themes-flat .rstudio-themes-dark .dataGridSelectedRow,
.rstudio-themes-flat .rstudio-themes-dark .dataGridKeyboardSelectedRow {
  background: inherit;
  color: inherit;
}