@def selectionBorderWidth 2px;

@external rstudio-themes-flat, rstudio-themes-dark;

.dataGridCell {
  padding: 0 1px;
}

.dataGridCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.dataGridLastColumnHeader {
  border-right: none;
}

.dataGridEvenRow, .dataGridOddRow, .dataGridHoveredRow, .dataGridSelectedRow, .dataGridKeyboardSelectedRow {
  background: #ffffff;
  color: #606060;
}

.dataGridEvenRowCell, .dataGridOddRowCell, .dataGridHoveredRowCell, .dataGridSelectedRowCell, .dataGridKeyboardSelectedRowCell, .dataGridKeyboardSelectedCell   {
  border: selectionBorderWidth solid #ffffff;
  color: #606060;
}

.rstudio-themes-flat .rstudio-themes-dark .dataGridOddRowCell img {
   filter: brightness(90%) saturate(90%);
}

.dataGridWidget {

}

.rstudio-themes-flat .dataGridCell {
  padding: 0 1px;
  border-color: transparent;
}

.rstudio-themes-flat .dataGridEvenRow,
.rstudio-themes-flat .dataGridOddRow,
.rstudio-themes-flat .dataGridHoveredRow,
.rstudio-themes-flat .dataGridSelectedRow,
.rstudio-themes-flat .dataGridKeyboardSelectedRow {
  background: inherit;
  color: inherit;
}

.rstudio-themes-flat .dataGridEvenRowCell,
.rstudio-themes-flat .dataGridOddRowCell,
.rstudio-themes-flat .dataGridHoveredRowCell,
.rstudio-themes-flat .dataGridSelectedRowCell,
.rstudio-themes-flat .dataGridKeyboardSelectedRowCell,
.rstudio-themes-flat .dataGridKeyboardSelectedCell   {
  color: inherit;
}

.rstudio-themes-flat .dataGridCell input[type=checkbox] {
  margin-left: 5px;
}
