@def selectionBorderWidth 2px;

.cellTableCell {
  padding: 0 1px;
}

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}

.cellTableLastColumnHeader {
  border-right: none;
}

.cellTableEvenRow, .cellTableOddRow, .cellTableHoveredRow, .cellTableSelectedRow, .cellTableKeyboardSelectedRow {
  background: #ffffff;
  color: #606060;
}

.cellTableEvenRowCell, .cellTableOddRowCell, .cellTableHoveredRowCell, .cellTableSelectedRowCell, .cellTableKeyboardSelectedRowCell, .cellTableKeyboardSelectedCell   {
  border: selectionBorderWidth solid #ffffff;
  color: #606060;
}
