
/* Based on:
http://code.google.com/p/google-web-toolkit/source/browse/trunk/user/src/com/google/gwt/user/cellview/client/CellTable.css
*/


@def selectionBorderWidth 2px;
.cellTableWidget {
  
}

.cellTableFirstColumn {
}


.cellTableLastColumn {
  
}

.cellTableFooter {
}

.cellTableHeader {
  border-bottom: 1px solid #d6dadc;  
  border-right: 1px solid #d6dadc;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 1px 2px;
  text-align: left;
  font-weight: normal;
  font-size: 11px;
  color: #3c474d;
  background-color: #eeeff1;
  overflow: hidden;
  cursor: default;
}

.cellTableCell {
  padding: 0px 1px;
  overflow: hidden;
}

.cellTableCell input[type=checkbox] {
   margin-top: 0;
   margin-bottom: 0;
}


.cellTableFirstColumnFooter {
  
}

.cellTableFirstColumnHeader {
 
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  border-right: none;
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow, .cellTableOddRow, .cellTableHoveredRow, .cellTableSelectedRow, .cellTableKeyboardSelectedRow {
  background: #ffffff;
  color: #606060;
}

.cellTableEvenRowCell, .cellTableOddRowCell, .cellTableHoveredRowCell, .cellTableSelectedRowCell, .cellTableKeyboardSelectedRowCell, .cellTableKeyboardSelectedCell   {
  border: selectionBorderWidth solid #ffffff;
  color: #606060;
}

.cellTableLoading {
  margin: 30px;
}

