@def selectionBorderWidth 2px;

@external rstudio-themes-dark;

.dataGridCell {
  padding: 0 1px;
}

.dataGridCell input[type=checkbox] {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  zoom: 1;
}

.dataGridLastColumnHeader {
  border-right: none;
}

.dataGridEvenRowCell, .dataGridOddRowCell, .dataGridHoveredRowCell, .dataGridSelectedRowCell, .dataGridKeyboardSelectedRowCell, .dataGridKeyboardSelectedCell   {
  border: selectionBorderWidth solid #ffffff;
}

.rstudio-themes-dark .dataGridCell img {
   filter: brightness(90%) saturate(90%);
}

.dataGridWidget {

}

.dataGridCell {
  padding: 0 1px;
  border-color: transparent;
}

.dataGridEvenRow,
.dataGridOddRow,
.dataGridHoveredRow,
.dataGridSelectedRow,
.dataGridKeyboardSelectedRow {
  background: inherit;
}

