@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

.xtermHyperlink {
    text-decoration: underline; 
    cursor: pointer; 
    text-decoration-style: dotted;
}

.xtermHyperlink:hover { 
    text-decoration: underline; 
    text-decoration-style: solid; 
}

.xtermRunHyperlink {
    text-decoration: underline; 
    text-decoration-style: dotted;
    cursor: pointer;
}

.code {
    font-family: fixedWidthFont;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
 
.arbitraryCode {
    font-family: fixedWidthFont;
    opacity: 0.7;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
 
.xtermUnsupportedHyperlink { 
    text-decoration: underline; 
    text-decoration-style: dotted;
    cursor: not-allowed;
}
 
.helpPreview {
    color: #000023;
    background-color: #ffffca;
    padding: 5px;
    border-top: 1px solid #ccc;
    z-index: 9001;
    
    padding-top: 5px;
    margin-left: 0px;
}
 
.helpTitle {
    font-weight: bold;
}
 
.helpDescription {
    margin-top: 4px;
    margin-bottom: 4px; 
}
 
.helpHyperlink {
    text-decoration: underline; 
    cursor: help; 
    text-decoration-style: dotted;
}
 
.warning {
    font-size: smaller;
    font-style: italic;
    color: red;
    padding-left: 5px;
}
 
.helpTitlePanel {
    width: 100%;
}

.helpTitlePanelPackage {
    font-family: fixedWidthFont;
    float: right;
    padding-right: 5px;
    color: #ccc;
}

.helpTitlePanelTopic {
    font-family: fixedWidthFont;
    padding-left: 5px;
}

.popupPanel {
    max-width: 400px;
}
 