@external editor_dark, ace_editor_theme;

@eval THEME_DARK_ROW_SELECTED org.rstudio.core.client.theme.ThemeColors.darkRowSelected;
@eval THEME_DARK_ROW_FOCUSED org.rstudio.core.client.theme.ThemeColors.darkRowFocused;

.iconCell {
   vertical-align: top;
   width: 34px;
   padding: 2px 3px;
}

.lineCell {
   color: #777;
   vertical-align: top;
   white-space: nowrap;
   width: 1%;
   padding-right: 8px;
}

.selectedRow .lineCell {
   color: #666;
}

.messageCell {
   white-space: pre;
   width: 100%;
   vertical-align: top;
   padding-right: 8px;
}

.messageCell strong {
   font-weight: normal;
   color: #66A;
}

.selectedRow {
   background-color: #ccc;
}

.editor_dark .ace_editor_theme .selectedRow {
   background-color: THEME_DARK_ROW_SELECTED;
}

*:focus .selectedRow {
   background-color: rgb(146, 193, 240)
}

.editor_dark .ace_editor_theme *:focus .selectedRow {
   background-color: THEME_DARK_ROW_FOCUSED;
}

.headerRow td {
   font-weight: bold;
   padding: 2px 2px 2px 3px;
   width: 100%;
}

.table {
   outline: none;
}

.errorIcon {
   width: 16px !important;
   height: 14px !important;
   background-size: 16px 14px !important;
}

.warningIcon {
   width: 16px !important;
   height: 14px !important;
   background-size: 16px 14px !important;
}

.boxIcon {
   width: 16px !important;
   height: 14px !important;
   background-size: 16px 14px !important;
}

.infoIcon {
   width: 16px !important;
   height: 14px !important;
   background-size: 16px 14px !important;
}

.styleIcon {
   width: 16px !important;
   height: 14px !important;
   background-size: 16px 14px !important;
}

@sprite .errorIcon {
   gwt-image: 'error2x';
}

@sprite .warningIcon {
   gwt-image: 'warning2x';
}

@sprite .boxIcon {
   gwt-image: 'badbox2x';
}

@sprite .infoIcon {
   gwt-image: 'info2x';
}

@sprite .styleIcon {
   gwt-image: 'style2x';
}

.noIcon {
  width: 3%;
}

div.disclosure {
   margin-top: 1px;
   margin-right: 3px;
}

.selectedRow div.disclosure {
   width: 20;
   height: 18;
}

@sprite .selectedRow div.disclosure {
   gwt-image: 'logContextButton2x';
   width: 20px !important;
   height: 16px !important;
   background-size: 20px 16px !important;
}
