@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external editor_dark;
@external rstudio-themes-flat, rstudio-themes-dark;

@eval THEME_DARK_ROW_SELECTED org.rstudio.core.client.theme.ThemeColors.darkRowSelected;
@eval THEME_DARK_ROW_FOCUSED org.rstudio.core.client.theme.ThemeColors.darkRowFocused;

.findOutput {
   width: 100%;
   height: 100%;
}

.rstudio-themes-flat .findOutput {
   outline: none;
}

.findOutput tr {
   height: 20px;
}

.findOutput .headerRow td {
   font-weight: bold;
   font-size: 12px !important;
   padding: 2px 2px 2px 3px;
}

.line {
   color: #777;
   font-family: fixedWidthFont;
   text-align: right;
   padding-left: 12px;
}

.lineValue {
   font-family: fixedWidthFont;
   padding-right: 2px;
   white-space: nowrap;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.selectedRow {
   background-color: #ccc;
}
*:focus .selectedRow {
   background-color: rgb(146, 193, 240)
}
@if user.agent ie8 {
   .selectedRow {
      background-color: rgb(146, 193, 240)
   }
}

.rstudio-themes-flat .rstudio-themes-dark .selectedRow {
   background-color: THEME_DARK_ROW_SELECTED;
}

.rstudio-themes-flat .rstudio-themes-dark *:focus .selectedRow {
   background-color: THEME_DARK_ROW_FOCUSED;
}

.editor_dark .selectedRow {
   color: #FFF;
}

.overflowWarning {
   font-weight: bold;
   padding-left: 2px;
   background-color: #900;
   color: white;
}

.findOutput strong {
   font-weight: normal;
   color: #66A;
}