@external gwt-Label;

@sprite .shelf {
   gwt-image: 'shelfbg';
   padding: 0 8px 1px 8px;
}

@sprite .largeShelf {
   gwt-image: 'shelfbgLarge';
   padding: 0 8px 1px 8px;
}

.shelf .gwt-Label {
   font-size: 10px;
}

.largeShelf .gwt-Label {
   font-size: 10px;
}

.left button {
   margin-right: 4px;
}

.right button {
   margin-left: 4px;
}