@external gwt-Label;

@external rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BACKGROUND org.rstudio.core.client.theme.ThemeColors.defaultBackground;
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;
@eval THEME_ALTERNATE_BACKGROUND org.rstudio.core.client.theme.ThemeColors.alternateBackground;

@sprite .shelf {
   gwt-image: 'shelfbg';
   padding: 0 8px 1px 8px;
}

@sprite .largeShelf {
   gwt-image: 'shelfbgLarge';
   padding: 0 8px 1px 8px;
}

.shelf .gwt-Label {
   font-size: 10px;
}

.largeShelf .gwt-Label {
   font-size: 10px;
}

.left button {
   margin-right: 4px;
}

.right button {
   margin-top: 1px;
   margin-left: 4px;
}

.rstudio-themes-dark .shelf {
   color: #FFF;
}

.rstudio-themes-default .shelf {
   background: THEME_DEFAULT_BACKGROUND;
}

.rstudio-themes-dark-grey .shelf {
   background: THEME_DARKGREY_BACKGROUND;
}

.rstudio-themes-alternate .shelf {
   background: THEME_ALTERNATE_BACKGROUND;
}
