@external rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.defaultBorder;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.alternateBorder;

.panel {
   width: 100%;
   padding: 0 8px 0 8px;
   margin-top: 7px;
   overflow: visible;
}

@sprite .center {
   gwt-image: 'headerPanelTile';
}

.center {
   background: #f3f4f7;
   height: 48px;
   border: solid 1px #d6dadc;
   border-radius: 5px;
}

.rstudio-themes-dark .center,
.rstudio-themes-dark .center button {
   color: white;
}

.rstudio-themes-default .center {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-dark-grey .center {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-alternate .center {
   border-color: THEME_ALTERNATE_BORDER;
}
