@external rstudio-themes-flat, rstudio-themes-dark;
@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.getDefaultBorder();
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.getDarkGreyBorder();
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.getAlternateBorder();

.panel {
   width: 100%;
   padding: 0 7px 0 7px;
   margin-top: 10px;
   overflow: visible;
}

.rstudio-themes-flat .panel {
   padding: 0 8px 0 8px;
   margin-top: 8px;
}

@sprite .left {
   gwt-image: 'headerPanelLeft';
}

.rstudio-themes-flat .left {
   display: none;
}

@sprite .center {
   gwt-image: 'headerPanelTile';
}

.rstudio-themes-flat .center {
   background: #f3f4f7;
   height: 48px;
   border: solid 1px #d6dadc;
   border-radius: 5px;
}

@sprite .right {
   gwt-image: 'headerPanelRight';
}

.rstudio-themes-flat .right {
   display: none;
}

.rstudio-themes-flat .rstudio-themes-dark .center,
.rstudio-themes-flat .rstudio-themes-dark .center button {
   color: white;
}

.rstudio-themes-flat .rstudio-themes-default .center {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-flat .rstudio-themes-dark-grey .center {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-flat .rstudio-themes-alternate .center {
   border-color: THEME_ALTERNATE_BORDER;
}