@eval proportionalFont org.rstudio.core.client.theme.ThemeFonts.getProportionalFont();
@eval fixedWidthFont org.rstudio.core.client.theme.ThemeFonts.getFixedWidthFont();

@external gwt-SplitLayoutPanel-VDragger, gwt-SplitLayoutPanel-HDragger;

@external rstudio-themes-default, rstudio-themes-dark-grey, rstudio-themes-alternate;

@eval THEME_DEFAULT_BORDER org.rstudio.core.client.theme.ThemeColors.defaultBorder;
@eval THEME_DARKGREY_BORDER org.rstudio.core.client.theme.ThemeColors.darkGreyBorder;
@eval THEME_ALTERNATE_BORDER org.rstudio.core.client.theme.ThemeColors.alternateBorder;

/** BEGIN SHARED BETWEEN HISTORY AND REVIEW PANELS **/

.splitPanel {
   background-color: #f3f4f4;
}
@sprite .splitPanel .gwt-SplitLayoutPanel-VDragger {
   gwt-image: 'splitterTileV';
}
@sprite .splitPanelCommit .gwt-SplitLayoutPanel-HDragger {
   gwt-image: 'splitterTileH';
}

.whitebg {
   background-color: white;
}

.toolbar {
   background-image: none !important;
   border: none;
}

@sprite .toolbarWrapper {
   position: relative;
   gwt-image: 'toolbarTile';
   padding-top: 2px;
   font-size: 11px;
}
.toolbarWrapper select {
   font-size: 11px;
}

.toolbarWrapper {
   background: #f4f8f9;
   border-bottom: solid 1px;
   height: 25px;
}

.toolbarInnerWrapper {
   border: none;
}

.diffToolbarInnerWrapper {
   border: none;
}

.diffToolbarWrapper {
   height: 28px; 
}

.splitPanelCommit .gwt-SplitLayoutPanel-HDragger {
   border-left: solid 1px #000;
   border-right: solid 1px #000;
   width: 2px !important;
}

.splitPanel .gwt-SplitLayoutPanel-VDragger {
   border-top: solid 1px #000;
   border-bottom: solid 1px #000;
   height: 2px !important;
}

.toolbarWrapper,
.splitPanelCommit .gwt-SplitLayoutPanel-HDragger,
.splitPanel .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_DEFAULT_BORDER;
}

.rstudio-themes-dark-grey .toolbarWrapper,
.rstudio-themes-dark-grey .splitPanelCommit .gwt-SplitLayoutPanel-HDragger,
.rstudio-themes-dark-grey .splitPanel .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_DARKGREY_BORDER;
}

.rstudio-themes-alternate .toolbarWrapper,
.rstudio-themes-alternate .splitPanelCommit .gwt-SplitLayoutPanel-HDragger,
.rstudio-themes-alternate .splitPanel .gwt-SplitLayoutPanel-VDragger {
   border-color: THEME_ALTERNATE_BORDER;
}

/** END SHARED BETWEEN HISTORY AND REVIEW PANELS **/


.splitPanelCommit {
   background-color: #f3f4f4;
   font-size: 11px;
}

.stagedLabel {
   display: inline;
   margin-right: 8px;
}

.staged {
   margin-right: 8px;
}

.unstaged {
   margin-right: 22px;
}

.diffToolbar {
   width: auto;
}

.diffViewOptions {
   white-space: nowrap;
   margin-left: 6px;
   margin-right: 16px;
}

.commitMessage {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   resize: none;
   border: 1px solid #c3c5c7;
   border-radius: 4px;
   padding: 3px;
   margin: 0;
   font-family: fixedWidthFont;
}

.commitButton {
   float: right;
   margin-right: 0;
}

.ignoreWhitespace {
   margin-left: 10px;
}

.ignoreWhitespace label {
   margin-left: 4px;
}
