/* \*/
* html #tlc, * html #trc {height: 1%;}
/* */

#tlc, #trc { zoom: 1 }

h2 {background-color: transparent}
p {background-color: fuchsia}
    A:link {text-decoration: none; color: blue;}
A:visited {text-decoration: none; color: blue;}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: maroon;}

body
	{
	margin: 0;
	padding: 0;
    background-color: white;
	font-size: 100.01%;
	text-align: center; 
	}

#box
	{
	position: absolute;
	margin-left: 0;
	margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
	text-align: left;
    z-index: 1;
    opacity:0.7; 
	}
 	
#content
	{
    height:25px;
	}

.barlabel {
    
    position: absolute;
    font-size: 14px;
    text-color: maroon;
    z-index: 2;
    text-align: left;
    

}

#content h1
	{
	color:#0354c2;
	font-weight: bold;
	font-size: 1.2em;
	font-family: helvetica, geneva, arial, sans-serif;
	}
		
#content p
	{
	color:#3b3b3b;
	font-size: 1em;
	line-height: 1.3em;
	font-family: arial, helvetica, sans-serif;
	}


		
/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border 
*/

#tlc, #trc, #blc, #brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

#tlc
	{
	background-image:url(images/tlc.gif);
	background-position: 0% 0%;
	}

#trc
	{
	background-image:url(images/trc.gif);
	background-position: 100% 0%;
	}
	
#blc
	{
	background-image:url(images/blc.gif);
	background-position: 0% 100%;
	}

#brc
	{
	background-image:url(images/brc.gif);
	background-position: 100% 100%;
	}

#tb, #bb
	{
	 background-color: transparent;
	background-repeat: repeat-x;
	}
			
#tb
	{
	background-image:url(images/tb.gif);
	background-position: 0% 0%;
	}

#bb
	{
	background-image:url(images/bb.gif);
	background-position: 50% 100%;
	}
	
#rb
	{
	background-image:url(images/r.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

#lb
	{
	background-color: #eeeeee;
	background-image:url(images/l.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
			
