
.conflictLabel {
   margin-bottom: 10px;
}


.choicesGrid {
   margin-top: 15px;
   margin-bottom: 20px;
}

.choiceButton {
   margin-left: 4px;
}

.resolutionLabel {
   font-weight: bold;
}

.conflictsTable {
   border: 1px solid #BBB;
   background-color: white;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

@eval THEME_DARKGREY_MOST_INACTIVE org.rstudio.core.client.theme.ThemeColors.darkGreyMostInactiveBackground;
@eval THEME_DARKGREY_BACKGROUND org.rstudio.core.client.theme.ThemeColors.darkGreyBackground;

.rstudio-themes-dark.rstudio-theme-aware-dialog .conflictsTable {
   background-color: THEME_DARKGREY_MOST_INACTIVE;
   border-color: THEME_DARKGREY_BACKGROUND;
   color: #eee;
}
