
.conflictLabel {
   margin-bottom: 10px;
}


.choicesGrid {
   margin-top: 15px;
   margin-bottom: 20px;
}

.choiceButton {
   margin-left: 4px;
}

.resolutionLabel {
   font-weight: bold;
}

.conflictsTable {
   border: 1px solid #BBB;
   background-color: white;
}

@external rstudio-themes-dark;
@external rstudio-theme-aware-dialog;

.rstudio-themes-dark.rstudio-theme-aware-dialog .conflictsTable {
   background-color: rgb(47, 57, 65);
   border-color: rgb(78, 92, 104);
   color: #eee;
}
